<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x mdl-color-text--white"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong ng-if="lang==='AR'">اضافة فحص جديد للطلب رقم /  </strong>
                <strong ng-if="lang==='EN'">Add Detection Type To Order Number /  </strong>
                <strong>{{orderDetectionType.order.code}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="detectionType" class="control-label">
                    <span ng-if="lang==='AR'">نوع الفحص</span>
                    <span ng-if="lang==='EN'">Detection Type</span>
                    <a href="" ng-click="newDetectionType()" ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])">
                        <strong ng-if="lang==='AR'">نوع جديد...</strong>
                        <strong ng-if="lang==='EN'">New Type...</strong>
                    </a>
                </label>
                <ui-select id="detectionType"
                           focus-autofocus="1"
                           ng-model="orderDetectionType.detectionType"
                           required=""
                           disable-validation-message=""
                           theme="bootstrap">
                    <ui-select-match placeholder="{{lang==='AR' ? 'اختر النوع...' : 'Select Detection Service...'}}">
                            <span ng-if="orderDetectionType.detectionType.id">
                                <span>[{{$select.selected.code}}] {{$select.selected.nameArabic}} - {{$select.selected.nameEnglish}}</span>
                            </span>
                    </ui-select-match>
                    <ui-select-choices
                            repeat="detectionType in detectionTypes | filter: $select.search | orderBy:'code' track by detectionType.id">
                        <div ng-if="lang==='AR'" ng-bind-html="detectionType.name | highlight: $select.search"></div>
                        <small>
                            <span ng-if="lang==='AR'">اسم الفحص عربي : </span>
                            <span ng-if="lang==='EN'">Arabic Name: </span>
                            <span ng-bind-html="''+detectionType.nameArabic | highlight: $select.search"></span>
                            <br/>
                            <span ng-if="lang==='AR'">اسم الفحص إنجليزي : </span>
                            <span ng-if="lang==='EN'">English Name: </span>
                            <span ng-if="lang==='AR'" ng-bind-html="''+detectionType.nameEnglish | highlight: $select.search"></span>
                            <br/>
                            <span ng-if="lang==='AR'">تكلفة الفحص : </span>
                            <span ng-if="lang==='EN'">Cost: </span>
                            <span ng-if="lang==='AR'" ng-bind-html="''+detectionType.cost | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>