<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">add</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body" ng-init="searchByFalconCode=true">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title-box"
                                 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                <h3 ng-if="lang==='AR'">خيارات البحث</h3>
                                <h3 ng-if="lang==='EN'">Search Options</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="height: 400px; overflow: auto">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="customerName" class="control-label">
                                        <span ng-if="lang==='AR'">اسم العميل يحتوي على</span>
                                        <span ng-if="lang==='EN'">Customer Name Contains</span>
                                    </label>
                                    <input id="customerName"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.customerName">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="customerMobile" class="control-label">
                                        <span ng-if="lang==='AR'">رقم جوال العميل يحتوي على</span>
                                        <span ng-if="lang==='EN'">Customer Mobile Contains</span>
                                    </label>
                                    <input id="customerMobile"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.customerMobile">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="customerIdentityNumber" class="control-label">
                                        <span ng-if="lang==='AR'">رقم بطاقة العميل تحتوي على</span>
                                        <span ng-if="lang==='EN'">Customer ID Contains</span>
                                    </label>
                                    <input id="customerIdentityNumber"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.customerIdentityNumber">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="falconCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الصقر يحتوي على</span>
                                        <span ng-if="lang==='EN'">Falcon Code Contains</span>
                                    </label>
                                    <input id="falconCode"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.falconCode">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="falconType" class="control-label">
                                        <span ng-if="lang==='AR'">نوع الصقر يحتوي على</span>
                                        <span ng-if="lang==='EN'">Falcon Type Contains</span>
                                    </label>
                                    <input id="falconType"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.falconType">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="weightFrom" class="control-label">
                                        <span ng-if="lang==='AR'">وزن الصقر من</span>
                                        <span ng-if="lang==='EN'">Falcon Weight From</span>
                                    </label>
                                    <input id="weightFrom"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.weightFrom">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="weightTo" class="control-label">
                                        <span ng-if="lang==='AR'">وزن الصقر إلى</span>
                                        <span ng-if="lang==='EN'">Falcon Weight To</span>
                                    </label>
                                    <input id="weightTo"
                                           type="text"
                                           class="form-control"
                                           ng-model="param.weightTo">
                                </div>

                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <button uib-tooltip="{{lang==='AR'? 'بحث' : 'Search'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-click="search();"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                                    <i class="material-icons">search</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                                        tooltip-append-to-body="true"
                                        type="reset"
                                        ng-click="buffer={};"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                                <li>
                                    <a href=""
                                       ng-click="search()"
                                       tooltip-append-to-body="true"
                                       uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                    <a href=""
                                       ng-if="contains(me.team.authorities, ['ROLE_FALCON_UPDATE'])"
                                       ng-click="ModalProvider.openFalconUpdateModel(order.falcon);"
                                       ng-hide="!buffer.customer.falcons || buffer.customer.falcons.length==0 || !order.falcon"
                                       tooltip-append-to-body="true"
                                       uib-tooltip="{{lang==='AR' ? 'تعديل بيانات الحساب' : 'Edit Falcon Information...'}}">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a href=""
                                       ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE'])"
                                       ng-click="newFalcon(buffer.customer)"
                                       tooltip-append-to-body="true"
                                       uib-tooltip="{{lang==='AR' ? 'حساب جديد' : 'New Falcon...'}}">
                                        <span class="fa fa-plus-square"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                <h3 ng-if="lang==='AR'">نتائج البحث (قائمة الصقور)</h3>
                                <h3 ng-if="lang==='EN'">Search Results (Falcons List)</h3>
                            </div>
                        </div>
                        <div class="panel-body panel-body-table">
                            <div class="table-responsive">
                                <table st-table="collection1" st-safe-src="falcons"
                                       class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span ng-if="lang==='AR'">م</span>
                                            <span ng-if="lang==='EN'">#</span>
                                        </th>

                                        <th st-sort="code">
                                            <span ng-if="lang==='AR'">رقم الصقر</span>
                                            <span ng-if="lang==='EN'">Code</span>
                                        </th>

                                        <th st-sort="type">
                                            <span ng-if="lang==='AR'">النوع</span>
                                            <span ng-if="lang==='EN'">Type</span>
                                        </th>

                                        <th st-sort="weight">
                                            <span ng-if="lang==='AR'">الوزن</span>
                                            <span ng-if="lang==='EN'">Weight</span>
                                        </th>

                                        <th st-sort="customer.person.name">
                                            <span ng-if="lang==='AR'">العميل</span>
                                            <span ng-if="lang==='EN'">Customer</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="falcon in collection1"
                                        st-select-mode="single"
                                        ng-click="setSelectedFalcon(falcon)"
                                        ng-right-click="setSelectedFalcon(falcon)">
                                        <td st-select-row-custom="falcon">{{$index+1}}</td>
                                        <td st-select-row-custom="falcon">
                                            <a ng-click="ModalProvider.openFalconDetailsModel(falcon);" href=""><strong>{{falcon.code}}</strong></a>
                                        </td>
                                        <td st-select-row-custom="falcon">{{falcon.type}}</td>
                                        <td st-select-row-custom="falcon">
                                            <span>{{falcon.weight}} جرام</span>
                                        </td>
                                        <td st-select-row-custom="falcon">{{falcon.customer.nickname}} {{falcon.customer.name}}</td>
                                    </tr>
                                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-show="!collection1 || collection1.length ==0">
                                        <td colspan="5">
                                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                            <span ng-if="lang==='EN'">No Data Found.</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="selectedFalcon.id" >
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshDetectionTypes()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                                   ng-click="newDetectionType()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء نوع جديد' : 'New Detection Type...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">الفحوصات المطلوبة (العميل / {{selectedFalcon.customer.name}})</h3>
                            <h3 ng-if="lang==='EN'">Required Detections (Customer / {{selectedFalcons.customer.name}})</h3>
                            <fieldset ng-if="selectedFalcon">
                                <strong ng-if="lang==='AR'">رقم الصقر / {{selectedFalcon.code}}</strong>
                                <strong ng-if="lang==='EN'">Falcon Code / {{selectedFalcon.code}}</strong>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <label for="cost" class="control-label">
                                        <span ng-if="lang==='AR'">خصم مبيعات</span>
                                        <span ng-if="lang==='EN'">Discount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="cost">
                                        <span class="input-group-addon">
                                            <span ng-if="lang==='AR'">ريال سعودي</span>
                                            <span ng-if="lang==='EN'">SAR</span>
                                        </span>
                                        <input dir="rtl"
                                               type="number"
                                               min="0"
                                               max="100"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="order.discount">
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <label for="detectionType" class="control-label">
                                        <span ng-if="lang==='AR'">نوع الفحص</span>
                                        <span ng-if="lang==='EN'">Detection Type</span>
                                    </label>
                                    <select id="detectionType"
                                            data-placeholder="{{lang==='AR' ? 'ابحث عن النوع' : 'Search For Type...'}}"
                                            no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                            placeholder-text-single="'{{lang==='AR' ? 'اختر النوع' : 'Please Select Type...'}}'"
                                            class="form-control"
                                            chosen=""
                                            ng-model="buffer.selectedDetectionType"
                                            disable-validation-message=""
                                            ng-options="('[ ' + detectionType.code + ' ] ' + (lang==='AR' ? detectionType.nameArabic : detectionType.nameEnglish) + ' [ ' + detectionType.cost + ' SAR ' + ' ] ') for detectionType in detectionTypes | orderBy:'code' track by detectionType.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                    <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Add'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="addDetectionTypeToList()"
                                            style="margin-top: 25px; height: 40px;width: 100%;"
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table st-table="collection2" st-safe-src="orderDetectionTypeList"
                                           class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                        <thead>
                                        <tr>
                                            <th>
                                                <span ng-if="lang==='AR'">م</span>
                                                <span ng-if="lang==='EN'">#</span>
                                            </th>

                                            <th st-sort="code">
                                                <span ng-if="lang==='AR'">رقم الفحص</span>
                                                <span ng-if="lang==='EN'">Detection Code</span>
                                            </th>

                                            <th st-sort="nameArabic">
                                                <span ng-if="lang==='AR'">نوع الفحص</span>
                                                <span ng-if="lang==='EN'">Detection Type</span>
                                            </th>

                                            <th st-sort="cost">
                                                <span ng-if="lang==='AR'">تكلفة الفحص</span>
                                                <span ng-if="lang==='EN'">Detection Cost</span>
                                            </th>

                                            <th>
                                                <span ng-if="lang==='AR'">العمليات</span>
                                                <span ng-if="lang==='EN'">Action</span>
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="orderDetectionType in collection2">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                {{orderDetectionType.detectionType.code}}
                                            </td>
                                            <td>
                                                <span ng-if="lang==='AR'">{{orderDetectionType.detectionType.nameArabic}}</span>
                                                <span ng-if="lang==='EN'">{{orderDetectionType.detectionType.nameEnglish}}</span>
                                            </td>
                                            <td>
                                                <span class="label label-primary">{{orderDetectionType.detectionType.cost}} SAR</span>
                                            </td>
                                            <td>
                                                <a href="" ng-click="removeDetectionTypeFromList($index)">
                                                    <strong ng-if="lang==='AR'">حذف</strong>
                                                    <strong ng-if="lang==='EN'">Remove</strong>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                            ng-show="!collection2 || collection2.length ==0">
                                            <td colspan="5">
                                                <span ng-if="lang==='AR'">فضلاً اختر الفحوصات المطلوبة</span>
                                                <span ng-if="lang==='EN'">Please Select Required Detections</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="totalCost > 0">
                                <div class="alert alert-info" role="alert">
                                    <strong ng-if="lang==='AR'">إجمالي تكلفة الطلب</strong>
                                    <strong ng-if="lang==='EN'">Total Order Cost</strong>
                                    <span>{{totalCost}} SAR</span>
                                    <br/>
                                    <strong ng-if="lang==='AR'">خصم المبيعات</strong>
                                    <strong ng-if="lang==='EN'">Discount</strong>
                                    <span>{{(totalCost * order.discount) / 100}} SAR</span>
                                    <br/>
                                    <strong ng-if="lang==='AR'">الإجمالي بعد الخصم</strong>
                                    <strong ng-if="lang==='EN'">Net Cost</strong>
                                    <span>{{totalCost - ((totalCost * order.discount) / 100)}} SAR</span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="paymentMethod" class="control-label">
                                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </label>
                                    <select id="paymentMethod"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="order.paymentMethod">
                                        <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                                        <option ng-if="lang==='EN'" value="Cash">Cash</option>
                                        <option ng-if="lang==='AR'" value="Check">شيك</option>
                                        <option ng-if="lang==='EN'" value="Check">Check</option>
                                        <option ng-if="lang==='AR'" value="Later">آجل</option>
                                        <option ng-if="lang==='EN'" value="Later">Later</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="checkCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الشيك</span>
                                        <span ng-if="lang==='EN'">Check Code</span>
                                    </label>
                                    <input id="checkCode"
                                           type="number"
                                           ng-required="order.paymentMethod==='Check'"
                                           ng-disabled="order.paymentMethod!=='Check'"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="order.checkCode">
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="description" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات الدفع</span>
                                    <span ng-if="lang==='EN'">Payment Notes</span>
                                </label>
                                <textarea id="description"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="order.note">
                                </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="selectedFalcon.id">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshDoctors()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_UPDATE'])"
                                   ng-click="ModalProvider.openDoctorUpdateModel(order.doctor);"
                                   ng-hide="!doctors || doctors.length==0 || !order.doctor"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تعديل بيانات الطبيب' : 'Edit Doctor Information...'}}">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE'])"
                                   ng-click="newDoctor()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'طبيب جديد' : 'New Doctor...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">بيانات الأطباء</h3>
                            <h3 ng-if="lang==='EN'">Doctors Information</h3>
                            <span ng-if="lang==='AR'">بحث متعدد عن الأطباء</span>
                            <span ng-if="lang==='EN'">Multi-Search For Doctors</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="doctorName" class="control-label">
                                    <span ng-if="lang==='AR'">الاسم</span>
                                    <span ng-if="lang==='EN'">Name</span>
                                </label>
                                <select id="doctorName"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن الاسم' : 'Search For Name...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر الاسم' : 'Please Select Name...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="order.doctor"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="doctor.person.name for doctor in doctors | orderBy:'person.name' track by doctor.id">
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="doctorIdentityNumber" class="control-label">
                                    <span ng-if="lang==='AR'">رقم البطاقة</span>
                                    <span ng-if="lang==='EN'">Identity Number</span>
                                </label>
                                <select id="doctorIdentityNumber"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن رقم البطاقة' : 'Search For ID...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر رقم البطاقة' : 'Please Select ID...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="order.doctor"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="doctor.person.identityNumber for doctor in doctors | orderBy:'person.identityNumber' track by doctor.id">
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="doctorMobile" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الجوال</span>
                                    <span ng-if="lang==='EN'">Mobile</span>
                                </label>
                                <select id="doctorMobile"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن رقم الجوال' : 'Search For Mobile...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر رقم الجوال' : 'Please Select Mobile...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="order.doctor"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="doctor.person.mobile for doctor in doctors | orderBy:'person.mobile' track by doctor.id">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="selectedFalcon.id">
                <input id="uploader" style="display: none" type="file" onchange="angular.element(this).scope().initFiles(this.files);" multiple/>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_ORDER_ATTACH_CREATE'])"
                                   ng-click="uploadFiles()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'مرفق جديد' : 'New Attachment...'}}">
                                    <span class="fa fa-paperclip"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_ORDER_ATTACH_CREATE'])"
                                   ng-click="scanToJpg()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'فحص ملف' : 'Scan File...'}}">
                                    <span class="fa fa-file-image-o"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">المرفقات والمستندات</h3>
                            <h3 ng-if="lang==='EN'">Documents & Attachments</h3>
                            <span ng-if="lang==='AR'">مستندات المريض</span>
                            <span ng-if="lang==='EN'">Patient Documents</span>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span ng-if="lang==='AR'">م</span>
                                            <span ng-if="lang==='EN'">#</span>
                                        </th>
                                        <th class="text-center">
                                            <span ng-if="lang==='AR'">اسم الملف</span>
                                            <span ng-if="lang==='EN'">File Name</span>
                                        </th>
                                        <th class="text-center">
                                            <span ng-if="lang==='AR'">حجم الملف</span>
                                            <span ng-if="lang==='EN'">File Size</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="wrapper in wrappers"
                                        ng-class="{'success':wrapper.link, 'danger' : !wrapper.link}">
                                        <td>{{$index+1}}</td>
                                        <td>{{wrapper.name}}</td>
                                        <td>{{wrapper.size/1024/1024|number:2}} MB</td>
                                    </tr>
                                    <tr class="blank_row"
                                        style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-show="!wrappers || wrappers.length ==0">
                                        <td colspan="3">
                                            <span ng-if="lang==='AR'">فضلاً قم برفع الملفات</span>
                                            <span ng-if="lang==='EN'">Please Upload Files.</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>