<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong ng-if="lang==='AR'">اضافة فحص جديد للطلب رقم /  </strong>
                <strong ng-if="lang==='EN'">Add Detection Type To Order Number \  </strong>
                <strong>{{orderDetectionType.order.code}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">بيانات طلب الفحص</h3>
                            <h3 ng-if="lang==='EN'">Order Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">رقم الطلب</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </td>
                                    <td>{{orderDetectionType.order.code}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">تاريخ الطلب</span>
                                        <span ng-if="lang==='EN'">Order Date</span>
                                    </td>
                                    <td>
                                        {{orderDetectionType.order.date | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                        <span class="label label-success">{{orderDetectionType.order.date | date:'h:m a'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">رقم الصقر</span>
                                        <span ng-if="lang==='EN'">Falcon Code</span>
                                    </td>
                                    <td>{{orderDetectionType.order.falcon.code}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">العميل</span>
                                        <span ng-if="lang==='EN'">Customer</span>
                                    </td>
                                    <td>{{orderDetectionType.order.falcon.customer.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">الطبيب المعالج</span>
                                        <span ng-if="lang==='EN'">Doctor</span>
                                    </td>
                                    <td>{{orderDetectionType.order.doctor.person.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshDetectionTypes()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                                   ng-click="newDetectionType()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء نوع جديد' : 'New Detection Type...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">البيانات المطلوبة</h3>
                            <h3 ng-if="lang==='EN'">Required Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="detectionType" class="control-label">
                                    <span ng-if="lang==='AR'">نوع الفحص</span>
                                    <span ng-if="lang==='EN'">Detection Type</span>
                                </label>
                                <select id="detectionType"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن النوع' : 'Search For Type...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر النوع' : 'Please Select Type...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="orderDetectionType.detectionType"
                                        disable-validation-message=""
                                        ng-options="('[ ' + detectionType.code + ' ] ' + (lang==='AR' ? detectionType.nameArabic : detectionType.nameEnglish) + ' [ ' + detectionType.cost + ' SAR ' + ' ] ') for detectionType in detectionTypes | orderBy:'code' track by detectionType.id">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>