<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <div id="tasks-closed-menu-lower-left" class="material-icons mdl-badge mdl-badge--overlap mdl-icon-margin"
                 data-badge="{{me.tasksClosedThisWeek.length}}">alarm
            </div>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="tasks-closed-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">لديك {{me.tasksClosedThisWeek.length}} مهمة مغلقة هذا الاسبوع</span>
                    <span ng-if="lang==='EN'">{{me.tasksClosedThisWeek.length}} Tasks will be closed this week</span>
                </li>
                <li ng-repeat="taskClosed in me.tasksClosedThisWeek"
                    class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="ModalProvider.openTaskDetailsModel(taskClosed)">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">assignment</i>
                        <span style="text-overflow: ellipsis;white-space: nowrap;width: 200px; overflow: hidden">[{{taskClosed.code}}] {{taskClosed.title}}</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="ModalProvider.openTasksClosedSoonModel()"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">طباعة تقرير</span>
                        <span ng-if="lang==='EN'">Print...</span>
                    </button>
                </li>
            </ul>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click=""
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
                     class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    <button id="billSell-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">العمليات</span>
                        <span ng-if="lang==='EN'">Actions</span>
                    </button>
                    <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        for="billSell-menu-lower-right">
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                            ng-click="openFilter()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">visibility</i>
                                <span ng-if="lang==='AR'">عرض البيانات</span>
                                <span ng-if="lang==='EN'">View</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="newBillSell();"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">add</i>
                                <span ng-if="lang==='AR'">انشاء فاتورة بيع جديدة</span>
                                <span ng-if="lang==='EN'">New...</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="delete()"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_DELETE']) && toggleList===1"
                            ng-hide="!billSells || billSells.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">delete</i>
                                <span ng-if="lang==='AR'">حذف الفاتورة</span>
                                <span ng-if="lang==='EN'">Delete</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="print(selected)"
                            ng-if="toggleList===1"
                            ng-hide="!billSells || billSells.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">print</i>
                                <span ng-if="lang==='AR'">طباعة الفاتورة</span>
                                <span ng-if="lang==='EN'">Print...</span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
                    <div class="btn-toolbar">
                        <div class="btn-group" data-toggle="buttons">
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=1"
                                    ng-class="{'active':toggleList===1}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">reorder</i>
                            </button>
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=2"
                                    ng-class="{'active':toggleList===2}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">view_column</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="openFilter()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-filter"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                                   ng-click="newBillSell()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء فاتورة بيع' : 'New Bill...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">قائمة الفواتير</h3>
                            <h3 ng-if="lang==='EN'">Bills List</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection1" st-safe-src="billSells"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span ng-if="lang==='AR'">م</span>
                                        <span ng-if="lang==='EN'">#</span>
                                    </th>

                                    <th st-sort="code">
                                        <span ng-if="lang==='AR'">رقم الفاتورة</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>

                                    <th st-sort="customer.name">
                                        <span ng-if="lang==='AR'">العميل</span>
                                        <span ng-if="lang==='EN'">Customer</span>
                                    </th>

                                    <th st-sort="paymentMethod">
                                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </th>

                                    <th st-sort="discount">
                                        <span ng-if="lang==='AR'">خصم المبيعات</span>
                                        <span ng-if="lang==='EN'">Sales Discount</span>
                                    </th>

                                    <th st-sort="date">
                                        <span ng-if="lang==='AR'">التاريخ</span>
                                        <span ng-if="lang==='EN'">Date</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="billSell in collection1"
                                    st-select-mode="single"
                                    context-menu="rowMenu"
                                    ng-click="setSelected(billSell);calculateCostSum();"
                                    ng-right-click="setSelected(billSell);calculateCostSum();"
                                    ng-class="{'mdl-color--blue-grey-100':billSell.isSelected}">
                                    <td st-select-row-custom="billSell">{{$index+1}}</td>
                                    <td st-select-row-custom="billSell">{{billSell.code}}</td>
                                    <td st-select-row-custom="billSell">{{billSell.customer.name}}</td>
                                    <td st-select-row-custom="billSell">{{billSell.paymentMethod}}</td>
                                    <td st-select-row-custom="billSell">{{billSell.discount | currency:'%'}}</td>
                                    <td st-select-row-custom="billSell">
                                        <span ng-show="dateType==='H'">{{billSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{billSell.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{billSell.date | date:'h:m a'}}</span>
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection1 || collection1.length ==0">
                                    <td colspan="6">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshTransactionSellByBill()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                                   ng-show="selected.id"
                                   ng-click="newTransactionSell()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء طلبية بيع' : 'New Order...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">حركات البيع (طلبيات بيع الأدوية)</h3>
                            <h3 ng-if="lang==='EN'">Sells Transactions (Drugs Stock)</h3>
                            <fieldset ng-if="selected.id">
                                <span ng-if="lang==='AR'">رقم الفاتورة / {{selected.code}}</span>
                                <span ng-if="lang==='EN'">Bill Code / {{selected.code}}</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection2" st-safe-src="selected.transactionSells"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span ng-if="lang==='AR'">م</span>
                                        <span ng-if="lang==='EN'">#</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">رقم الحركة</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>

                                    <th st-sort="productionDate">
                                        <span ng-if="lang==='AR'">تاريخ الحركة</span>
                                        <span ng-if="lang==='EN'">Transaction Date</span>
                                    </th>

                                    <th st-sort="drug.code">
                                        <span ng-if="lang==='AR'">الدواء</span>
                                        <span ng-if="lang==='EN'">Drug</span>
                                    </th>

                                    <th st-sort="drugUnit">
                                        <span ng-if="lang==='AR'">وحدة القياس</span>
                                        <span ng-if="lang==='EN'">Unit</span>
                                    </th>

                                    <th st-sort="unitCost">
                                        <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                        <span ng-if="lang==='EN'">Unit Sell Cost</span>
                                    </th>

                                    <th st-sort="quantity">
                                        <span ng-if="lang==='AR'">الكمية</span>
                                        <span ng-if="lang==='EN'">Quantity</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">العمليات</span>
                                        <span ng-if="lang==='EN'">Action</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="transactionSell in collection2">
                                    <td>{{$index+1}}</td>
                                    <td>{{transactionSell.code}}</td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{transactionSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{transactionSell.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{transactionSell.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>
                                        [{{transactionSell.transactionBuy.drug.code}}]
                                        [
                                        <span ng-if="lang==='AR'">{{transactionSell.transactionBuy.drug.nameArabic}}</span>
                                        <span ng-if="lang==='EN'">{{transactionSell.transactionBuy.drug.nameEnglish}}</span>
                                        ][
                                        <span ng-if="lang==='AR'">{{transactionSell.transactionBuy.drug.medicalNameArabic}}</span>
                                        <span ng-if="lang==='EN'">{{transactionSell.transactionBuy.drug.medicalNameEnglish}}</span>
                                        ]
                                    </td>
                                    <td>{{transactionSell.drugUnit.name}}</td>
                                    <td>
                                        <span class="label label-danger">{{transactionSell.unitSellCost}} SAR</span>
                                    </td>
                                    <td>{{transactionSell.quantity}}</td>
                                    <td>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_DELETE'])"
                                           ng-click="deleteTransactionSell(transactionSell)">
                                            <strong ng-if="lang==='AR'">حذف</strong>
                                            <strong ng-if="lang==='EN'">Remove</strong>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection2 || collection2.length ==0">
                                    <td colspan="11">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="totalCost > 0">
                            <div class="alert alert-info" role="alert">
                                <strong ng-if="lang==='AR'">إجمالي الفاتورة</strong>
                                <strong ng-if="lang==='EN'">Total Purchace Cost</strong>
                                <span>{{totalCost}} SAR</span>
                                <br/>
                                <strong ng-if="lang==='AR'">خصم المبيعات</strong>
                                <strong ng-if="lang==='EN'">Discount</strong>
                                <span>{{(totalCost * selected.discount) / 100}} SAR</span>
                                <br/>
                                <strong ng-if="lang==='AR'">الإجمالي بعد الخصم</strong>
                                <strong ng-if="lang==='EN'">Total Purchace Cost</strong>
                                <span>{{totalCost - ((totalCost * selected.discount) / 100)}} SAR</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
                <div st-table="collection3" st-safe-src="billSells">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="billSell in collection">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{billSell.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{billSell.code}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong ng-if="lang==='AR'">رقم الفاتورة</strong>
                                        <strong ng-if="lang==='EN'">Code</strong>
                                        {{billSell.code}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">العميل</strong>
                                        <strong ng-if="lang==='EN'">Customer</strong>
                                        {{billSell.customer.name}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">طريقة الدفع</strong>
                                        <strong ng-if="lang==='EN'">Payment Method</strong>
                                        {{billSell.paymentMethod}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">التاريخ</strong>
                                        <strong ng-if="lang==='EN'">Date</strong>
                                        <span ng-show="dateType==='H'">{{billSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{billSell.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{billSell.date | date:'h:m a'}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء فاتورة بيع' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                                            ng-click="ModalProvider.openBillSellCreateModel();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_DELETE'])"
                                            ng-click="delete(billSell)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>











