<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">add</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title-box"
                                 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                <h3 ng-if="lang==='AR'">خيارات البحث</h3>
                                <h3 ng-if="lang==='EN'">Search Options</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="height: 400px; overflow: auto">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="codeFrom" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الطلب من</span>
                                        <span ng-if="lang==='EN'">Code From</span>
                                    </label>
                                    <input id="codeFrom"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.codeFrom">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="codeTo" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الطلب إلى</span>
                                        <span ng-if="lang==='EN'">Code To</span>
                                    </label>
                                    <input id="codeTo"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.codeTo">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="customerName" class="control-label">
                                        <span ng-if="lang==='AR'">اسم العميل يحتوي على</span>
                                        <span ng-if="lang==='EN'">Customer Name Contains</span>
                                    </label>
                                    <input id="customerName"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.customerName">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="customerMobile" class="control-label">
                                        <span ng-if="lang==='AR'">رقم جوال العميل يحتوي على</span>
                                        <span ng-if="lang==='EN'">Customer Mobile Contains</span>
                                    </label>
                                    <input id="customerMobile"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.customerMobile">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="customerIdentityNumber" class="control-label">
                                        <span ng-if="lang==='AR'">رقم بطاقة العميل تحتوي على</span>
                                        <span ng-if="lang==='EN'">Customer ID Contains</span>
                                    </label>
                                    <input id="customerIdentityNumber"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.customerIdentityNumber">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="falconCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الصقر يحتوي على</span>
                                        <span ng-if="lang==='EN'">Falcon Code Contains</span>
                                    </label>
                                    <input id="falconCode"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.falconCode">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="falconType" class="control-label">
                                        <span ng-if="lang==='AR'">نوع الصقر يحتوي على</span>
                                        <span ng-if="lang==='EN'">Falcon Type Contains</span>
                                    </label>
                                    <input id="falconType"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.falconType">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="weightFrom" class="control-label">
                                        <span ng-if="lang==='AR'">وزن الصقر من</span>
                                        <span ng-if="lang==='EN'">Falcon Weight From</span>
                                    </label>
                                    <input id="weightFrom"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.weightFrom">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="weightTo" class="control-label">
                                        <span ng-if="lang==='AR'">وزن الصقر إلى</span>
                                        <span ng-if="lang==='EN'">Falcon Weight To</span>
                                    </label>
                                    <input id="weightTo"
                                           type="text"
                                           class="form-control"
                                           ng-model="buffer.weightTo">
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="dateType==='H'">
                                    <label for="dateFrom" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ الطلب من</span>
                                        <span ng-if="lang==='EN'">Order Date From</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="dateFrom"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="buffer.dateFrom"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="dateType==='G'">
                                    <label for="G-dateFrom" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ الطلب من</span>
                                        <span ng-if="lang==='EN'">Order Date From</span>
                                    </label>
                                    <input id="G-dateFrom"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="buffer.dateFrom"
                                           placeholder="yyyy-MM-dd"
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="dateType==='H'">
                                    <label for="dateTo" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ الطلب إلى</span>
                                        <span ng-if="lang==='EN'">Order Date To</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="dateTo"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="buffer.dateTo"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="dateType==='G'">
                                    <label for="G-dateTo" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ الطلب إلى</span>
                                        <span ng-if="lang==='EN'">Order Date To</span>
                                    </label>
                                    <input id="G-dateTo"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="buffer.dateTo"
                                           placeholder="yyyy-MM-dd"
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <button uib-tooltip="{{lang==='AR'? 'بحث' : 'Search'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-click="search();"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                                    <i class="material-icons">search</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                                        tooltip-append-to-body="true"
                                        type="reset"
                                        ng-click="buffer={};"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                <h3 ng-if="lang==='AR'">نتائج البحث</h3>
                                <h3 ng-if="lang==='EN'">Search Results</h3>
                            </div>
                        </div>
                        <div class="panel-body panel-body-table">
                            <div class="table-responsive">
                                <table st-table="collection" st-safe-src="orders"
                                       class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span ng-if="lang==='AR'">م</span>
                                            <span ng-if="lang==='EN'">#</span>
                                        </th>

                                        <th st-sort="code">
                                            <span ng-if="lang==='AR'">رقم الطلب</span>
                                            <span ng-if="lang==='EN'">Code</span>
                                        </th>

                                        <th st-sort="date">
                                            <span ng-if="lang==='AR'">التاريخ</span>
                                            <span ng-if="lang==='EN'">Date</span>
                                        </th>

                                        <th st-sort="falcon.code">
                                            <span ng-if="lang==='AR'">رقم الصقر</span>
                                            <span ng-if="lang==='EN'">Falcon Code</span>
                                        </th>

                                        <th st-sort="falcon.weight">
                                            <span ng-if="lang==='AR'">وزن الصقر</span>
                                            <span ng-if="lang==='EN'">Falcon Weight</span>
                                        </th>

                                        <th st-sort="falcon.type">
                                            <span ng-if="lang==='AR'">نوع الصقر</span>
                                            <span ng-if="lang==='EN'">Falcon Type</span>
                                        </th>

                                        <th st-sort="falcon.customer.name">
                                            <span ng-if="lang==='AR'">العميل</span>
                                            <span ng-if="lang==='EN'">Customer</span>
                                        </th>

                                        <th st-sort="orderAttaches.length">
                                            <span ng-if="lang==='AR'">المرفقات والمستندات</span>
                                            <span ng-if="lang==='EN'">Attachments</span>
                                        </th>

                                        <th st-sort="doctor.person.name">
                                            <span ng-if="lang==='AR'">الطبيب المعالج</span>
                                            <span ng-if="lang==='EN'">Doctor</span>
                                        </th>

                                        <th st-sort="detectionTypeCostSum">
                                            <span ng-if="lang==='AR'">التكلفة</span>
                                            <span ng-if="lang==='EN'">Cost</span>
                                        </th>

                                        <th st-sort="discount">
                                            <span ng-if="lang==='AR'">الخصم</span>
                                            <span ng-if="lang==='EN'">Discount</span>
                                        </th>

                                        <th st-sort="net">
                                            <span ng-if="lang==='AR'">الصافي</span>
                                            <span ng-if="lang==='EN'">Net</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="order in collection"
                                        st-select-mode="single"
                                        ng-click="setSelected(order)"
                                        ng-right-click="setSelected(order)"
                                        ng-class="{'mdl-color--blue-grey-100':order.isSelected}">
                                        <td st-select-row-custom="order">{{$index+1}}</td>
                                        <td st-select-row-custom="order">{{order.code}}</td>
                                        <td st-select-row-custom="order">
                                            <span ng-show="dateType==='H'">{{order.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                            <span ng-show="dateType==='G'">{{order.date | date: 'yyyy-MM-dd'}}</span>
                                            <span class="label label-success">{{order.date | date:'h:m a'}}</span>
                                        </td>
                                        <td st-select-row-custom="order">{{order.falcon.code}}</td>
                                        <td st-select-row-custom="order">{{order.falcon.weight}} جرام</td>
                                        <td st-select-row-custom="order">{{order.falcon.type}}</td>
                                        <td st-select-row-custom="order">{{order.falcon.customer.name}}</td>
                                        <td st-select-row-custom="order">
                                        <span ng-repeat="orderAttach in order.orderAttaches">
                                            <a uib-tooltip="{{orderAttach.attach.name}}" tooltip-append-to-body="true"
                                               href="" ng-href="{{orderAttach.attach.link}}" target="_blank">
                                                <i class="fa fa-link fa-lg"></i>
                                            </a>
                                        </span>
                                            <span ng-if="order.orderAttaches.length === 0" class="label label-danger">
                                            <span ng-if="lang==='AR'">لا توجد ملفات حتى الآن</span>
                                            <span ng-if="lang==='EN'">No Attachments Yet</span>
                                        </span>
                                        </td>
                                        <td st-select-row-custom="order">{{order.doctor.person.name}}</td>
                                        <td st-select-row-custom="order">{{order.detectionTypeCostSum}} SAR</td>
                                        <td st-select-row-custom="order">{{order.discount}} %</td>
                                        <td st-select-row-custom="order">{{order.netCost}} SAR</td>
                                    </tr>
                                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-show="!collection || collection.length ==0">
                                        <td colspan="12">
                                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                            <span ng-if="lang==='EN'">No Data Found.</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="12">
                                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">رأس الفاتورة</h3>
                            <h3 ng-if="lang==='EN'">Head Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="discount" class="control-label">
                                    <span ng-if="lang==='AR'">خصم المبيعات</span>
                                    <span ng-if="lang==='EN'">Discount</span>
                                </label>
                                <div dir="ltr" class="input-group" id="discount">
                                    <span class="input-group-addon">
                                        <span>%</span>
                                    </span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           max="100"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="billSell.discount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات</span>
                                    <span ng-if="lang==='EN'">Notes</span>
                                </label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="billSell.note">
                                </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-repeat="diagnosis in billSell.order.diagnoses | filter:{treated:false}">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="removeDiagnosisFromOrder($index)"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'حذف الوصفة' : 'Remove Diagnosis'}}">
                                    <span class="fa fa-remove"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">رقم العلاج / {{diagnosis.drug.code}}</h3>
                            <h3 ng-if="lang==='EN'">Drug Code \ {{diagnosis.drug.code}}</h3>
                            <span ng-if="lang==='AR'">[ {{diagnosis.drug.nameArabic}} ] [ {{diagnosis.drug.medicalNameArabic}} ]</span>
                            <span ng-if="lang==='EN'">[ {{diagnosis.drug.nameEnglish}} ] [ {{diagnosis.drug.medicalNameEnglish}} ]</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="table-responsive">
                                        <table st-table="collection" st-safe-src="diagnosis.drug.transactionBuys"
                                               class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <span ng-if="lang==='AR'">م</span>
                                                    <span ng-if="lang==='EN'">#</span>
                                                </th>

                                                <th>
                                                    <span ng-if="lang==='AR'">رقم الحركة</span>
                                                    <span ng-if="lang==='EN'">Transaction Code</span>
                                                </th>

                                                <th>
                                                    <span ng-if="lang==='AR'">رقم الفاتورة</span>
                                                    <span ng-if="lang==='EN'">Bill Code</span>
                                                </th>

                                                <th st-sort="productionDate">
                                                    <span ng-if="lang==='AR'">تاريخ الحركة</span>
                                                    <span ng-if="lang==='EN'">Transaction Date</span>
                                                </th>

                                                <th st-sort="drugUnit">
                                                    <span ng-if="lang==='AR'">وحدة القياس</span>
                                                    <span ng-if="lang==='EN'">Unit</span>
                                                </th>

                                                <th st-sort="unitSellCost">
                                                    <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                                    <span ng-if="lang==='EN'">Unit Sell Cost</span>
                                                </th>

                                                <th st-sort="quantity">
                                                    <span ng-if="lang==='AR'">كمية المشتريات</span>
                                                    <span ng-if="lang==='EN'">Purchace Quantity</span>
                                                </th>

                                                <th st-sort="salesQuantity">
                                                    <span ng-if="lang==='AR'">كمية المبيعات</span>
                                                    <span ng-if="lang==='EN'">Sales Quantity</span>
                                                </th>

                                                <th st-sort="realQuantity">
                                                    <span ng-if="lang==='AR'">الرصيد الحالي</span>
                                                    <span ng-if="lang==='EN'">Real Quantity</span>
                                                </th>

                                                <th st-sort="productionDate">
                                                    <span ng-if="lang==='AR'">تاريخ الإنتاج</span>
                                                    <span ng-if="lang==='EN'">Production Date</span>
                                                </th>

                                                <th st-sort="warrantInMonth">
                                                    <span ng-if="lang==='AR'">مدة الصلاحية (بالشهر)</span>
                                                    <span ng-if="lang==='EN'">Shelf Life (In Month)</span>
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="transactionBuy in collection">
                                                <td>{{$index+1}}</td>
                                                <td>{{transactionBuy.code}}</td>
                                                <td>
                                                    {{transactionBuy.billBuy.code}}
                                                </td>
                                                <td>
                                                    <span ng-show="dateType==='H'">{{transactionBuy.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                    <span ng-show="dateType==='G'">{{transactionBuy.date | date: 'yyyy-MM-dd'}}</span>
                                                    <span class="label label-success">{{transactionBuy.date | date:'h:m a'}}</span>
                                                </td>
                                                <td>
                                                    {{transactionBuy.drugUnit.name}}
                                                </td>
                                                <td>
                                                    <span class="label label-danger">{{transactionBuy.unitSellCost}} SAR</span>
                                                </td>
                                                <td st-select-row-custom="transactionBuy">{{transactionBuy.quantity}}</td>
                                                <td st-select-row-custom="transactionBuy">{{transactionBuy.salesQuantity}}</td>
                                                <td st-select-row-custom="transactionBuy">{{transactionBuy.realQuantity}}</td>
                                                </td>
                                                <td>
                                                    <span ng-show="dateType==='H'">{{transactionBuy.productionDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                    <span ng-show="dateType==='G'">{{transactionBuy.productionDate | date: 'yyyy-MM-dd'}}</span>
                                                    <span class="label label-success">{{transactionBuy.productionDate | date:'h:m a'}}</span>
                                                </td>
                                                <td>
                                                    {{transactionBuy.warrantInMonth}}
                                                </td>
                                            </tr>
                                            <tr class="blank_row"
                                                style="height: 10px !important; background-color: #FFFFFF;"
                                                ng-show="!collection || collection.length ==0">
                                                <td colspan="11">
                                                    <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                                    <span ng-if="lang==='EN'">No Data Found.</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="transactionBuyCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم حركة شراء الصنف</span>
                                        <span ng-if="lang==='EN'">Stock Code</span>
                                    </label>
                                    <select id="transactionBuyCode"
                                            data-placeholder="{{lang==='AR' ? 'ابحث عن الرقم' : 'Search For Code...'}}"
                                            no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                            placeholder-text-single="'{{lang==='AR' ? 'اختر الرقم' : 'Please Select Code...'}}'"
                                            class="form-control"
                                            chosen=""
                                            ng-model="diagnosis.transactionBuy"
                                            ng-change="transactionBuyCalculation(diagnosis.transactionBuy);"
                                            required="required"
                                            disable-validation-message=""
                                            ng-options="transactionBuy.code for transactionBuy in diagnosis.drug.transactionBuys track by transactionBuy.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="drugUnit" class="control-label">
                                        <span ng-if="lang==='AR'">وحدة القياس</span>
                                        <span ng-if="lang==='EN'">Drug Unit</span>
                                    </label>
                                    <select id="drugUnit"
                                            class="form-control"
                                            ng-model="diagnosis.related"
                                            required="required"
                                            disable-validation-message=""
                                            ng-options="related.obj1.name for related in diagnosis.transactionBuy.relatedPrices | orderBy:'related.obj1.name' track by related.obj1.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="cost" class="control-label">
                                        <span ng-if="lang==='AR'">الكمية</span>
                                        <span ng-if="lang==='EN'">Quantity</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="cost">
                                        <span class="input-group-addon">
                                            <span ng-if="lang==='AR'">{{diagnosis.related.obj1.name}}</span>
                                            <span ng-if="lang==='EN'">{{diagnosis.related.obj1.name}}</span>
                                        </span>
                                        <input dir="rtl"
                                               type="number"
                                               ng-max="diagnosis.related.obj6"
                                               min="1"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="diagnosis.quantity">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="description" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات الطلبية</span>
                                    <span ng-if="lang==='EN'">Order Notes</span>
                                </label>
                                <textarea id="description"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="diagnosis.note">
                                </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>