<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">add</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshCustomers()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                                   ng-click="ModalProvider.openCustomerUpdateModel(billSell.customer);"
                                   ng-hide="!customers || customers.length==0 || !billSell.customer"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تعديل بيانات العميل' : 'Edit Customer Information...'}}">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                   ng-click="newCustomer()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'عميل جديد' : 'New Customer...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">بيانات العميل</h3>
                            <h3 ng-if="lang==='EN'">Customer Information</h3>
                            <span ng-if="lang==='AR'">بحث متعدد عن العميل</span>
                            <span ng-if="lang==='EN'">Multi-Search For Customer</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="customerCode" class="control-label">
                                    <span ng-if="lang==='AR'">رقم العميل</span>
                                    <span ng-if="lang==='EN'">Identity Number</span>
                                </label>
                                <select id="customerCode"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن الرقم' : 'Search For Code...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر الرقم' : 'Please Select Code...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="billSell.customer"
                                        disable-validation-message=""
                                        ng-options="customer.code for customer in customers | orderBy:'code' track by customer.id">
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="name" class="control-label">
                                    <span ng-if="lang==='AR'">الاسم</span>
                                    <span ng-if="lang==='EN'">Name</span>
                                </label>
                                <select id="name"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن الاسم' : 'Search For Name...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر الاسم' : 'Please Select Name...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="billSell.customer"
                                        disable-validation-message=""
                                        ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id">
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="mobile" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الجوال</span>
                                    <span ng-if="lang==='EN'">Mobile</span>
                                </label>
                                <select id="mobile"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن رقم الجوال' : 'Search For Mobile...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر رقم الجوال' : 'Please Select Mobile...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="billSell.customer"
                                        disable-validation-message=""
                                        ng-options="customer.mobile for customer in customers | orderBy:'mobile' track by customer.id">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">رأس الفاتورة</h3>
                            <h3 ng-if="lang==='EN'">Head Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="paymentMethod" class="control-label">
                                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </label>
                                    <select id="paymentMethod"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="billSell.paymentMethod">
                                        <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                                        <option ng-if="lang==='EN'" value="Cash">Cash</option>
                                        <option ng-if="lang==='AR'" value="Check">شيك</option>
                                        <option ng-if="lang==='EN'" value="Check">Check</option>
                                        <option ng-if="lang==='AR'" value="Later">آجل</option>
                                        <option ng-if="lang==='EN'" value="Later">Later</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="checkCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الشيك</span>
                                        <span ng-if="lang==='EN'">Check Code</span>
                                    </label>
                                    <input id="checkCode"
                                           type="number"
                                           ng-required="billSellDetection.paymentMethod==='Check'"
                                           ng-disabled="billSellDetection.paymentMethod!=='Check'"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="billSell.checkCode">
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="discount" class="control-label">
                                        <span ng-if="lang==='AR'">خصم المبيعات</span>
                                        <span ng-if="lang==='EN'">Discount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="discount">
                                        <span class="input-group-addon">
                                            <span>%</span>
                                        </span>
                                        <input dir="rtl"
                                               type="number"
                                               min="0"
                                               max="100"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="billSell.discount">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات</span>
                                    <span ng-if="lang==='EN'">Notes</span>
                                </label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="billSell.note">
                                </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshDrugs()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])"
                                   ng-click="newDrug()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء صنف دواء جديد' : 'New Drug...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">قائمة الأدوية المطلوبة</h3>
                            <h3 ng-if="lang==='EN'">Required Drugs</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="drugCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الدواء</span>
                                        <span ng-if="lang==='EN'">Drug Code</span>
                                    </label>
                                    <select id="drugCode"
                                            data-placeholder="{{lang==='AR' ? 'ابحث عن الرقم' : 'Search For Code...'}}"
                                            no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                            placeholder-text-single="'{{lang==='AR' ? 'اختر الرقم' : 'Please Select Code...'}}'"
                                            class="form-control"
                                            chosen=""
                                            ng-model="buffer.drug"
                                            ng-change="refreshTransactionBuyByDrug();"
                                            disable-validation-message=""
                                            ng-options="drug.code for drug in drugs | orderBy:'code' track by drug.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="tradeName" class="control-label">
                                        <span ng-if="lang==='AR'">الاسم التجاري</span>
                                        <span ng-if="lang==='EN'">Trade Name</span>
                                    </label>
                                    <select id="tradeName"
                                            data-placeholder="{{lang==='AR' ? 'ابحث عن الاسم التجاري' : 'Search For Trade Name...'}}"
                                            no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                            placeholder-text-single="'{{lang==='AR' ? 'اختر الاسم التجاري' : 'Please Select Trade Name...'}}'"
                                            class="form-control"
                                            chosen=""
                                            ng-model="buffer.drug"
                                            ng-change="refreshTransactionBuyByDrug();"
                                            disable-validation-message=""
                                            ng-options="('[ ' + drug.nameArabic + ' ] [' + drug.nameEnglish + ' ]' ) for drug in drugs | orderBy:'nameEnglish' track by drug.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="medicalName" class="control-label">
                                        <span ng-if="lang==='AR'">الاسم العلمي</span>
                                        <span ng-if="lang==='EN'">Medical Name</span>
                                    </label>
                                    <select id="medicalName"
                                            data-placeholder="{{lang==='AR' ? 'ابحث عن الاسم العلمي' : 'Search For Trade Name...'}}"
                                            no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                            placeholder-text-single="'{{lang==='AR' ? 'اختر الاسم العلمي' : 'Please Select Trade Name...'}}'"
                                            class="form-control"
                                            chosen=""
                                            ng-model="buffer.drug"
                                            ng-change="refreshTransactionBuyByDrug();"
                                            disable-validation-message=""
                                            ng-options="('[ ' + drug.medicalNameArabic + ' ] [' + drug.medicalNameEnglish + ' ]' ) for drug in drugs | orderBy:'medicalNameEnglish' track by drug.id">
                                    </select>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="table-responsive">
                                        <table st-table="collection2" st-safe-src="buffer.drug.transactionBuys"
                                               class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <span ng-if="lang==='AR'">م</span>
                                                    <span ng-if="lang==='EN'">#</span>
                                                </th>

                                                <th>
                                                    <span ng-if="lang==='AR'">رقم الحركة</span>
                                                    <span ng-if="lang==='EN'">Transaction Code</span>
                                                </th>

                                                <th>
                                                    <span ng-if="lang==='AR'">رقم الفاتورة</span>
                                                    <span ng-if="lang==='EN'">Bill Code</span>
                                                </th>

                                                <th st-sort="productionDate">
                                                    <span ng-if="lang==='AR'">تاريخ الحركة</span>
                                                    <span ng-if="lang==='EN'">Transaction Date</span>
                                                </th>

                                                <th st-sort="drugUnit">
                                                    <span ng-if="lang==='AR'">وحدة القياس</span>
                                                    <span ng-if="lang==='EN'">Unit</span>
                                                </th>

                                                <th st-sort="unitSellCost">
                                                    <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                                    <span ng-if="lang==='EN'">Unit Sell Cost</span>
                                                </th>

                                                <th st-sort="quantity">
                                                    <span ng-if="lang==='AR'">الكمية</span>
                                                    <span ng-if="lang==='EN'">Quantity</span>
                                                </th>

                                                <th st-sort="productionDate">
                                                    <span ng-if="lang==='AR'">تاريخ الإنتاج</span>
                                                    <span ng-if="lang==='EN'">Production Date</span>
                                                </th>

                                                <th st-sort="warrantInMonth">
                                                    <span ng-if="lang==='AR'">مدة الصلاحية (بالشهر)</span>
                                                    <span ng-if="lang==='EN'">Shelf Life (In Month)</span>
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="transactionBuy in collection2"
                                                st-select-mode="single"
                                                ng-click="setSelectedTransactionBuy(transactionBuy)"
                                                ng-right-click="setSelectedTransactionBuy(transactionBuy)"
                                                ng-class="{'mdl-color--blue-grey-100':transactionBuy.isSelected}">
                                                <td st-select-row-custom="transactionBuy">{{$index+1}}</td>
                                                <td st-select-row-custom="transactionBuy">{{transactionBuy.code}}</td>
                                                <td st-select-row-custom="transactionBuy">
                                                    {{transactionBuy.billBuy.code}}
                                                </td>
                                                <td st-select-row-custom="transactionBuy">
                                                    <span ng-show="dateType==='H'">{{transactionBuy.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                    <span ng-show="dateType==='G'">{{transactionBuy.date | date: 'yyyy-MM-dd'}}</span>
                                                    <span class="label label-success">{{transactionBuy.date | date:'h:m a'}}</span>
                                                </td>
                                                <td st-select-row-custom="transactionBuy">
                                                    {{transactionBuy.drugUnit.name}}
                                                </td>
                                                <td st-select-row-custom="transactionBuy">
                                                    <span class="label label-danger">{{transactionBuy.unitSellCost}} SAR</span>
                                                </td>
                                                <td st-select-row-custom="transactionBuy">{{transactionBuy.quantity}}
                                                </td>
                                                <td st-select-row-custom="transactionBuy">
                                                    <span ng-show="dateType==='H'">{{transactionBuy.productionDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                    <span ng-show="dateType==='G'">{{transactionBuy.productionDate | date: 'yyyy-MM-dd'}}</span>
                                                    <span class="label label-success">{{transactionBuy.productionDate | date:'h:m a'}}</span>
                                                </td>
                                                <td st-select-row-custom="transactionBuy">
                                                    {{transactionBuy.warrantInMonth}}
                                                </td>
                                            </tr>
                                            <tr class="blank_row"
                                                style="height: 10px !important; background-color: #FFFFFF;"
                                                ng-show="!collection2 || collection2.length ==0">
                                                <td colspan="9">
                                                    <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                                    <span ng-if="lang==='EN'">No Data Found.</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                     ng-show="selectedTransactionBuy.id">
                                    <div class="alert alert-danger" role="alert">
                                        <strong ng-if="lang==='AR'">بيان أسعار الطلبية رقم /
                                            {{selectedTransactionBuy.code}}</strong>
                                        <strong ng-if="lang==='EN'">Prices Information For Order Code /
                                            {{selectedTransactionBuy.id}}</strong>
                                        <br/>
                                        <span ng-repeat="price in relatedPrices">
                                            <strong>الوحدة / </strong>
                                            <span>{{price.obj1.name}}</span>
                                            <strong>سعر البيع / </strong>
                                            <span>{{price.obj3}} SAR</span>
                                            <strong>الكمية / </strong>
                                            <span>{{price.obj5}} </span>
                                            <br/>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <fieldset class="form-group row">

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="drugUnit" class="control-label">
                                        <span ng-if="lang==='AR'">وحدة القياس</span>
                                        <span ng-if="lang==='EN'">Drug Unit</span>
                                    </label>
                                    <select id="drugUnit"
                                            class="form-control"
                                            ng-model="buffer.related"
                                            disable-validation-message=""
                                            ng-options="related.obj1.name for related in relatedPrices | orderBy:'related.obj1.name' track by related.obj1.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="cost" class="control-label">
                                        <span ng-if="lang==='AR'">الكمية</span>
                                        <span ng-if="lang==='EN'">Quantity</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="cost">
                                        <span class="input-group-addon">
                                            <span ng-if="lang==='AR'">{{buffer.related.obj1.name}}</span>
                                            <span ng-if="lang==='EN'">{{buffer.related.obj1.name}}</span>
                                        </span>
                                        <input dir="rtl"
                                               type="number"
                                               ng-max="buffer.related.obj5"
                                               min="1"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="buffer.quantity">
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <button ng-disabled="!buffer.drug.id"
                                            uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Add'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="addTransactionSellToList()"
                                            style="margin-top: 25px; height: 40px;width: 100%;"
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>

                            </fieldset>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="description" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات الطلبية</span>
                                    <span ng-if="lang==='EN'">Order Notes</span>
                                </label>
                                <textarea id="description"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="buffer.note">
                                </textarea>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table st-table="collection" st-safe-src="transactionSellList"
                                           class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                        <thead>
                                        <tr>
                                            <th>
                                                <span ng-if="lang==='AR'">م</span>
                                                <span ng-if="lang==='EN'">#</span>
                                            </th>

                                            <th st-sort="drug.code">
                                                <span ng-if="lang==='AR'">الدواء</span>
                                                <span ng-if="lang==='EN'">Drug</span>
                                            </th>

                                            <th st-sort="drugUnit">
                                                <span ng-if="lang==='AR'">وحدة القياس</span>
                                                <span ng-if="lang==='EN'">Unit</span>
                                            </th>

                                            <th st-sort="unitSellCost">
                                                <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                                <span ng-if="lang==='EN'">Unit Purchace Cost</span>
                                            </th>

                                            <th st-sort="quantity">
                                                <span ng-if="lang==='AR'">الكمية</span>
                                                <span ng-if="lang==='EN'">Quantity</span>
                                            </th>

                                            <th>
                                                <span ng-if="lang==='AR'">العمليات</span>
                                                <span ng-if="lang==='EN'">Action</span>
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="transactionSell in collection">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                [{{transactionSell.drug.code}}]
                                                [
                                                <span ng-if="lang==='AR'">{{transactionSell.drug.nameArabic}}</span>
                                                <span ng-if="lang==='EN'">{{transactionSell.drug.nameEnglish}}</span>
                                                ][
                                                <span ng-if="lang==='AR'">{{transactionSell.drug.medicalNameArabic}}</span>
                                                <span ng-if="lang==='EN'">{{transactionSell.drug.medicalNameEnglish}}</span>
                                                ]
                                            </td>
                                            <td>{{transactionSell.drugUnit.name}}</td>
                                            <td>
                                                <span class="label label-danger">{{transactionSell.unitSellCost}} SAR</span>
                                            </td>
                                            <td>{{transactionSell.quantity}}</td>
                                            <td>
                                                <a href="" ng-click="removeTransactionSellFromList($index)">
                                                    <strong ng-if="lang==='AR'">حذف</strong>
                                                    <strong ng-if="lang==='EN'">Remove</strong>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="blank_row"
                                            style="height: 10px !important; background-color: #FFFFFF;"
                                            ng-show="!collection || collection.length ==0">
                                            <td colspan="6">
                                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                                <span ng-if="lang==='EN'">No Data.</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="totalCost > 0">
                                <div class="alert alert-info" role="alert">
                                    <strong ng-if="lang==='AR'">إجمالي الفاتورة</strong>
                                    <strong ng-if="lang==='EN'">Total Purchace Cost</strong>
                                    <span>{{totalCost}} SAR</span>
                                    <br/>
                                    <strong ng-if="lang==='AR'">خصم المبيعات</strong>
                                    <strong ng-if="lang==='EN'">Discount</strong>
                                    <span>{{(totalCost * billSell.discount) / 100}} SAR</span>
                                    <br/>
                                    <strong ng-if="lang==='AR'">الإجمالي بعد الخصم</strong>
                                    <strong ng-if="lang==='EN'">Total Purchace Cost</strong>
                                    <span>{{totalCost - ((totalCost * billSell.discount) / 100)}} SAR</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>