<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x mdl-color-text--white"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info" role="alert">
                    <strong ng-if="lang==='AR'">يتم عرض طلبات الفحص حسب الفترة الزمنية، لذا قم أولا يتحميل طلبات الفحص حسب (اليوم - الاسبوع - الشهر -العام) ومن ثم البحث عن رقم الطلب المراد صرف العلاج له</strong>
                    <strong ng-if="lang==='EN'">Orders Will Be Displayed according to its date, So Click On Buttons Below to View Order By (Today - Week - Month - Year) and after that Search For Required Order By it's code.</strong>
                </div>
            </div>

            <div class="form-group row">

                <button uib-tooltip="{{lang==='AR' ? 'طلبات اليوم' : 'Today Orders'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="findOrdersByToday()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">filter</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'طلبات الاسبوع' : 'Week Orders'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="findOrdersByWeek()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">filter</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'طلبات الشهر' : 'Month Orders'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="findOrdersByMonth()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">filter</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'طلبات العام' : 'Year Orders'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="findOrdersByYear()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">filter</i>
                </button>

            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h4>
                    <span ng-if="lang==='AR'">عدد الطلبات: </span>
                    <span ng-if="lang==='EN'">Orders Count: </span>
                    {{orders.length}}
                </h4>

            </div>

            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-init="order.diagnoses=[]">
                    <label for="order" class="control-label">
                        <span ng-if="lang==='AR'">رقم طلب الفحص</span>
                        <span ng-if="lang==='EN'">Order Code</span>
                    </label>
                    <ui-select id="order"
                               ng-model="order"
                               ng-change="refreshOrder(order)"
                               disable-validation-message=""
                               theme="bootstrap">
                        <ui-select-match placeholder="اختر الطلب">
                            <span ng-if="order.id">
                                <span>{{$select.selected.code}}</span>
                            </span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="order in orders | filter: $select.search | orderBy:'code' track by order.id">
                            <div ng-bind-html="order.code | highlight: $select.search"></div>
                            <small>
                                <span ng-if="lang==='AR'">رقم الطلب : </span>
                                <span ng-if="lang==='EN'">Order Code: </span>
                                <span ng-bind-html="''+order.code | highlight: $select.search"></span>
                                <br/>
                                <span ng-if="lang==='AR'">العميل : </span>
                                <span ng-if="lang==='EN'">Customer: </span>
                                <span ng-bind-html="''+order.falcon.customer.name | highlight: $select.search"></span>
                                <br/>
                                <span ng-if="lang==='AR'">رقم الصقر : </span>
                                <span ng-if="lang==='EN'">Falcon Code: </span>
                                <span ng-bind-html="''+order.falcon.code | highlight: $select.search"></span>
                                <br/>
                                <span ng-if="lang==='AR'">عدد الوصفات الطبية الغير مصروفة : </span>
                                <span ng-if="lang==='EN'">UnTreated Prescriptions Count: </span>
                                <span ng-bind-html="''+order.unTreatedCount | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="discount" class="control-label">
                        <span ng-if="lang==='AR'">خصم المبيعات</span>
                        <span ng-if="lang==='EN'">Discount</span>
                    </label>
                    <div dir="ltr" class="input-group" id="discount">
                        <span class="input-group-addon">
                            <span>%</span>
                        </span>
                        <input dir="rtl"
                               type="number"
                               min="0"
                               max="100"
                               ng-change="calculateCostSum()"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="billSell.discount">
                    </div>
                </div>

            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="order.id">

                <h3>
                    <span ng-if="lang==='AR'">العميل / </span>
                    <span ng-if="lang==='EN'">Customer / </span>
                    {{order.falcon.customer.name}}
                </h3>

                <h3>
                    <span ng-if="lang==='AR'">رقم الصقر / </span>
                    <span ng-if="lang==='EN'">Falcon Code / </span>
                    {{order.falcon.code}}
                </h3>

                <h3>
                    <span ng-if="lang==='AR'">عدد الوصفات الطبية المصروفة / </span>
                    <span ng-if="lang==='EN'">Delivered Prescriptions Count / </span>
                    {{order.treatedCount}}
                </h3>

                <h3>
                    <span ng-if="lang==='AR'">عدد الوصفات الطبية الغير مصروفة / </span>
                    <span ng-if="lang==='EN'">UnDelivered Prescriptions Count / </span>
                    {{order.unTreatedCount}}
                </h3>

            </div>

            <div class="form-group row" ng-init="billSell.receipt={};billSell.receipt.paymentMethod='Cash'">

                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="paymentMethod" class="control-label">
                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                        <span ng-if="lang==='EN'">Payment Method</span>
                    </label>
                    <select id="paymentMethod"
                            class="form-control"
                            required="required"
                            disable-validation-message=""
                            ng-model="billSell.receipt.paymentMethod">
                        <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                        <option ng-if="lang==='EN'" value="Cash">Cash</option>
                        <option ng-if="lang==='AR'" value="Check">شيك</option>
                        <option ng-if="lang==='EN'" value="Check">Check</option>
                        <option ng-if="lang==='AR'" value="Later">آجل</option>
                        <option ng-if="lang==='EN'" value="Later">Later</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-if="billSell.receipt.paymentMethod!=='Later'">
                    <label for="amountNumber" class="control-label">
                        <span ng-if="lang==='AR'">المبلغ المسدد</span>
                        <span ng-if="lang==='EN'">Payment Amount</span>
                    </label>
                    <div dir="ltr" class="input-group" id="amountNumber">
                        <span class="input-group-addon">
                            <span ng-if="lang==='AR'">ريال سعودي</span>
                            <span ng-if="lang==='EN'">SAR</span>
                        </span>
                        <input dir="rtl"
                               type="number"
                               min="1"
                               max="{{totalCost - ((totalCost * billSell.discount) / 100)}}"
                               ng-required="billSell.receipt.paymentMethod==='Cash'"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="billSell.receipt.amountNumber">
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-if="billSell.receipt.paymentMethod!=='Later'">
                    <label for="checkCode" class="control-label">
                        <span ng-if="lang==='AR'">رقم الشيك</span>
                        <span ng-if="lang==='EN'">Check Code</span>
                    </label>
                    <input id="checkCode"
                           type="number"
                           ng-required="billSell.receipt.paymentMethod==='Check'"
                           ng-disabled="billSell.receipt.paymentMethod!=='Check'"
                           disable-validation-message=""
                           class="form-control"
                           ng-model="billSell.receipt.checkCode">
                </div>

            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="note" class="control-label">
                    <span ng-if="lang==='AR'">ملاحظات الفاتورة</span>
                    <span ng-if="lang==='EN'">Notes</span>
                </label>
                <textarea id="note"
                          type="text"
                          msd-elastic="\n"
                          class="form-control"
                          ng-model="billSell.note">
                </textarea>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span ng-if="lang==='AR'">م</span>
                                <span ng-if="lang==='EN'">#</span>
                            </th>

                            <th class="info">
                                <span ng-if="lang==='AR'">رقم الصنف</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">الاسم التجاري</span>
                                <span ng-if="lang==='EN'">Trade Name</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">الاسم العلمي</span>
                                <span ng-if="lang==='EN'">Medical Name</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">المخزون</span>
                                <span ng-if="lang==='EN'">Stock</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">وحدة القياس</span>
                                <span ng-if="lang==='EN'">Unit</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">سعر البيع</span>
                                <span ng-if="lang==='EN'">Unit Price</span>
                            </th>

                            <th class="success">
                                <span ng-if="lang==='AR'">الكمية</span>
                                <span ng-if="lang==='EN'">Quantity</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="diagnosis in billSell.order.diagnoses | filter:{treated:false}">
                            <td>{{$index+1}}</td>
                            <td class="info">
                                <a href="" ng-click="ModalProvider.openDrugDetailsModel(diagnosis.drug)">
                                    <strong>{{diagnosis.drug.code}}</strong>
                                </a>
                            </td>
                            <td>
                                <span ng-if="lang==='AR'">{{diagnosis.drug.nameArabic}}</span>
                                <span ng-if="lang==='EN'">{{diagnosis.drug.nameEnglish}}</span>
                            </td>
                            <td>
                                <span ng-if="lang==='AR'">{{diagnosis.drug.medicalNameArabic}}</span>
                                <span ng-if="lang==='EN'">{{diagnosis.drug.medicalNameEnglish}}</span>
                            </td>
                            <td>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <ui-select ng-model="diagnosis.transactionBuy"
                                               ng-change="transactionBuyCalculation(diagnosis.transactionBuy);calculateCostSum();"
                                               required="required"
                                               disable-validation-message=""
                                               theme="bootstrap">
                                        <ui-select-match placeholder="اختر رقم المخزون من الصنف">
                                                <span ng-if="diagnosis.transactionBuy.id">
                                                    <span>{{$select.selected.code}}</span>
                                                </span>
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="transactionBuy in diagnosis.drug.transactionBuys | filter: $select.search | orderBy:'code' track by transactionBuy.id">
                                            <div ng-bind-html="transactionBuy.code | highlight: $select.search"></div>
                                            <small>
                                                <span ng-if="lang==='AR'">رقم المخزون : </span>
                                                <span ng-if="lang==='EN'">Transaction Code: </span>
                                                <span ng-bind-html="''+transactionBuy.code | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">وحدة القياس : </span>
                                                <span ng-if="lang==='EN'">Unit: </span>
                                                <span ng-bind-html="''+transactionBuy.drugUnit.name | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">سعر البيع للوحدة : </span>
                                                <span ng-if="lang==='EN'">Unit Sell Cost: </span>
                                                <span ng-bind-html="''+transactionBuy.unitSellCost | highlight: $select.search"></span>
                                                <br/>
                                                <span ng-if="lang==='AR'">الرصيد الحالي : </span>
                                                <span ng-if="lang==='EN'">Real Quantity: </span>
                                                <span ng-bind-html="''+transactionBuy.realQuantity | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <select class="form-control"
                                            ng-model="diagnosis.related"
                                            ng-change="calculateCostSum()"
                                            required="required"
                                            disable-validation-message=""
                                            ng-options="related.obj1.name for related in diagnosis.transactionBuy.relatedPrices | orderBy:'related.obj1.name' track by related.obj1.id">
                                    </select>
                                </div>
                            </td>
                            <td>{{diagnosis.related.obj3}}</td>
                            <td class="success">{{diagnosis.quantity}}</td>
                        </tr>
                        <tr class="blank_row"
                            style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!billSell.order.diagnoses || billSell.order.diagnoses.length ==0">
                            <td colspan="8">
                                <strong ng-if="lang==='AR'">لا توجد وصفات طبية</strong>
                                <strong ng-if="lang==='EN'">No Prescriptions</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="form-group row">

                <h3 class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 box-info">
                    <span ng-if="lang==='AR'">الاجمالي قبل الخصم =  </span>
                    <span ng-if="lang==='EN'">Price Without Discount =  </span>
                    <span>{{totalCost | currency:' SAR ':2}}</span>
                </h3>

                <h3 class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 box-warning">
                    <span ng-if="lang==='AR'">قيمة الخصم =  </span>
                    <span ng-if="lang==='EN'">Discount =  </span>
                    <span>{{(totalCost * billSell.discount) / 100 | currency:' SAR ':2}}</span>
                </h3>

                <h3 class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 box-danger">
                    <span ng-if="lang==='AR'">الاجمالي بعد الخصم =  </span>
                    <span ng-if="lang==='EN'">Price After Discount =  </span>
                    <span>{{totalCostAfterDiscount | currency:' SAR ':2}}</span>
                </h3>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    ng-disabled="order.unTreated===0"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    ng-disabled="order.unTreated===0"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>