<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x mdl-color-text--white"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong ng-if="lang==='AR' && paramFundReceipt.receiptType==='In'">البحث فى سندات القبض</strong>
                <strong ng-if="lang==='AR' && paramFundReceipt.receiptType==='Out'">البحث فى سندات الصرف</strong>
                <strong ng-if="lang==='EN' && paramFundReceipt.receiptType==='In'">Search In Cash In</strong>
                <strong ng-if="lang==='EN' && paramFundReceipt.receiptType==='Out'">Search In Cash Out</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="receiptCodeFrom" class="control-label">
                        <span ng-if="lang==='AR'">رقم السند من</span>
                        <span ng-if="lang==='EN'">Contract Code From</span>
                    </label>
                    <input id="receiptCodeFrom"
                           type="number"
                           class="form-control"
                           ng-model="paramFundReceipt.receiptCodeFrom">
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="receiptCodeTo" class="control-label">
                        <span ng-if="lang==='AR'">رقم السند إلى</span>
                        <span ng-if="lang==='EN'">Contract Code From</span>
                    </label>
                    <input id="receiptCodeTo"
                           type="number"
                           class="form-control"
                           ng-model="paramFundReceipt.receiptCodeTo">
                </div>

            </div>

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='H'">
                    <label for="receiptDateFrom" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ السند من</span>
                        <span ng-if="lang==='EN'">Contract Date From</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="receiptDateFrom"
                               type="text"
                               class="form-control is-calendarPicker"
                               ng-model="paramFundReceipt.receiptDateFrom"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='G'">
                    <label for="G-receiptDateFrom" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ السند من</span>
                        <span ng-if="lang==='EN'">Contract Date From</span>
                    </label>
                    <input id="G-receiptDateFrom"
                           class="form-control "
                           type="date"
                           name="input"
                           ng-model="paramFundReceipt.receiptDateFrom"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='H'">
                    <label for="receiptDateTo" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ السند إلى</span>
                        <span ng-if="lang==='EN'">Contract Date To</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="receiptDateTo"
                               type="text"
                               class="form-control is-calendarPicker"
                               ng-model="paramFundReceipt.receiptDateTo"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='G'">
                    <label for="G-receiptDateTo" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ السند إلى</span>
                        <span ng-if="lang==='EN'">Contract Date To</span>
                    </label>
                    <input id="G-receiptDateTo"
                           class="form-control "
                           type="date"
                           name="input"
                           ng-model="paramFundReceipt.receiptDateTo"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"/>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'بحث' : 'Search'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">search</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>