<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form name="from1" ng-submit="submitFundUpdate()" novalidate="novalidate" focus-group="" focus-stack=""
          focus-group-head="loop" focus-group-tail="loop">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                    <h3 ng-if="lang==='EN'">The General Information</h3>
                    <span ng-if="lang==='AR'">حساب الصندوق</span>
                    <span ng-if="lang==='EN'">Fund Information</span>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                    <div class="alert alert-danger" role="alert">
                        <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                        <strong ng-if="lang==='EN'">Please Complete Required Fields.</strong>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="code" class="control-label">
                            <span ng-if="lang==='AR'">رقم الصندوق</span>
                            <span ng-if="lang==='EN'">Fund Code</span>
                        </label>
                        <input id="code"
                               type="text"
                               focus-autofocus="1"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedFund.code">
                    </div>

                    <div class="form-group col-xs-12 col-sm-4 col-md-6 col-lg-6">
                        <label for="balance" class="control-label">
                            <span ng-if="lang==='AR'">الرصيد الحالي</span>
                            <span ng-if="lang==='EN'">Current Balance</span>
                        </label>
                        <input id="balance"
                               type="number"
                               readonly
                               class="form-control"
                               ng-model="selectedFund.balance">
                    </div>

                </div>

            </div>
            <div class="panel-footer">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                            tooltip-append-to-body="true"
                            type="submit"
                            ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">save</i>
                                <span ng-if="lang==='AR'">حفظ البيانات</span>
                                <span ng-if="lang==='EN'">Save</span>
                            </span>
                    </button>

                </div>

            </div>
        </div>
    </form>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="newFundReceiptIn()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/Receipts.png')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>توريد للصندوق / سند قبض</span>
            </a>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
         ng-click="newFundReceiptOut()">
        <div class="card-image mdl-card" style="background-image: url('/ui/img/Receipts.png')">
            <div class="mdl-card__title mdl-card--expand"></div>
        </div>
        <div class="mdl-card__actions">
            <a class="card-image__filename">
                <span>صرف من الصندوق / سند صرف</span>
            </a>
        </div>
    </div>

</div>