<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ui-serf="help">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ui-serf="about">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
    </header>

    <main class="mdl-layout__content">

        <div class="row" style="margin-top: 10px">

            <form name="from" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
                  focus-group-head="loop" focus-group-tail="loop">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                     ng-show="form.$invalid && form.$submitted">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>فضلاً اكمل الحقول المطلوبة</strong>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <span ng-if="lang==='AR'">البيانات الاساسية</span>
                                            <span ng-if="lang==='EN'">Basic Information</span>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label for="firstName" class="control-label">
                                                        <span ng-if="lang==='AR'">اللقب</span>
                                                        <span ng-if="lang==='EN'">Nickname</span>
                                                    </label>
                                                    <input id="firstName"
                                                           type="text"
                                                           focus-autofocus="1"
                                                           required="required"
                                                           disable-validation-message=""
                                                           class="form-control"
                                                           ng-model="me.nickname">
                                                </div>

                                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label for="forthName" class="control-label">
                                                        <span ng-if="lang==='AR'">الاسم كاملاً</span>
                                                        <span ng-if="lang==='EN'">Name</span>
                                                    </label>
                                                    <input id="forthName"
                                                           type="text"
                                                           required="required"
                                                           disable-validation-message=""
                                                           class="form-control"
                                                           ng-model="me.name">
                                                </div>
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="nationality" class="control-label">
                                                    <span ng-if="lang==='AR'">الجنسية</span>
                                                    <span ng-if="lang==='EN'">Nationality</span>
                                                </label>
                                                <input id="nationality"
                                                       type="text"
                                                       class="form-control"
                                                       required="required"
                                                       disable-validation-message=""
                                                       ng-model="me.nationality">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="identityNumber" class="control-label">
                                                    <span ng-if="lang==='AR'">رقم الهوية / رخصة الإقامة</span>
                                                    <span ng-if="lang==='EN'">Identity Card Number</span>
                                                </label>
                                                <input id="identityNumber"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="me.identityNumber">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="mobile" class="control-label">
                                                    <span ng-if="lang==='AR'">الجوال</span>
                                                    <span ng-if="lang==='EN'">Mobile</span>
                                                </label>
                                                <input id="mobile"
                                                       type="text"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control"
                                                       ng-model="me.mobile">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="address" class="control-label">
                                                    <span ng-if="lang==='AR'">العنوان الحالي</span>
                                                    <span ng-if="lang==='EN'">Address</span>
                                                </label>
                                                <input id="address"
                                                       type="text"
                                                       class="form-control"
                                                       ng-model="me.address">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="qualification" class="control-label">
                                                    <span ng-if="lang==='AR'">المؤهل</span>
                                                    <span ng-if="lang==='EN'">Qualification</span>
                                                </label>
                                                <input id="qualification"
                                                       type="text"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control"
                                                       ng-model="me.qualification">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="team" class="control-label">
                                                    <span ng-if="lang==='AR'">مجموعة الصلاحيات</span>
                                                    <span ng-if="lang==='EN'">Team</span>
                                                </label>
                                                <input id="team"
                                                       type="text"
                                                       readonly
                                                       class="form-control"
                                                       ng-model="me.team.name">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="email" class="control-label">
                                                    <span ng-if="lang==='AR'">البريد الإلكتروني</span>
                                                    <span ng-if="lang==='EN'">Email</span>
                                                </label>
                                                <input id="email"
                                                       dir="ltr"
                                                       type="text"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-left"
                                                       ng-model="me.email">
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="password" class="control-label">
                                                    <span ng-if="lang==='AR'">الرقم السري</span>
                                                    <span ng-if="lang==='EN'">Password</span>
                                                </label>
                                                <input id="password"
                                                       dir="ltr"
                                                       type="password"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-left"
                                                       ng-model="me.password">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    <input id="uploader" style="display: none" type="file" nv-file-select="" accept="image/*" uploader="uploader"/>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                                                <li>
                                                    <a href=""
                                                       ng-click="uploadFile()"
                                                       tooltip-append-to-body="true"
                                                       uib-tooltip="تحميل">
                                                        <span class="fa fa-paperclip"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                                <span ng-if="lang==='AR'">الصورة الشخصية</span>
                                                <span ng-if="lang==='EN'">Personal Picture</span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <img ng-src="{{me.photo}}" style="width: 100%; height: 100%"/>
                                            <div ng-show="uploader.queue.length > 0"
                                                 ng-hide="uploader.queue[0].isSuccess">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar progress-bar-striped active"
                                                         role="progressbar"
                                                         ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <button tooltip-append-to-body="true"
                                        type="submit"
                                        ng-class="{'pull-left': lang==='AR', 'pull-right' : lang==='EN'}"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">save</i>
                                        <span ng-if="lang==='AR'">حفظ البيانات</span>
                                        <span ng-if="lang==='EN'">Save</span>
                                    </span>
                                </button>

                            </div>

                        </div>
                    </div>
                </div>

            </form>

        </div>

    </main>

</div>