<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات الاساسية</span>
                        <span ng-if="lang==='EN'">Basic Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="employee" class="control-label">
                                        <span ng-if="lang==='AR'">الموظف</span>
                                        <span ng-if="lang==='EN'">Employee</span>
                                    </label>
                                    <select id="employee" data-placeholder="{{lang==='AR' ? 'ابحث عن الموظف' : 'Search For Employee...'}}"
                                            no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                            placeholder-text-single="'{{lang==='AR' ? 'اختر الموظف' : 'Please Select Employee...'}}'"
                                            class="form-control"
                                            chosen=""
                                            ng-model="salary.employee"
                                            required="required"
                                            disable-validation-message=""
                                            ng-options="(employee.person.nickname + ' / ' + employee.person.name) for employee in employees track by employee.id">
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="calendarType" class="control-label">
                                        <span ng-if="lang==='AR'">نوع التقويم</span>
                                        <span ng-if="lang==='EN'">Calendar Type</span>
                                    </label>
                                    <select id="calendarType"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="salary.calendarType">
                                        <option ng-if="lang==='AR'" value="Hijri">هجري</option>
                                        <option ng-if="lang==='EN'" value="Hijri">Hijri</option>
                                        <option ng-if="lang==='AR'" value="Gregorian">ميلادي</option>
                                        <option ng-if="lang==='EN'" value="Gregorian">Gregorian</option>
                                    </select>
                                </div>

                                <div class="form-group row">

                                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="year" class="control-label">
                                            <span ng-if="lang==='AR'">السنة</span>
                                            <span ng-if="lang==='EN'">Year</span>
                                        </label>
                                        <input id="year"
                                               type="number"
                                               ng-maxlength="4"
                                               ng-minlength="4"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="salary.year">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="month" class="control-label">
                                            <span ng-if="lang==='AR'">الشهر</span>
                                            <span ng-if="lang==='EN'">Month</span>
                                        </label>
                                        <input id="month"
                                               type="number"
                                               ng-maxlength="2"
                                               ng-minlength="1"
                                               ng-min="1"
                                               ng-max="12"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="salary.month">
                                    </div>

                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="amount" class="control-label">
                                        <span ng-if="lang==='AR'">مقدار الدفعة</span>
                                        <span ng-if="lang==='EN'">Amount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="amount">
                                        <span class="input-group-addon">
                                            <span>ريال سعودي</span>
                                        </span>
                                        <input dir="rtl"
                                               type="number"
                                               min="0"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="salary.receipt.amountNumber">
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="note" class="control-label">
                                        <span ng-if="lang==='AR'">ملاحظات</span>
                                        <span ng-if="lang==='EN'">Notes</span>
                                    </label>
                                    <textarea id="note"
                                              type="text"
                                              msd-elastic="\n"
                                              class="form-control"
                                              ng-model="salary.receipt.note">
                                </textarea>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>