<div>

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong ng-if="lang==='AR'">تفاصيل الدواء</strong>
                <strong ng-if="lang==='EN'">Drug Details</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshDrug()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                            <h3 ng-if="lang==='EN'">Basic Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">رقم الدواء</span>
                                            <span ng-if="lang==='EN'">Code</span>
                                        </td>
                                        <td>{{drug.code}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">الاسم التجاري عربي</span>
                                            <span ng-if="lang==='EN'">Trade Name - Arabic</span>
                                        </td>
                                        <td>{{drug.nameArabic}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">الاسم التجاري إنجليزي</span>
                                            <span ng-if="lang==='EN'">Trade Name - English</span>
                                        </td>
                                        <td>{{drug.nameEnglish}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">الاسم العلمي عربي</span>
                                            <span ng-if="lang==='EN'">Medical Name - Arabic</span>
                                        </td>
                                        <td>{{drug.medicalNameArabic}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">الاسم العلمي إنجليزي</span>
                                            <span ng-if="lang==='EN'">Medical Name - English</span>
                                        </td>
                                        <td>{{drug.medicalNameEnglish}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshFalcons()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">المخزون</h3>
                            <h3 ng-if="lang==='EN'">Inventory</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionFalcons" st-safe-src="drug.falcons" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="code" class="text-center">
                                        <span ng-if="lang==='AR'">رقم الصقر</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>
                                    <th st-sort="registerDate" class="text-center">
                                        <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                                        <span ng-if="lang==='EN'">Register Date</span>
                                    </th>
                                    <th st-sort="weight" class="text-center">
                                        <span ng-if="lang==='AR'">الوزن</span>
                                        <span ng-if="lang==='EN'">Weight</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="offer in collectionFalcons">
                                    <td>{{offer.code}}</td>
                                    <td>
                                        <span>{{offer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{offer.registerDate | date:'h:m a'}}</span>
                                    </td>
                                    <td>{{offer.weight | currency:'KG':0.0}}</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collectionFalcons || collectionFalcons.length ==0">
                                    <td colspan="3">
                                        <span ng-if="lang==='AR'">لا توجد صقور مسجلة لهذا العميل</span>
                                        <span ng-if="lang==='EN'">No Falcons Registered For This Drug</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshFalcons()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">المبيعات</h3>
                            <h3 ng-if="lang==='EN'">Sales</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collectionFalcons" st-safe-src="drug.falcons" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="code" class="text-center">
                                        <span ng-if="lang==='AR'">رقم الصقر</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>
                                    <th st-sort="registerDate" class="text-center">
                                        <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                                        <span ng-if="lang==='EN'">Register Date</span>
                                    </th>
                                    <th st-sort="weight" class="text-center">
                                        <span ng-if="lang==='AR'">الوزن</span>
                                        <span ng-if="lang==='EN'">Weight</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="offer in collectionFalcons">
                                    <td>{{offer.code}}</td>
                                    <td>
                                        <span>{{offer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{offer.registerDate | date:'h:m a'}}</span>
                                    </td>
                                    <td>{{offer.weight | currency:'KG':0.0}}</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collectionFalcons || collectionFalcons.length ==0">
                                    <td colspan="3">
                                        <span ng-if="lang==='AR'">لا توجد صقور مسجلة لهذا العميل</span>
                                        <span ng-if="lang==='EN'">No Falcons Registered For This Drug</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'تعديل...' : 'Edit...'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-if="contains(me.team.authorities, ['ROLE_DRUG_UPDATE'])"
                    ng-click="ModalProvider.openDrugUpdateModel(drug)"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <i class="material-icons">account_circle</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'تسجيل حساب صقر جديد...' : 'New Falcon...'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE'])"
                    ng-click="newFalcon(drug)"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <i class="material-icons">adb</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</div>