<div>

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong ng-if="lang==='AR'">تفاصيل العملاء</strong>
                <strong ng-if="lang==='EN'">Customers Details</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshCustomer()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                            <h3 ng-if="lang==='EN'">Basic Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">اسم العميل</span>
                                            <span ng-if="lang==='EN'">Name</span>
                                        </td>
                                        <td>{{customer.nickname}} {{customer.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                                            <span ng-if="lang==='EN'">Register Date</span>
                                        </td>
                                        <td>
                                            {{customer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                            <span class="label label-success">{{customer.registerDate | date:'h:m a'}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">الجوال</span>
                                            <span ng-if="lang==='EN'">Mobile</span>
                                        </td>
                                        <td>{{customer.mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">رقم الهوية</span>
                                            <span ng-if="lang==='EN'">Identity Card Number</span>
                                        </td>
                                        <td>{{customer.identityNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">الجنسية</span>
                                            <span ng-if="lang==='EN'">Nationality</span>
                                        </td>
                                        <td>{{customer.nationality}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span ng-if="lang==='AR'">المهنة</span>
                                            <span ng-if="lang==='EN'">Job</span>
                                        </td>
                                        <td>{{customer.job}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                            <li>
                                <a href="" ng-click="refreshFalcons()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">الصقور المسجلة</h3>
                            <h3 ng-if="lang==='EN'">Registered Falcons</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection1" st-safe-src="customer.falcons" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th st-sort="code" class="text-center">
                                        <span ng-if="lang==='AR'">رقم الصقر</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>
                                    <th st-sort="registerDate" class="text-center">
                                        <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                                        <span ng-if="lang==='EN'">Register Date</span>
                                    </th>
                                    <th st-sort="weight" class="text-center">
                                        <span ng-if="lang==='AR'">الوزن</span>
                                        <span ng-if="lang==='EN'">Weight</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="offer in collection1">
                                    <td>{{offer.code}}</td>
                                    <td>
                                        <span>{{offer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span class="label label-success">{{offer.registerDate | date:'h:m a'}}</span>
                                    </td>
                                    <td>{{offer.weight | currency:'KG':0.0}}</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collection1 || collection1.length ==0">
                                    <td colspan="3">
                                        <span ng-if="lang==='AR'">لا توجد صقور مسجلة لهذا العميل</span>
                                        <span ng-if="lang==='EN'">No Falcons Registered For This Customer</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshOrders()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">قائمة الطلبات</h3>
                            <h3 ng-if="lang==='EN'">Orders List</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection2" st-safe-src="customer.orders"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span ng-if="lang==='AR'">م</span>
                                        <span ng-if="lang==='EN'">#</span>
                                    </th>

                                    <th st-sort="code">
                                        <span ng-if="lang==='AR'">رقم الطلب</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>

                                    <th st-sort="date">
                                        <span ng-if="lang==='AR'">التاريخ</span>
                                        <span ng-if="lang==='EN'">Date</span>
                                    </th>

                                    <th st-sort="falcon.code">
                                        <span ng-if="lang==='AR'">رقم الصقر</span>
                                        <span ng-if="lang==='EN'">Falcon Code</span>
                                    </th>

                                    <th st-sort="falcon.weight">
                                        <span ng-if="lang==='AR'">وزن الصقر</span>
                                        <span ng-if="lang==='EN'">Falcon Weight</span>
                                    </th>

                                    <th st-sort="falcon.type">
                                        <span ng-if="lang==='AR'">نوع الصقر</span>
                                        <span ng-if="lang==='EN'">Falcon Type</span>
                                    </th>

                                    <th st-sort="net">
                                        <span ng-if="lang==='AR'">المبلغ المطلوب</span>
                                        <span ng-if="lang==='EN'">Net</span>
                                    </th>

                                    <th st-sort="paid">
                                        <span ng-if="lang==='AR'">المدفوع</span>
                                        <span ng-if="lang==='EN'">Paid</span>
                                    </th>

                                    <th st-sort="remain">
                                        <span ng-if="lang==='AR'">الباقي</span>
                                        <span ng-if="lang==='EN'">Remain</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in collection2">
                                    <td>{{$index+1}}</td>
                                    <td>{{order.code}}</td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{order.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{order.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{order.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>{{order.falcon.code}}</td>
                                    <td>{{order.falcon.weight}} جرام</td>
                                    <td>{{order.falcon.type}}</td>
                                    <td>{{order.netCost}} SAR</td>
                                    <td>{{order.paid}} SAR</td>
                                    <td>{{order.remain}} SAR</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection2 || collection2.length ==0">
                                    <td colspan="9">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <h3 class="label-danger" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-if="(customer.orders | sumByKey:'paid')>=0">
                                <span ng-if="lang==='AR'">إجمالي المدفوع</span>
                                <span ng-if="lang==='EN'">Total Income: </span>
                                <span>{{customer.orders | sumByKey:'paid'}} SAR</span>
                            </h3>
                            <h3 class="label-danger" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-if="(customer.orders | sumByKey:'remain')>=0">
                                <span ng-if="lang==='AR'">إجمالي الدين</span>
                                <span ng-if="lang==='EN'">Total Debt: </span>
                                <span>{{customer.orders | sumByKey:'remain'}} SAR</span>
                            </h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'تعديل...' : 'Edit...'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                    ng-click="ModalProvider.openCustomerUpdateModel(customer)"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <i class="material-icons">account_circle</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'تسجيل حساب صقر جديد...' : 'New Falcon...'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE'])"
                    ng-click="newFalcon(customer)"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <i class="material-icons">adb</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</div>