<div>

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x mdl-color-text--white"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong ng-if="lang==='AR'">تفاصيل العملاء</strong>
                <strong ng-if="lang==='EN'">Customers Details</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

            <div class="mdl-tabs__tab-bar">

                <a href="#panel-1-{{$index}}" class="mdl-tabs__tab is-active">
                    <span ng-if="lang==='AR'">التفاصيل</span>
                    <span ng-if="lang==='EN'">Details</span>
                </a>

                <a href="#panel-2-{{$index}}" class="mdl-tabs__tab">
                    <span ng-if="lang==='AR'">الصقور المسجلة</span>
                    <span ng-if="lang==='EN'">Registered Falcons</span>
                    <span ng-if="customer.falcons.length > 0" class="mdl-badge" data-badge="{{customer.falcons.length}}"></span>
                </a>

                <a href="#panel-3-{{$index}}" class="mdl-tabs__tab">
                    <span ng-if="lang==='AR'">طلبات الفحص</span>
                    <span ng-if="lang==='EN'">Orders</span>
                    <span ng-if="customer.orders.length > 0" class="mdl-badge" data-badge="{{customer.orders.length}}"></span>
                </a>

            </div>

            <div class="mdl-tabs__panel is-active" id="panel-1-{{$index}}">

                <div class="form-group row">
                    <button uib-tooltip="{{lang==='AR' ? 'تحديث' : 'Refresh'}}"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-click="refreshCustomer()"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i class="material-icons">cached</i>
                    </button>
                    <button uib-tooltip="{{lang==='AR' ? 'تعديل البيانات' : 'Edit Information'}}"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                            ng-click="ModalProvider.openCustomerUpdateModel(customer)"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i class="material-icons">edit</i>
                    </button>
                </div>

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">اسم العميل</span>
                                    <span ng-if="lang==='EN'">Name</span>
                                </td>
                                <td>{{customer.nickname}} {{customer.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                                    <span ng-if="lang==='EN'">Register Date</span>
                                </td>
                                <td>
                                    {{customer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                                    <span class="label label-success">{{customer.registerDate | date:'h:m a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">الجوال</span>
                                    <span ng-if="lang==='EN'">Mobile</span>
                                </td>
                                <td>{{customer.mobile}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">رقم الهوية</span>
                                    <span ng-if="lang==='EN'">Identity Card Number</span>
                                </td>
                                <td>{{customer.identityNumber}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">الجنسية</span>
                                    <span ng-if="lang==='EN'">Nationality</span>
                                </td>
                                <td>{{customer.nationality}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">المهنة</span>
                                    <span ng-if="lang==='EN'">Job</span>
                                </td>
                                <td>{{customer.job}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">إجمالي المسدد</span>
                                    <span ng-if="lang==='EN'">Total Income: </span>
                                </td>
                                <td>{{customer.paidSum | currency:' SAR ':2}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span ng-if="lang==='AR'">إجمالي الدين</span>
                                    <span ng-if="lang==='EN'">Total Debt: </span>
                                </td>
                                <td>{{customer.remainSum | currency:' SAR ':2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="mdl-tabs__panel" id="panel-2-{{$index}}">

                <div class="form-group row">
                    <button uib-tooltip="{{lang==='AR' ? 'تحديث' : 'Refresh'}}"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-click="refreshFalcons()"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i class="material-icons">cached</i>
                    </button>
                    <button uib-tooltip="{{lang==='AR' ? 'صقر جديد' : 'New Falcon'}}"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE'])"
                            ng-click="newFalcon(customer)"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i class="material-icons">add</i>
                    </button>
                </div>

                <div class="form-group row">

                    <div class="table-responsive">
                        <table st-table="collection1" st-safe-src="customer.falcons" class="table table-bordered">
                            <thead>
                            <tr>
                                <th st-sort="code" class="text-center success">
                                    <span ng-if="lang==='AR'">رقم الصقر</span>
                                    <span ng-if="lang==='EN'">Code</span>
                                </th>
                                <th st-sort="registerDate" class="text-center">
                                    <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                                    <span ng-if="lang==='EN'">Register Date</span>
                                </th>
                                <th st-sort="weight">
                                    <span ng-if="lang==='AR'">وزن الصقر</span>
                                    <span ng-if="lang==='EN'">Falcon Weight</span>
                                </th>

                                <th st-sort="type">
                                    <span ng-if="lang==='AR'">نوع الصقر</span>
                                    <span ng-if="lang==='EN'">Falcon Type</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="falcon in collection1" ng-dblclick="ModalProvider.openFalconDetailsModel(falcon)">
                                <td class="success"><a href="" ng-click="ModalProvider.openFalconDetailsModel(falcon)">{{falcon.code}}</a></td>
                                <td>
                                    <span ng-show="dateType==='H'">{{falcon.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                    <span ng-show="dateType==='G'">{{falcon.registerDate | date: 'yyyy-MM-dd'}}</span>
                                   {{falcon.registerDate | date:'h:m a'}}
                                </td>
                                <td>
                                    <span ng-if="lang==='AR'">{{falcon.weight | currency:' جرام ':0.0}}</span>
                                    <span ng-if="lang==='EN'">{{falcon.weight | currency:' G ':0.0}}</span>
                                </td>
                                <td>{{falcon.type}}</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;" ng-show="!collection1 || collection1.length ==0">
                                <td colspan="4">
                                    <span ng-if="lang==='AR'">لا توجد صقور مسجلة لهذا العميل</span>
                                    <span ng-if="lang==='EN'">No Falcons Registered For This Customer</span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

                <div class="form-group row">

                    <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-success">
                        <span ng-if="lang==='AR'">عدد الصقور =  </span>
                        <span ng-if="lang==='EN'">Falcons Count =  </span>
                        <span>{{customer.falcons.length}}</span>
                    </h3>

                </div>

            </div>

            <div class="mdl-tabs__panel" id="panel-3-{{$index}}">

                <div class="form-group row">
                    <button uib-tooltip="{{lang==='AR' ? 'تحديث' : 'Refresh'}}"
                            tooltip-append-to-body="true"
                            type="button"
                            ng-click="refreshOrders()"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <i class="material-icons">cached</i>
                    </button>
                </div>

                <div class="form-group row">

                    <div class="table-responsive">
                        <table st-table="collection2" st-safe-src="customer.orders"
                               class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <span ng-if="lang==='AR'">م</span>
                                    <span ng-if="lang==='EN'">#</span>
                                </th>

                                <th st-sort="code" class="success">
                                    <span ng-if="lang==='AR'">رقم الطلب</span>
                                    <span ng-if="lang==='EN'">Code</span>
                                </th>

                                <th st-sort="date">
                                    <span ng-if="lang==='AR'">التاريخ</span>
                                    <span ng-if="lang==='EN'">Date</span>
                                </th>

                                <th st-sort="falcon.code">
                                    <span ng-if="lang==='AR'">رقم الصقر</span>
                                    <span ng-if="lang==='EN'">Falcon Code</span>
                                </th>

                                <th st-sort="net" class="info">
                                    <span ng-if="lang==='AR'">المبلغ المطلوب</span>
                                    <span ng-if="lang==='EN'">Net</span>
                                </th>

                                <th st-sort="paid" class="warning">
                                    <span ng-if="lang==='AR'">المدفوع</span>
                                    <span ng-if="lang==='EN'">Paid</span>
                                </th>

                                <th st-sort="remain" class="danger">
                                    <span ng-if="lang==='AR'">الباقي</span>
                                    <span ng-if="lang==='EN'">Remain</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in collection2" ng-dblclick="ModalProvider.openOrderDetailsModel(order)">
                                <td>{{$index+1}}</td>
                                <td class="success"><a href="" ng-click="ModalProvider.openOrderDetailsModel(order)">{{order.code}}</a></td>
                                <td>
                                    <span ng-show="dateType==='H'">{{order.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                    <span ng-show="dateType==='G'">{{order.date | date: 'yyyy-MM-dd'}}</span>
                                    {{order.date | date:'h:m a'}}
                                </td>
                                <td>{{order.falcon.code}}</td>
                                <td class="info">{{order.netCost}} SAR</td>
                                <td class="warning">{{order.paid}} SAR</td>
                                <td class="danger">{{order.remain}} SAR</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection2 || collection2.length ==0">
                                <td colspan="7">
                                    <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                    <span ng-if="lang==='EN'">No Data Found.</span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

                <div class="form-group row">

                    <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-success">
                        <span ng-if="lang==='AR'">عدد الطلبات =  </span>
                        <span ng-if="lang==='EN'">Orders Count =  </span>
                        <span>{{customer.orders.length}}</span>
                    </h3>

                    <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-info">
                        <span ng-if="lang==='AR'">إجمالي السعر المطلوب =  </span>
                        <span ng-if="lang==='EN'">Total Orders Prices =  </span>
                        <span>{{customer.orders | sumByKey:'netCost' | currency:' SAR ':2}}</span>
                    </h3>

                    <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-warning">
                        <span ng-if="lang==='AR'">إجمالي المسدد =  </span>
                        <span ng-if="lang==='EN'">Total Orders Payments =  </span>
                        <span>{{customer.orders | sumByKey:'paid' | currency:' SAR ':2}}</span>
                    </h3>

                    <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-danger">
                        <span ng-if="lang==='AR'">إجمالي الباقي =  </span>
                        <span ng-if="lang==='EN'">Total Orders Remain =  </span>
                        <span>{{customer.orders | sumByKey:'remain' | currency:' SAR ':2}}</span>
                    </h3>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</div>