<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="min-height: 72px!important;width: 100%; margin-bottom: 0px !important;">
                <div ui-view="options"></div>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="home" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">dashboard</i>
                    <span ng-if="lang==='AR'">الرئيسية</span>
                    <span ng-if="lang==='EN'">DASHBOARD</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="company" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">business</i>
                    <span ng-if="lang==='AR'">الشركة</span>
                    <span ng-if="lang==='EN'">COMPANY</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="customer.list" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE', 'ROLE_CUSTOMER_UPDATE', 'ROLE_CUSTOMER_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_circle</i>
                    <span ng-if="lang==='AR'">العملاء</span>
                    <span ng-if="lang==='EN'">CUSTOMERS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="falcon" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE', 'ROLE_FALCON_UPDATE', 'ROLE_FALCON_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">adb</i>
                    <span ng-if="lang==='AR'">حسابات الصقور</span>
                    <span ng-if="lang==='EN'">FALCONS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="doctor" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE', 'ROLE_DOCTOR_UPDATE', 'ROLE_DOCTOR_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">local_hospital</i>
                    <span ng-if="lang==='AR'">الاطباء</span>
                    <span ng-if="lang==='EN'">DOCTORS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="employee.list" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_EMPLOYEE_CREATE', 'ROLE_EMPLOYEE_UPDATE', 'ROLE_EMPLOYEE_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">person_pin_circle</i>
                    <span ng-if="lang==='AR'">الموظفون</span>
                    <span ng-if="lang==='EN'">EMPLOYEES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="detectionType" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">spa</i>
                    <span ng-if="lang==='AR'">أنواع الفحص</span>
                    <span ng-if="lang==='EN'">DETECTION TYPES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="order" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE', 'ROLE_ORDER_UPDATE', 'ROLE_ORDER_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">burst_mode</i>
                    <span ng-if="lang==='AR'">طلبات الفحص</span>
                    <span ng-if="lang==='EN'">DETECTION ORDERS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="diagnosis" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE', 'ROLE_DIAGNOSIS_UPDATE', 'ROLE_DIAGNOSIS_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span ng-if="lang==='AR'">نتائج الفحص</span>
                    <span ng-if="lang==='EN'">DETECTION RESULTS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="drug" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_CREATE', 'ROLE_COMPANY_UPDATE', 'ROLE_COMPANY_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">favorite</i>
                    <span ng-if="lang==='AR'">الدواء</span>
                    <span ng-if="lang==='EN'">DRUGS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="supplier" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE', 'ROLE_SUPPLIER_UPDATE', 'ROLE_SUPPLIER_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">store</i>
                    <span ng-if="lang==='AR'">الموردين</span>
                    <span ng-if="lang==='EN'">SUPPLIER</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="billBuy" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span ng-if="lang==='AR'">فواتير الشراء</span>
                    <span ng-if="lang==='EN'">BILL BUYS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="billSell.insideSales" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE', 'ROLE_BILL_SELL_UPDATE', 'ROLE_BILL_SELL_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span ng-if="lang==='AR'">فواتير البيع</span>
                    <span ng-if="lang==='EN'">BILL SELL</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="bank" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_balance</i>
                    <span ng-if="lang==='AR'">الحسابات البنكية</span>
                    <span ng-if="lang==='EN'">BANKS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="team" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">security</i>
                    <span ng-if="lang==='AR'">الصلاحيات</span>
                    <span ng-if="lang==='EN'">PRIVILEGES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="report" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span ng-if="lang==='AR'">التقارير</span>
                    <span ng-if="lang==='EN'">REPORTS</span>
                </span>
            </a>
        </nav>
    </div>

    <main class="mdl-layout__content">

        <div class="row" style="margin-top: 10px">
            <div ui-view="body"></div>
        </div>

    </main>

</div>











