<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilter()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                       ng-click="newOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء طلب فحص' : 'New Order...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">سجلات سندات القبض</h3>
                <h3 ng-if="lang==='EN'">Receipts In List</h3>
                <span ng-if="lang==='AR'">سجل تجميعي لإيرادات المستشفي</span>
                <span ng-if="lang==='EN'">Collector Record For Incomes</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">

                    <a href="#panel-1-{{$index}}" class="mdl-tabs__tab is-active">
                        <span ng-if="lang==='AR'">جميع الايرادات</span>
                        <span ng-if="lang==='EN'">Receipts</span>
                    </a>

                    <a href="#panel-2-{{$index}}" class="mdl-tabs__tab">
                        <span ng-if="lang==='AR'">إيراد الفحص</span>
                        <span ng-if="lang==='EN'">Incomes of Diagnoses</span>
                    </a>

                    <a href="#panel-3-{{$index}}" class="mdl-tabs__tab">
                        <span ng-if="lang==='AR'">دين الفحص</span>
                        <span ng-if="lang==='EN'">Debts of Diagnoses</span>
                    </a>

                    <a href="#panel-4-{{$index}}" class="mdl-tabs__tab">
                        <span ng-if="lang==='AR'">إيراد البيع الداخلي</span>
                        <span ng-if="lang==='EN'">Incomes of Inside Sales</span>
                    </a>

                    <a href="#panel-5-{{$index}}" class="mdl-tabs__tab">
                        <span ng-if="lang==='AR'">دين البيع الداخلي</span>
                        <span ng-if="lang==='EN'">Debts of Inside Sales</span>
                    </a>

                    <a href="#panel-6-{{$index}}" class="mdl-tabs__tab">
                        <span ng-if="lang==='AR'">إيراد البيع الخارجي</span>
                        <span ng-if="lang==='EN'">Incomes of Outside Sales</span>
                    </a>

                    <a href="#panel-7-{{$index}}" class="mdl-tabs__tab">
                        <span ng-if="lang==='AR'">دين البيع الخارجي</span>
                        <span ng-if="lang==='EN'">Debts of Outside Sales</span>
                    </a>

                </div>

                <div class="mdl-tabs__panel is-active" id="panel-1-{{$index}}">

                    <div class="form-group row">
                        <div ng-include="'ui/partials/receipt/in/tab1.html'"></div>
                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-2-{{$index}}">

                    <div class="form-group row">
                        <div ng-include="'ui/partials/receipt/in/tab2.html'"></div>
                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-3-{{$index}}">
                    <div class="form-group row">
                        <div ng-include="'ui/partials/receipt/in/tab3.html'"></div>
                    </div>
                </div>

                <div class="mdl-tabs__panel" id="panel-4-{{$index}}">
                    <div class="form-group row">
                        <div class="form-group row">
                            <div ng-include="'ui/partials/receipt/in/tab4.html'"></div>
                        </div>
                    </div>
                </div>

                <div class="mdl-tabs__panel" id="panel-5-{{$index}}">
                    <div class="form-group row">
                        <div class="form-group row">
                            <div ng-include="'ui/partials/receipt/in/tab5.html'"></div>
                        </div>
                    </div>
                </div>

                <div class="mdl-tabs__panel" id="panel-6-{{$index}}">
                    <div class="form-group row">
                        <div class="form-group row">
                            <div ng-include="'ui/partials/receipt/in/tab6.html'"></div>
                        </div>
                    </div>
                </div>

                <div class="mdl-tabs__panel" id="panel-7-{{$index}}">
                    <div class="form-group row">
                        <div class="form-group row">
                            <div ng-include="'ui/partials/receipt/in/tab7.html'"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>