<div class="form-group row">

    <ul id="my-accordion2"
        class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical mdlext-js-ripple-effect"
        role="tablist" aria-multiselectable="false">

        <li class="mdlext-accordion__panel" role="presentation">
            <header class="mdlext-accordion__tab" role="tab" aria-expanded="false">
                <i class="material-icons">search</i>
                <span class="mdlext-accordion__tab__caption">
                                        <span ng-if="lang==='AR'">بحث متعدد فى بيانات طلبات الفحص</span>
                                        <span ng-if="lang==='EN'">Multiple Search By Order Information</span>
                                    </span>
                <i class="mdlext-aria-toggle-material-icons"></i>
            </header>
            <section class="mdlext-accordion__tabpanel" role="tabpanel" aria-hidden="true">

                <div class="form-group row">

                    <form name="form" ng-submit="receiptCtrl.search2()" novalidate="novalidate" focus-group="" focus-stack="" focus-group-head="loop" focus-group-tail="loop">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="orderCodeFrom" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الطلب من</span>
                                    <span ng-if="lang==='EN'">Code From</span>
                                </label>
                                <input id="orderCodeFrom"
                                       type="text"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.orderCodeFrom">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="orderCodeTo" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الطلب إلى</span>
                                    <span ng-if="lang==='EN'">Code To</span>
                                </label>
                                <input id="orderCodeTo"
                                       type="text"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.orderCodeTo">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="orderCustomerName" class="control-label">
                                    <span ng-if="lang==='AR'">اسم العميل يحتوي على</span>
                                    <span ng-if="lang==='EN'">Customer Name Contains</span>
                                </label>
                                <input id="orderCustomerName"
                                       type="text"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.orderCustomerName">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="orderCustomerMobile" class="control-label">
                                    <span ng-if="lang==='AR'">رقم جوال العميل يحتوي على</span>
                                    <span ng-if="lang==='EN'">Customer Mobile Contains</span>
                                </label>
                                <input id="orderCustomerMobile"
                                       type="text"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.orderCustomerMobile">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="orderFalconCode" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الصقر يحتوي على</span>
                                    <span ng-if="lang==='EN'">Falcon Code Contains</span>
                                </label>
                                <input id="orderFalconCode"
                                       type="text"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.orderFalconCode">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="orderFalconType" class="control-label">
                                    <span ng-if="lang==='AR'">نوع الصقر يحتوي على</span>
                                    <span ng-if="lang==='EN'">Falcon Type Contains</span>
                                </label>
                                <input id="orderFalconType"
                                       type="text"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.orderFalconType">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-if="dateType==='H'">
                                <label for="orderDateFrom" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ الطلب من</span>
                                    <span ng-if="lang==='EN'">Order Date From</span>
                                </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="orderDateFrom"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="receiptCtrl.param2.orderDateFrom"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-if="dateType==='G'">
                                <label for="G-orderDateFrom" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ الطلب من</span>
                                    <span ng-if="lang==='EN'">Order Date From</span>
                                </label>
                                <input id="G-orderDateFrom"
                                       class="form-control "
                                       type="date"
                                       name="input"
                                       ng-model="receiptCtrl.param2.orderDateFrom"
                                       placeholder="yyyy-MM-dd"
                                       min="2017-01-01"
                                       max="2030-12-31"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-if="dateType==='H'">
                                <label for="orderDateTo" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ الطلب إلى</span>
                                    <span ng-if="lang==='EN'">Order Date To</span>
                                </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="orderDateTo"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="receiptCtrl.param2.orderDateTo"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-if="dateType==='G'">
                                <label for="G-orderDateTo" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ الطلب إلى</span>
                                    <span ng-if="lang==='EN'">Order Date To</span>
                                </label>
                                <input id="G-orderDateTo"
                                       class="form-control "
                                       type="date"
                                       name="input"
                                       ng-model="receiptCtrl.param2.orderDateTo"
                                       placeholder="yyyy-MM-dd"
                                       min="2017-01-01"
                                       max="2030-12-31"/>
                            </div>

                        </div>

                        <div class="row">
                            <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                <button uib-tooltip="{{lang==='AR'? 'بحث' : 'Search'}}"
                                        tooltip-append-to-body="true"
                                        type="submit"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">search</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                                        tooltip-append-to-body="true"
                                        type="reset"
                                        ng-click="form.$setPristine();receiptCtrl.param2={};"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                            <h3 class="label-danger" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-if="receiptCtrl.totalAmount2>=0">
                                <span ng-if="lang==='AR'">الإجمالي</span>
                                <span ng-if="lang==='EN'">Total Income: </span>
                                <span>{{receiptCtrl.totalAmount2}} SAR</span>
                            </h3>
                        </div>

                    </form>

                </div>

            </section>
        </li>

        <li class="mdlext-accordion__panel" role="presentation">
            <header class="mdlext-accordion__tab" role="tab" aria-expanded="false">
                <i class="material-icons">search</i>
                <span class="mdlext-accordion__tab__caption">
                                        <span ng-if="lang==='AR'">بحث متعدد فى بيانات السند</span>
                                        <span ng-if="lang==='EN'">Multiple Search By Receipt Information</span>
                                    </span>
                <i class="mdlext-aria-toggle-material-icons"></i>
            </header>
            <section class="mdlext-accordion__tabpanel" role="tabpanel" aria-hidden="true">

                <div class="form-group row">

                    <form name="form" ng-submit="receiptCtrl.search2()" novalidate="novalidate" focus-group="" focus-stack="" focus-group-head="loop" focus-group-tail="loop">

                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="code" class="control-label">
                                    <span ng-if="lang==='AR'">رقم السند</span>
                                    <span ng-if="lang==='EN'">Code</span>
                                </label>
                                <input id="code"
                                       type="number"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.code">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="amountFrom2" class="control-label">
                                    <span ng-if="lang==='AR'">المبلغ من</span>
                                    <span ng-if="lang==='EN'">Amount From</span>
                                </label>
                                <input id="amountFrom2"
                                       type="number"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.amountFrom">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="amountTo2" class="control-label">
                                    <span ng-if="lang==='AR'">المبلغ إلى</span>
                                    <span ng-if="lang==='EN'">Amount To</span>
                                </label>
                                <input id="amountTo2"
                                       type="number"
                                       class="form-control"
                                       ng-model="receiptCtrl.param2.amountTo">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label for="paymentMethod2" class="control-label">
                                    <span ng-if="lang==='AR'">طريقة الدفع</span>
                                    <span ng-if="lang==='EN'">Payment Method</span>
                                </label>
                                <select id="paymentMethod2"
                                        class="form-control"
                                        chosen=""
                                        multiple=""
                                        disable-validation-message=""
                                        ng-model="param2.paymentMethodList">
                                    <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                                    <option ng-if="lang==='EN'" value="Cash">Cash</option>
                                    <option ng-if="lang==='AR'" value="Check">شيك</option>
                                    <option ng-if="lang==='EN'" value="Check">Check</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='H'">
                                <label for="dateFrom2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ السند من</span>
                                    <span ng-if="lang==='EN'">Receipt Date From</span>
                                </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="dateFrom2"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="receiptCtrl.param2.dateFrom"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='G'">
                                <label for="G-dateFrom2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ السند من</span>
                                    <span ng-if="lang==='EN'">Receipt Date From</span>
                                </label>
                                <input id="G-dateFrom2"
                                       class="form-control "
                                       type="date"
                                       name="input"
                                       ng-model="receiptCtrl.param2.dateFrom"
                                       placeholder="yyyy-MM-dd"
                                       min="2017-01-01"
                                       max="2030-12-31"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='H'">
                                <label for="dateTo2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ السند إلى</span>
                                    <span ng-if="lang==='EN'">Receipt Date To</span>
                                </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="dateTo2"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="receiptCtrl.param2.dateTo"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='G'">
                                <label for="G-dateTo2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ السند إلى</span>
                                    <span ng-if="lang==='EN'">Receipt Date To</span>
                                </label>
                                <input id="G-dateTo2"
                                       class="form-control "
                                       type="date"
                                       name="input"
                                       ng-model="receiptCtrl.param2.dateTo"
                                       placeholder="yyyy-MM-dd"
                                       min="2017-01-01"
                                       max="2030-12-31"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='H'">
                                <label for="lastUpdateFrom2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ إنشاء السند من</span>
                                    <span ng-if="lang==='EN'">Receipt Date Create From</span>
                                </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="lastUpdateFrom2"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="receiptCtrl.param2.lastUpdateFrom"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='G'">
                                <label for="G-lastUpdateFrom2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ إنشاء السند من</span>
                                    <span ng-if="lang==='EN'">Receipt Date Create From</span>
                                </label>
                                <input id="G-lastUpdateFrom2"
                                       class="form-control "
                                       type="date"
                                       name="input"
                                       ng-model="receiptCtrl.param2.lastUpdateFrom"
                                       placeholder="yyyy-MM-dd"
                                       min="2017-01-01"
                                       max="2030-12-31"/>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='H'">
                                <label for="lastUpdateTo2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ إنشاء السند إلى</span>
                                    <span ng-if="lang==='EN'">Receipt Date Create To</span>
                                </label>
                                <div dir="ltr" class="input-group">
                                    <input dir="rtl"
                                           id="lastUpdateTo2"
                                           type="text"
                                           class="form-control is-calendarPicker"
                                           ng-model="receiptCtrl.param2.lastUpdateTo"
                                           calendarType="ummalqura"
                                           language="en"
                                           dateFormat="yyyy/mm/dd"
                                           showOnFocus="false"
                                           readonly="readonly"
                                           kdatepicker>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3" ng-if="dateType==='G'">
                                <label for="G-lastUpdateTo2" class="control-label">
                                    <span ng-if="lang==='AR'">تاريخ إنشاء السند إلى</span>
                                    <span ng-if="lang==='EN'">Receipt Date Create To</span>
                                </label>
                                <input id="G-lastUpdateTo2"
                                       class="form-control "
                                       type="date"
                                       name="input"
                                       ng-model="receiptCtrl.param2.lastUpdateTo"
                                       placeholder="yyyy-MM-dd"
                                       min="2017-01-01"
                                       max="2030-12-31"/>
                            </div>

                        </div>

                        <div class="row">
                            <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                                <button uib-tooltip="{{lang==='AR'? 'بحث' : 'Search'}}"
                                        tooltip-append-to-body="true"
                                        type="submit"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">search</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                                        tooltip-append-to-body="true"
                                        type="reset"
                                        ng-click="form.$setPristine();receiptCtrl.param2={};"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                            <h3 class="label-danger" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-if="receiptCtrl.totalAmount2>=0">
                                <span ng-if="lang==='AR'">الإجمالي</span>
                                <span ng-if="lang==='EN'">Total Income: </span>
                                <span>{{receiptCtrl.totalAmount2}} SAR</span>
                            </h3>
                        </div>

                    </form>

                </div>

            </section>
        </li>

    </ul>

</div>

<div class="form-group row">
    <div class="table-responsive">
        <table st-table="collectionOrderReceipts" st-safe-src="receiptCtrl.orderReceipts"
               class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>

                <th st-sort="order.code">
                    <span ng-if="lang==='AR'">رقم الطلب</span>
                    <span ng-if="lang==='EN'">Order Code</span>
                </th>

                <th st-sort="order.date">
                    <span ng-if="lang==='AR'">تاريخ الطلب</span>
                    <span ng-if="lang==='EN'">Order Date</span>
                </th>

                <th st-sort="order.falcon.code">
                    <span ng-if="lang==='AR'">رقم الصقر</span>
                    <span ng-if="lang==='EN'">Falcon Code</span>
                </th>

                <th st-sort="order.falcon.type">
                    <span ng-if="lang==='AR'">نوع الصقر</span>
                    <span ng-if="lang==='EN'">Falcon Type</span>
                </th>

                <th st-sort="order.falcon.customer.name">
                    <span ng-if="lang==='AR'">اسم العميل</span>
                    <span ng-if="lang==='EN'">Customer Name</span>
                </th>

                <th class="success" st-sort="receipt.code">
                    <span ng-if="lang==='AR'">رقم السند</span>
                    <span ng-if="lang==='EN'">Receipt Code</span>
                </th>

                <th class="success" st-sort="receipt.date">
                    <span ng-if="lang==='AR'">تاريخ السداد</span>
                    <span ng-if="lang==='EN'">Payment Date</span>
                </th>

                <th class="danger" st-sort="receipt.amountNumber">
                    <span ng-if="lang==='AR'">المبلغ</span>
                    <span ng-if="lang==='EN'">Amount</span>
                </th>

                <th class="success" st-sort="receipt.paymentMethodInArabic">
                    <span ng-if="lang==='AR'">طريقة الدفع</span>
                    <span ng-if="lang==='EN'">Payment Method</span>
                </th>

                <th class="success" st-sort="receipt.note">
                    <span ng-if="lang==='AR'">البيان</span>
                    <span ng-if="lang==='EN'">Note</span>
                </th>

                <th class="success" st-sort="receipt.lastUpdate">
                    <span ng-if="lang==='AR'">تاريخ الإنشاء</span>
                    <span ng-if="lang==='EN'">Date Create</span>
                </th>

                <th class="success" st-sort="receipt.lastPerson">
                    <span ng-if="lang==='AR'">بواسطة</span>
                    <span ng-if="lang==='EN'">Created By</span>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderReceipt in collectionOrderReceipts">
                <td>{{$index+1}}</td>
                <td>{{orderReceipt.order.code}}</td>
                <td>
                    <span ng-show="dateType==='H'">{{orderReceipt.order.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                    <span ng-show="dateType==='G'">{{orderReceipt.order.date | date: 'yyyy-MM-dd'}}</span>
                    <span class="label label-success">{{orderReceipt.order.date | date:'h:m a'}}</span>
                </td>
                <td>{{orderReceipt.order.falcon.code}}</td>
                <td>{{orderReceipt.order.falcon.type}}</td>
                <td>{{orderReceipt.order.falcon.customer.name}}</td>
                <td class="success">{{orderReceipt.receipt.code}}</td>
                <td class="success">
                    <span ng-show="dateType==='H'">{{orderReceipt.receipt.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                    <span ng-show="dateType==='G'">{{orderReceipt.receipt.date | date: 'yyyy-MM-dd'}}</span>
                    <span class="label label-success">{{orderReceipt.receipt.date | date:'h:m a'}}</span>
                </td>
                <td class="danger">{{orderReceipt.receipt.amountNumber}} SAR</td>
                <td class="success">{{orderReceipt.receipt.paymentMethodInArabic}}</td>
                <td class="success">{{orderReceipt.receipt.note}}</td>
                <td class="success">
                    <span ng-show="dateType==='H'">{{orderReceipt.receipt.lastUpdate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                    <span ng-show="dateType==='G'">{{orderReceipt.receipt.lastUpdate | date: 'yyyy-MM-dd'}}</span>
                    <span class="label label-success">{{orderReceipt.receipt.lastUpdate | date:'h:m a'}}</span>
                </td>
                <td class="success">{{orderReceipt.receipt.lastPerson.name}}</td>
            </tr>
            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                ng-show="!collectionOrderReceipts || collectionOrderReceipts.length ==0">
                <td colspan="13">
                    <strong>
                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                        <span ng-if="lang==='EN'">No Data</span>
                    </strong>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="13">
                    <div st-pagination="" st-items-by-page="4" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>