<div class="row" style="margin-top: 10px">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                    style="margin-top: 2px;">
                    <li>
                        <a href=""
                           ng-click="billSellCtrl.refreshInsideSalesTable()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                            <span class="fa fa-refresh"></span>
                        </a>
                        <a href=""
                           ng-click="billSellCtrl.openInsideSalesFilter()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                            <span class="fa fa-filter"></span>
                        </a>
                        <a href=""
                           ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                           ng-click="billSellCtrl.newBillSell()"
                           tooltip-append-to-body="true"
                           uib-tooltip="{{lang==='AR' ? 'انشاء فاتورة بيع' : 'New Bill...'}}">
                            <span class="fa fa-plus-square"></span>
                        </a>
                    </li>
                </ul>
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">قائمة الفواتير</h3>
                    <h3 ng-if="lang==='EN'">Bills List</h3>
                </div>
            </div>
            <div class="panel-body panel-body-table">

                <div class="table-responsive">

                    <table st-table="collection" st-safe-src="billSellCtrl.insideBillSells" class="table table-bordered">
                        <thead>
                        <tr>

                            <th>
                                <span>#</span>
                            </th>

                            <th st-sort="code">
                                <span ng-if="lang==='AR'">رقم الفاتورة</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th st-sort="date">
                                <span ng-if="lang==='AR'">تاريخ الفاتورة</span>
                                <span ng-if="lang==='EN'">Date</span>
                            </th>

                            <th st-sort="order.code">
                                <span ng-if="lang==='AR'">رقم الطلب</span>
                                <span ng-if="lang==='EN'">Order Code</span>
                            </th>

                            <th st-sort="order.falcon.customer.name">
                                <span ng-if="lang==='AR'">اسم العميل</span>
                                <span ng-if="lang==='EN'">Customer Name</span>
                            </th>

                            <th st-sort="order.falcon.code">
                                <span ng-if="lang==='AR'">رقم الصقر</span>
                                <span ng-if="lang==='EN'">Falcon Code</span>
                            </th>

                            <th st-sort="unitSellCostSum">
                                <span ng-if="lang==='AR'">إجمالي الفاتورة</span>
                                <span ng-if="lang==='EN'">Total Cost</span>
                            </th>

                            <th st-sort="discount">
                                <span ng-if="lang==='AR'">خصم المبيعات</span>
                                <span ng-if="lang==='EN'">Sales Discount</span>
                            </th>

                            <th st-sort="net">
                                <span ng-if="lang==='AR'">الصافي</span>
                                <span ng-if="lang==='EN'">Net</span>
                            </th>

                            <th st-sort="paid">
                                <span ng-if="lang==='AR'">المدفوع</span>
                                <span ng-if="lang==='EN'">Paid</span>
                            </th>

                            <th st-sort="remain">
                                <span ng-if="lang==='AR'">الباقي</span>
                                <span ng-if="lang==='EN'">Remain</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="billSell in collection"
                            ng-class="{'mdl-shadow--8dp-reverse' : billSell.isSelected}">
                            <td st-select-row-multi="billSell">{{$index+1}}</td>
                            <td st-select-row-multi="billSell">{{billSell.code}}</td>
                            <td st-select-row-multi="billSell">
                                <span ng-show="dateType==='H'">{{billSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{billSell.date | date: 'yyyy-MM-dd'}}</span>
                                <span class="label label-success">{{billSell.date | date:'h:m a'}}</span>
                            </td>
                            <td st-select-row-multi="billSell">{{billSell.order.code}}</td>
                            <td st-select-row-multi="billSell">{{billSell.order.falcon.customer.name}}</td>
                            <td st-select-row-multi="billSell">{{billSell.order.falcon.code}}</td>
                            <td st-select-row-multi="billSell">{{billSell.unitSellCostSum}} SAR</td>
                            <td st-select-row-multi="billSell">{{billSell.discount | currency:'%'}}</td>
                            <td st-select-row-multi="billSell">{{billSell.net}} SAR</td>
                            <td st-select-row-multi="billSell">{{billSell.paid}} SAR</td>
                            <td st-select-row-multi="billSell">{{billSell.remain}} SAR</td>
                        </tr>
                        <tr ng-repeat-end="" ng-if="billSell.isSelected"
                            class="mdl-shadow--8dp">
                            <td colspan="11">
                                <div class="form-group row">
                                    <button uib-tooltip="{{lang==='AR' ? 'تحديث' : 'Refresh'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="billSellCtrl.refreshBillSell(billSell)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">cached</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف الفاتورة' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="billSellCtrl.deleteInsideBillSell(billSell)"
                                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_DELETE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'طباعة الفاتورة' : 'Print Bill'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="billSellCtrl.print(billSell)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">print</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'تسديد دفعة مالية' : 'New Payment'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-click="billSellCtrl.newBillSellReceipt(billSell)"
                                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i class="material-icons">attach_money</i>
                                    </button>
                                </div>
                                <div class="form-group row">
                                    <input id="uploader-{{$index}}" style="display: none" type="file" onchange="angular.element(this).scope().initFiles(this.files);" multiple/>
                                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                                        <div class="mdl-tabs__tab-bar">
                                            <a href="#panel-1-{{$index}}" class="mdl-tabs__tab is-active">
                                                <span ng-if="lang==='AR'">تفاصيل الفاتورة</span>
                                                <span ng-if="lang==='EN'">Bill Details</span>
                                            </a>
                                            <a href="#panel-2-{{$index}}" ng-click="billSellCtrl.refreshOrderByBillSell(billSell)" class="mdl-tabs__tab">
                                                <span ng-if="lang==='AR'">تفاصيل الطلب</span>
                                                <span ng-if="lang==='EN'">Order Details</span>
                                            </a>
                                            <a href="#panel-3-{{$index}}" ng-click="billSellCtrl.refreshTransactionSellByBill(billSell)" class="mdl-tabs__tab">
                                                <span ng-if="lang==='AR'">حركات البيع</span>
                                                <span ng-if="lang==='EN'">Sells Transactions</span>
                                            </a>
                                            <a href="#panel-4-{{$index}}" class="mdl-tabs__tab">
                                                <span ng-if="lang==='AR'">سندات القبض</span>
                                                <span ng-if="lang==='EN'">Receipts</span>
                                            </a>
                                        </div>

                                        <div class="mdl-tabs__panel is-active" id="panel-1-{{$index}}">
                                            <div class="form-group row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">رقم الفاتورة</strong>
                                                                <strong ng-if="lang==='EN'">Code</strong>
                                                            </td>
                                                            <td>{{billSell.code}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">تاريخ الفاتورة</strong>
                                                                <strong ng-if="lang==='EN'">Date</strong>
                                                            </td>
                                                            <td>
                                                                <span ng-show="dateType==='H'">{{billSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                                <span ng-show="dateType==='G'">{{billSell.date | date: 'yyyy-MM-dd'}}</span>
                                                                <span class="label label-success">{{billSell.date | date:'h:m a'}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">بواسطة</strong>
                                                                <strong ng-if="lang==='EN'">Created By</strong>
                                                            </td>
                                                            <td ng-if="billSell.lastPerson">
                                                                {{billSell.lastPerson.name}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl-tabs__panel" id="panel-2-{{$index}}">
                                            <div class="form-group row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">رقم الطلب</strong>
                                                                <strong ng-if="lang==='EN'">Code</strong>
                                                            </td>
                                                            <td>{{billSell.order.code}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">رقم الصقر</strong>
                                                                <strong ng-if="lang==='EN'">Falcon Code</strong>
                                                            </td>
                                                            <td>{{billSell.order.falcon.code}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">وزن الصقر</strong>
                                                                <strong ng-if="lang==='EN'">Falcon Weight</strong>
                                                            </td>
                                                            <td>{{billSell.order.falcon.weight}} جرام</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">نوع الصقر</strong>
                                                                <strong ng-if="lang==='EN'">Falcon Type</strong>
                                                            </td>
                                                            <td>{{billSell.order.falcon.type}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">العميل</strong>
                                                                <strong ng-if="lang==='EN'">Customer</strong>
                                                            </td>
                                                            <td ng-if="billSell.order.falcon.customer">
                                                                {{billSell.order.falcon.customer.name}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">الطبيب المعالج</strong>
                                                                <strong ng-if="lang==='EN'">Doctor</strong>
                                                            </td>
                                                            <td ng-if="billSell.order.doctor">
                                                                {{billSell.order.doctor.person.name}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">المرفقات والمستندات</strong>
                                                                <strong ng-if="lang==='EN'">Attachments</strong>
                                                            </td>
                                                            <td>
                                                                <span ng-repeat="orderAttach in billSell.order.orderAttaches">
                                                                    <a uib-tooltip="{{orderAttach.attach.name}}" tooltip-append-to-body="true"
                                                                       href="" ng-href="{{orderAttach.attach.link}}" target="_blank">
                                                                        <i class="fa fa-link fa-lg"></i>
                                                                    </a>
                                                                </span>
                                                                <strong ng-if="billSell.order.orderAttaches.length === 0">
                                                                    <a href=""
                                                                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_ATTACH_CREATE'])"
                                                                       ng-click="billSellCtrl.uploadFiles(billSell.order)">
                                                                        <span ng-if="lang==='AR'">مرفق جديد...</span>
                                                                        <span ng-if="lang==='EN'">New Attachment...</span>
                                                                    </a>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="fit">
                                                                <strong ng-if="lang==='AR'">بواسطة</strong>
                                                                <strong ng-if="lang==='EN'">Created By</strong>
                                                            </td>
                                                            <td ng-if="billSell.order.lastPerson">
                                                                {{billSell.order.lastPerson.name}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl-tabs__panel" id="panel-3-{{$index}}">
                                            <div class="form-group row">
                                                <div class="table-responsive">
                                                    <table st-table="collectionTransactionSells"
                                                           st-safe-src="billSell.transactionSells"
                                                           class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <span ng-if="lang==='AR'">م</span>
                                                                <span ng-if="lang==='EN'">#</span>
                                                            </th>

                                                            <th>
                                                                <span ng-if="lang==='AR'">رقم الحركة</span>
                                                                <span ng-if="lang==='EN'">Code</span>
                                                            </th>

                                                            <th st-sort="productionDate">
                                                                <span ng-if="lang==='AR'">تاريخ الحركة</span>
                                                                <span ng-if="lang==='EN'">Transaction Date</span>
                                                            </th>

                                                            <th st-sort="drug.code">
                                                                <span ng-if="lang==='AR'">الدواء</span>
                                                                <span ng-if="lang==='EN'">Drug</span>
                                                            </th>

                                                            <th st-sort="drugUnit">
                                                                <span ng-if="lang==='AR'">وحدة القياس</span>
                                                                <span ng-if="lang==='EN'">Unit</span>
                                                            </th>

                                                            <th st-sort="unitCost">
                                                                <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                                                <span ng-if="lang==='EN'">Unit Sell Cost</span>
                                                            </th>

                                                            <th st-sort="quantity">
                                                                <span ng-if="lang==='AR'">الكمية</span>
                                                                <span ng-if="lang==='EN'">Quantity</span>
                                                            </th>

                                                            <th>
                                                                <span ng-if="lang==='AR'">العمليات</span>
                                                                <span ng-if="lang==='EN'">Action</span>
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="transactionSell in collectionTransactionSells">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{transactionSell.code}}</td>
                                                            <td>
                                                                <span ng-show="dateType==='H'">{{transactionSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                                <span ng-show="dateType==='G'">{{transactionSell.date | date: 'yyyy-MM-dd'}}</span>
                                                                <span class="label label-success">{{transactionSell.date | date:'h:m a'}}</span>
                                                            </td>
                                                            <td>
                                                                [{{transactionSell.transactionBuy.drug.code}}]
                                                                [
                                                                <span ng-if="lang==='AR'">{{transactionSell.transactionBuy.drug.nameArabic}}</span>
                                                                <span ng-if="lang==='EN'">{{transactionSell.transactionBuy.drug.nameEnglish}}</span>
                                                                ][
                                                                <span ng-if="lang==='AR'">{{transactionSell.transactionBuy.drug.medicalNameArabic}}</span>
                                                                <span ng-if="lang==='EN'">{{transactionSell.transactionBuy.drug.medicalNameEnglish}}</span>
                                                                ]
                                                            </td>
                                                            <td>{{transactionSell.drugUnit.name}}</td>
                                                            <td>
                                                                <span class="label label-danger">{{transactionSell.unitSellCost}} SAR</span>
                                                            </td>
                                                            <td>{{transactionSell.quantity}}</td>
                                                            <td>
                                                                <a href=""
                                                                   ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_DELETE'])"
                                                                   ng-click="billSellCtrl.deleteTransactionSell(transactionSell)">
                                                                    <strong ng-if="lang==='AR'">حذف</strong>
                                                                    <strong ng-if="lang==='EN'">Remove</strong>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                                            ng-show="!collectionTransactionSells || collectionTransactionSells.length ==0">
                                                            <td colspan="11">
                                                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                                                <span ng-if="lang==='EN'">No Data Found.</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mdl-tabs__panel" id="panel-4-{{$index}}">
                                            <div class="form-group row">
                                                <div class="table-responsive">
                                                    <table st-table="collectionBillSellReceipts" st-safe-src="billSell.billSellReceipts"
                                                           class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>

                                                            <th st-sort="receipt.code">
                                                                <span ng-if="lang==='AR'">رقم السند</span>
                                                                <span ng-if="lang==='EN'">Code</span>
                                                            </th>

                                                            <th st-sort="receipt.date">
                                                                <span ng-if="lang==='AR'">التاريخ</span>
                                                                <span ng-if="lang==='EN'">Date</span>
                                                            </th>

                                                            <th st-sort="receipt.amountNumber">
                                                                <span ng-if="lang==='AR'">المبلغ</span>
                                                                <span ng-if="lang==='EN'">Amount</span>
                                                            </th>

                                                            <th st-sort="receipt.paymentMethodInArabic">
                                                                <span ng-if="lang==='AR'">طريقة الدفع</span>
                                                                <span ng-if="lang==='EN'">Payment Method</span>
                                                            </th>

                                                            <th st-sort="note">
                                                                <span ng-if="lang==='AR'">البيان</span>
                                                                <span ng-if="lang==='EN'">Note</span>
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="billSellReceipt in collectionBillSellReceipts">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{billSellReceipt.receipt.code}}</td>
                                                            <td>
                                                                <span ng-show="dateType==='H'">{{billSellReceipt.receipt.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                                                <span ng-show="dateType==='G'">{{billSellReceipt.receipt.date | date: 'yyyy-MM-dd'}}</span>
                                                                <span class="label label-success">{{billSellReceipt.receipt.date | date:'h:m a'}}</span>
                                                            </td>
                                                            <td>{{billSellReceipt.receipt.amountNumber}} SAR</td>
                                                            <td>{{billSellReceipt.receipt.paymentMethodInArabic}}</td>
                                                            <td>{{billSellReceipt.receipt.note}}</td>
                                                        </tr>
                                                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                                            ng-show="!collectionBillSellReceipts || collectionBillSellReceipts.length ==0">
                                                            <td colspan="6">
                                                                <strong>
                                                                    <a href=""
                                                                       ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_RECEIPT_CREATE'])"
                                                                       ng-click="billSellCtrl.newBillSellReceipt(billSell)">
                                                                        <span ng-if="lang==='AR'">تسديد دفعة...</span>
                                                                        <span ng-if="lang==='EN'">New Payment...</span>
                                                                    </a>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection || collection.length ==0">
                            <td colspan="11">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

</div>