<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <div id="tasks-closed-menu-lower-left" class="material-icons mdl-badge mdl-badge--overlap mdl-icon-margin" data-badge="{{me.tasksClosedThisWeek.length}}">alarm</div>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="tasks-closed-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">لديك {{me.tasksClosedThisWeek.length}} مهمة مغلقة هذا الاسبوع</span>
                    <span ng-if="lang==='EN'">{{me.tasksClosedThisWeek.length}} Tasks will be closed this week</span>
                </li>
                <li ng-repeat="taskClosed in me.tasksClosedThisWeek"
                    class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="ModalProvider.openTaskDetailsModel(taskClosed)">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">assignment</i>
                        <span style="text-overflow: ellipsis;white-space: nowrap;width: 200px; overflow: hidden">[{{taskClosed.code}}] {{taskClosed.title}}</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="ModalProvider.openTasksClosedSoonModel()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">طباعة تقرير</span>
                        <span ng-if="lang==='EN'">Print...</span>
                    </button>
                </li>
            </ul>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
    </header>

    <main class="mdl-layout__content">

        <div class="row" style="margin-top: 10px">

            <div class="container">

                <div class="form-group row">

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
                        <a href="" ng-click="goToHome()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">dashboard</i>
                            <p ng-if="lang==='AR'">الرئيسية</p>
                            <p ng-if="lang==='EN'">DASHBOARD</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                        <a href="" ng-click="goToCompany()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">business</i>
                            <p ng-if="lang==='AR'">الشركة</p>
                            <p ng-if="lang==='EN'">COMPANY</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE', 'ROLE_CUSTOMER_UPDATE', 'ROLE_CUSTOMER_DELETE'])">
                        <a href="" ng-click="goToCustomer()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">account_circle</i>
                            <p ng-if="lang==='AR'">العملاء</p>
                            <p ng-if="lang==='EN'">CUSTOMERS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE', 'ROLE_FALCON_UPDATE', 'ROLE_FALCON_DELETE'])">
                        <a href="" ng-click="goToFalcon()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">adb</i>
                            <p ng-if="lang==='AR'">حسابات الصقور</p>
                            <p ng-if="lang==='EN'">FALCONS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE', 'ROLE_DOCTOR_UPDATE', 'ROLE_DOCTOR_DELETE'])">
                        <a href="" ng-click="goToDoctor()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">local_hospital</i>
                            <p ng-if="lang==='AR'">الاطباء</p>
                            <p ng-if="lang==='EN'">DOCTORS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_EMPLOYEE_CREATE', 'ROLE_EMPLOYEE_UPDATE', 'ROLE_EMPLOYEE_DELETE'])">
                        <a href="" ng-click="goToEmployee()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">person_pin_circle</i>
                            <p ng-if="lang==='AR'">الموظفون</p>
                            <p ng-if="lang==='EN'">EMPLOYEES</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])">
                        <a href="" ng-click="goToDetectionType()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">spa</i>
                            <p ng-if="lang==='AR'">أنواع الفحص</p>
                            <p ng-if="lang==='EN'">DETECTION TYPES</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE', 'ROLE_ORDER_UPDATE', 'ROLE_ORDER_DELETE'])">
                        <a href="" ng-click="goToOrder()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">burst_mode</i>
                            <p ng-if="lang==='AR'">طلبات الفحص</p>
                            <p ng-if="lang==='EN'">DETECTION ORDERS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE', 'ROLE_DIAGNOSIS_UPDATE', 'ROLE_DIAGNOSIS_DELETE'])">
                        <a href="" ng-click="goToDiagnosis()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">assignment</i>
                            <p ng-if="lang==='AR'">نتائج الفحص</p>
                            <p ng-if="lang==='EN'">DETECTION RESULTS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_COMPANY_CREATE', 'ROLE_COMPANY_UPDATE', 'ROLE_COMPANY_DELETE'])">
                        <a href="" ng-click="goToDrug()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">favorite</i>
                            <p ng-if="lang==='AR'">الدواء</p>
                            <p ng-if="lang==='EN'">DRUGS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE', 'ROLE_SUPPLIER_UPDATE', 'ROLE_SUPPLIER_DELETE'])">
                        <a href="" ng-click="goToSupplier()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">store</i>
                            <p ng-if="lang==='AR'">الموردين</p>
                            <p ng-if="lang==='EN'">SUPPLIER</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])">
                        <a href="" ng-click="goToBillBuy()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">shopping_cart</i>
                            <p ng-if="lang==='AR'">فواتير الشراء</p>
                            <p ng-if="lang==='EN'">BILL BUYS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE', 'ROLE_BILL_SELL_UPDATE', 'ROLE_BILL_SELL_DELETE'])">
                        <a href="" ng-click="goToBillSell()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">shopping_cart</i>
                            <p ng-if="lang==='AR'">فواتير البيع</p>
                            <p ng-if="lang==='EN'">BILL SELL</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])">
                        <a href="" ng-click="goToBank()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">account_balance</i>
                            <p ng-if="lang==='AR'">الحسابات البنكية</p>
                            <p ng-if="lang==='EN'">BANKS</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center"
                         ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                        <a href="" ng-click="goToTeam()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">security</i>
                            <p ng-if="lang==='AR'">الصلاحيات</p>
                            <p ng-if="lang==='EN'">PRIVILEGES</p>
                        </a>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
                        <a href="" ng-click="goToReport()" class="card-square mdl-card mdl-shadow--8dp">
                            <i class="material-icons md-48">assignment</i>
                            <p ng-if="lang==='AR'">التقارير</p>
                            <p ng-if="lang==='EN'">REPORTS</p>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </main>

</div>