<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">

        <div class="mdl-layout__header-row">

            <div class="mdl-layout-icon">
                <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                    <i class="material-icons">{{MDLIcon}}</i>
                </a>
            </div>

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click=""
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ui-sref="help">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ui-sref="about">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ui-sref="profile">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>

        <div class="mdl-layout__header-row mdl-layout--large-screen-only">

            <div class="row">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">

                        <button id="toggle1-action-menu-lower"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span ng-if="lang==='AR'">ملف</span>
                            <span ng-if="lang==='EN'">File</span>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                            ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                            for="toggle1-action-menu-lower">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                ng-click="ModalProvider.openCustomerCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                    <span ng-if="lang==='AR'">عميل جديد...</span>
                                    <span ng-if="lang==='EN'">New Customer...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE'])"
                                ng-click="ModalProvider.openFalconCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                    <span ng-if="lang==='AR'">حساب صقر جديد...</span>
                                    <span ng-if="lang==='EN'">New Falcon...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE'])"
                                ng-click="ModalProvider.openDoctorCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">حساب طبيب جديد...</span>
                                   <span ng-if="lang==='EN'">New Doctor...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                                ng-click="ModalProvider.openDetectionTypeCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">نوع فحص جديد...</span>
                                   <span ng-if="lang==='EN'">New Detection Type...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE'])"
                                ng-click="ModalProvider.openOrderCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">طلب فحص جديد...</span>
                                   <span ng-if="lang==='EN'">New Order...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])"
                                ng-click="ModalProvider.openDrugCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">صنف دواء جديد...</span>
                                   <span ng-if="lang==='EN'">New Drug...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE'])"
                                ng-click="ModalProvider.openSupplierCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">مورد جديد...</span>
                                   <span ng-if="lang==='EN'">New Supplier...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                                ng-click="ModalProvider.openBillBuyCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">فاتورة شراء...</span>
                                   <span ng-if="lang==='EN'">New Bill Buy...</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                                ng-click="ModalProvider.openBillSellCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">فاتورة بيع...</span>
                                   <span ng-if="lang==='EN'">New Bill Sell...</span>
                                </span>
                            </li>
                        </ul>

                        <button id="toggle2-action-menu-lower"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span ng-if="lang==='AR'">عرض</span>
                            <span ng-if="lang==='EN'">View</span>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                            ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                            for="toggle2-action-menu-lower">
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('customer.list')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                    <span ng-if="lang==='AR'">سجل العملاء</span>
                                    <span ng-if="lang==='EN'">Customers List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('falcon')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                    <span ng-if="lang==='AR'">سجل الصقور</span>
                                    <span ng-if="lang==='EN'">Falcons List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('doctor')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل الأطباء</span>
                                   <span ng-if="lang==='EN'">Doctors List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('detectionType')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل أنواع الفحوصات</span>
                                   <span ng-if="lang==='EN'">Detection Types List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('order')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل الطلبات</span>
                                   <span ng-if="lang==='EN'">Orders List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('drug')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل الأدوية والأصناف</span>
                                   <span ng-if="lang==='EN'">Drugs List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('supplier')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل الموردين</span>
                                   <span ng-if="lang==='EN'">Suppliers List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('billBuy')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل فواتير الشراء</span>
                                   <span ng-if="lang==='EN'">Purchases List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('billSell.insideSales')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل المبيعات الداخلية</span>
                                   <span ng-if="lang==='EN'">Inside Sales List</span>
                                </span>
                            </li>
                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('billSell.outsideSales')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">view_list</i>
                                   <span ng-if="lang==='AR'">سجل المبيعات الخارجية</span>
                                   <span ng-if="lang==='EN'">Outside Sales List</span>
                                </span>
                            </li>
                        </ul>

                        <button id="toggle3-action-menu-lower"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span ng-if="lang==='AR'">الصندوق</span>
                            <span ng-if="lang==='EN'">Fund</span>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                            ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                            for="toggle3-action-menu-lower">

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('fund')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">info</i>
                                    <span ng-if="lang==='AR'">بيانات الصندوق</span>
                                    <span ng-if="lang==='EN'">Fund Details</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_FUND_RECEIPT_IN_CREATE'])"
                                ng-click="ModalProvider.openFundReceiptInCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon"></i>
                                    <span ng-if="lang==='AR'">توريد للصندوق</span>
                                    <span ng-if="lang==='EN'">New Fund Receipt In</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_FUND_RECEIPT_OUT_CREATE'])"
                                ng-click="ModalProvider.openFundReceiptOutCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon"></i>
                                    <span ng-if="lang==='AR'">صرف من للصندوق</span>
                                    <span ng-if="lang==='EN'">New Fund Receipt Out</span>
                                </span>
                            </li>

                        </ul>

                        <button id="toggle4-action-menu-lower"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span ng-if="lang==='AR'">البنك</span>
                            <span ng-if="lang==='EN'">Bank</span>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                            ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                            for="toggle4-action-menu-lower">

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="state.go('bank')">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">info</i>
                                    <span ng-if="lang==='AR'">بيانات البنك</span>
                                    <span ng-if="lang==='EN'">Bank Details</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_RECEIPT_IN_CREATE'])"
                                ng-click="ModalProvider.openFundReceiptInCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon"></i>
                                    <span ng-if="lang==='AR'">توريد للبنك</span>
                                    <span ng-if="lang==='EN'">New Bank Receipt In</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_RECEIPT_OUT_CREATE'])"
                                ng-click="ModalProvider.openFundReceiptOutCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon"></i>
                                    <span ng-if="lang==='AR'">صرف من البنك</span>
                                    <span ng-if="lang==='EN'">New Bank Receipt Out</span>
                                </span>
                            </li>

                        </ul>

                        <button id="toggle5-action-menu-lower"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                            <span ng-if="lang==='AR'">تقرير</span>
                            <span ng-if="lang==='EN'">Report</span>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                            ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                            for="toggle5-action-menu-lower">

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="printDrugsList()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">سجل الأدوية</span>
                                    <span ng-if="lang==='EN'">Drugs List</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openReportOrderDetectionModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">طلب فحص</span>
                                    <span ng-if="lang==='EN'">Detection Order</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openReportOrderResultModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">نتيجة فحص</span>
                                    <span ng-if="lang==='EN'">Detection Result</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openReportOrderByDateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">طلبات الفحص بالتاريخ - مختصر</span>
                                    <span ng-if="lang==='EN'">Orders Summery By Date - Summery</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openReportOrderDetailsByDateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">طلبات الفحص بالتاريخ - مفصل</span>
                                    <span ng-if="lang==='EN'">Orders Summery By Date - Details</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openReportBillSellByDateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">المبيعات بالتاريخ - مختصر</span>
                                    <span ng-if="lang==='EN'">Sales Summery By Date - Summery</span>
                                </span>
                            </li>

                            <li class="mdl-menu__item mdl-list__item"
                                ng-click="ModalProvider.openReportBillSellDetailsByDateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">picture_as_pdf</i>
                                    <span ng-if="lang==='AR'">المبيعات بالتاريخ - مفصل</span>
                                    <span ng-if="lang==='EN'">Sales Summery By Date - Details</span>
                                </span>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </header>

    <main class="mdl-layout__content">

        <div class="row" style="margin-top: 10px">

            <div class="container">

                <div class="form-group row">

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center" ui-sref="company" ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Companies.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الشركة</span>
                                <span ng-if="lang==='EN'">COMPANY</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="customer.list"
                         ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE', 'ROLE_CUSTOMER_UPDATE', 'ROLE_CUSTOMER_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Customers.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">العملاء</span>
                                <span ng-if="lang==='EN'">CUSTOMERS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="falcon"
                         ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE', 'ROLE_FALCON_UPDATE', 'ROLE_FALCON_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Falcons.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">حسابات الصقور</span>
                                <span ng-if="lang==='EN'">FALCONS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="doctor"
                         ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE', 'ROLE_DOCTOR_UPDATE', 'ROLE_DOCTOR_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Doctors.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الاطباء</span>
                                <span ng-if="lang==='EN'">DOCTORS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="employee.list"
                         ng-if="contains(me.team.authorities, ['ROLE_EMPLOYEE_CREATE', 'ROLE_EMPLOYEE_UPDATE', 'ROLE_EMPLOYEE_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Employees.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الموظفون</span>
                                <span ng-if="lang==='EN'">EMPLOYEES</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="detectionType"
                         ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/DetectionTypes.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">أنواع الفحص</span>
                                <span ng-if="lang==='EN'">DETECTION TYPES</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="order"
                         ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE', 'ROLE_ORDER_UPDATE', 'ROLE_ORDER_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/DetectionOrders.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">طلبات الفحص</span>
                                <span ng-if="lang==='EN'">DETECTION ORDERS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="diagnosis"
                         ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE', 'ROLE_DIAGNOSIS_UPDATE', 'ROLE_DIAGNOSIS_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/DetectionResults.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">نتائج الفحص</span>
                                <span ng-if="lang==='EN'">DETECTION RESULTS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="drug"
                         ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE', 'ROLE_DRUG_UPDATE', 'ROLE_DRUG_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Drugs.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الدواء</span>
                                <span ng-if="lang==='EN'">DRUGS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="supplier"
                         ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE', 'ROLE_SUPPLIER_UPDATE', 'ROLE_SUPPLIER_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Suppliers.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الموردين</span>
                                <span ng-if="lang==='EN'">SUPPLIER</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="billBuy"
                         ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Bills.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">فواتير الشراء</span>
                                <span ng-if="lang==='EN'">BILL BUYS</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="billSell.insideSales"
                         ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE', 'ROLE_BILL_SELL_UPDATE', 'ROLE_BILL_SELL_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Bills.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">فواتير البيع</span>
                                <span ng-if="lang==='EN'">BILL SELL</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="fund"
                         ng-if="contains(me.team.authorities, ['ROLE_FUND_UPDATE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Fund.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الصندوق</span>
                                <span ng-if="lang==='EN'">Cash</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="bank"
                         ng-if="contains(me.team.authorities, ['ROLE_BANK_UPDATE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Banks.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">البنك</span>
                                <span ng-if="lang==='EN'">BANK</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="team"
                         ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Teams.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">الصلاحيات</span>
                                <span ng-if="lang==='EN'">PRIVILEGES</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 parent text-center"
                         ui-sref="report">
                        <div class="card-image mdl-card" style="background-image: url('/ui/img/Reports.png')">
                            <div class="mdl-card__title mdl-card--expand"></div>
                        </div>
                        <div class="mdl-card__actions">
                            <a class="card-image__filename">
                                <span ng-if="lang==='AR'">التقارير</span>
                                <span ng-if="lang==='EN'">REPORTS</span>
                            </a>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </main>

    <footer class="mdl-mini-footer">
        <div class="row" style="margin: auto">
            <span ng-if="lang==='AR'" dir="rtl">جميع الحقوق محفوظة لمؤسسة صرخة لتقنية المعلومات - الصيدلية الذكية (نسخة غير مرخصة)</span>
            <span ng-if="lang==='EN'" dir="ltr">© 2017  Privacy Policy - Smart Pharmacy (Trail Version)</span>
        </div>
    </footer>

</div>