<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">

        <div class="mdl-layout__header-row">

            <div class="mdl-layout-icon">
                <a class="mdl-button mdl-js-button mdl-button--icon" ng-click="openStateMenu()">
                    <i class="material-icons">{{MDLIcon}}</i>
                </a>
            </div>

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons">

                    <button id="toggle-reception-action-menu-lower"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">room_service</i>
                        <span ng-if="lang==='AR'">الاستقبال</span>
                        <span ng-if="lang==='EN'">Receptionist</span>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        for="toggle-reception-action-menu-lower">

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE', 'ROLE_CUSTOMER_UPDATE', 'ROLE_CUSTOMER_DELETE'])"
                            ng-click="openStateCustomer()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">account_circle</i>
                                <span ng-if="lang==='AR'">سجل العملاء</span>
                                <span ng-if="lang==='EN'">Customers List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                            ng-click="newCustomer()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                                <span ng-if="lang==='AR'">عميل جديد...</span>
                                <span ng-if="lang==='EN'">New Customer...</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_FALCON_CREATE', 'ROLE_FALCON_UPDATE', 'ROLE_FALCON_DELETE'])"
                            ng-click="openStateFalcon()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">adb</i>
                                <span ng-if="lang==='AR'">سجل الصقور</span>
                                <span ng-if="lang==='EN'">Falcons List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE'])"
                            ng-click="newFalcon()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                                <span ng-if="lang==='AR'">حساب صقر جديد...</span>
                                <span ng-if="lang==='EN'">New Falcon...</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_ORDER_CREATE', 'ROLE_ORDER_UPDATE', 'ROLE_ORDER_DELETE'])"
                            ng-click="openStateOrder()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">burst_mode</i>
                               <span ng-if="lang==='AR'">سجل الطلبات</span>
                               <span ng-if="lang==='EN'">Orders List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE'])"
                            ng-click="newOrder()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                               <span ng-if="lang==='AR'">طلب فحص جديد...</span>
                               <span ng-if="lang==='EN'">New Order...</span>
                            </span>
                        </li>

                    </ul>

                    <button id="toggle-clinic-action-menu-lower"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">local_hospital</i>
                        <span ng-if="lang==='AR'">العيادة</span>
                        <span ng-if="lang==='EN'">Clinic</span>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        for="toggle-clinic-action-menu-lower">

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE', 'ROLE_DIAGNOSIS_UPDATE', 'ROLE_DIAGNOSIS_DELETE'])"
                            ng-click="openStateDiagnosis()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">assignment</i>
                                <span ng-if="lang==='AR'">نتائج الفحص</span>
                                <span ng-if="lang==='EN'">Diagnoses List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE'])"
                            ng-click="newDiagnosis()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                               <span ng-if="lang==='AR'">وصفة طبية جديدة</span>
                               <span ng-if="lang==='EN'">New Prescription...</span>
                            </span>
                        </li>

                    </ul>

                    <button id="toggle-pharmacy-action-menu-lower"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">add_shopping_cart</i>
                        <span ng-if="lang==='AR'">الصيدلية</span>
                        <span ng-if="lang==='EN'">Pharmacy</span>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        for="toggle-pharmacy-action-menu-lower">

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE', 'ROLE_SUPPLIER_UPDATE', 'ROLE_SUPPLIER_DELETE'])"
                            ng-click="openStateSupplier()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">store</i>
                               <span ng-if="lang==='AR'">سجل الموردين</span>
                               <span ng-if="lang==='EN'">Suppliers List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE'])"
                            ng-click="newSupplier()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">مورد جديد...</span>
                                   <span ng-if="lang==='EN'">New Supplier...</span>
                                </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])"
                            ng-click="openStateBillBuy()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                               <span ng-if="lang==='AR'">سجل فواتير الشراء</span>
                               <span ng-if="lang==='EN'">Purchases List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                            ng-click="ModalProvider.openBillBuyCreateModel()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">فاتورة شراء جديدة...</span>
                                   <span ng-if="lang==='EN'">New Bill Buy...</span>
                                </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE', 'ROLE_BILL_SELL_UPDATE', 'ROLE_BILL_SELL_DELETE'])"
                            ng-click="openStateInsideSales()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                               <span ng-if="lang==='AR'">سجل المبيعات الداخلية</span>
                               <span ng-if="lang==='EN'">Inside Sales List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                            ng-click="newInsideSales()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">صرف علاج طلب فحص...</span>
                                   <span ng-if="lang==='EN'">New Bill Sell For Order...</span>
                                </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE', 'ROLE_DRUG_UPDATE', 'ROLE_DRUG_DELETE'])"
                            ng-click="openStateOutsideSales()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                               <span ng-if="lang==='AR'">سجل المبيعات الخارجية</span>
                               <span ng-if="lang==='EN'">Outside Sales List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                            ng-click="newOutsideSales()">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">note_add</i>
                                   <span ng-if="lang==='AR'">فاتورة بيع جديدة...</span>
                                   <span ng-if="lang==='EN'">New Bill Sell...</span>
                                </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_DRUG_CREATE', 'ROLE_DRUG_UPDATE', 'ROLE_DRUG_DELETE'])"
                            ng-click="openStateDrug()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">favorite</i>
                                <span ng-if="lang==='AR'">سجل الدواء</span>
                                <span ng-if="lang==='EN'">Drugs List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])"
                            ng-click="newDrug()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                               <span ng-if="lang==='AR'">صنف دواء جديد...</span>
                               <span ng-if="lang==='EN'">New Drug...</span>
                            </span>
                        </li>

                    </ul>

                    <button id="toggle-admin-action-menu-lower"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">settings_applications</i>
                        <span ng-if="lang==='AR'">الإدارة</span>
                        <span ng-if="lang==='EN'">Administration</span>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        for="toggle-admin-action-menu-lower">

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])"
                            ng-click="openStateCompany()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">store</i>
                                <span ng-if="lang==='AR'">بيانات الشركة</span>
                                <span ng-if="lang==='EN'">Company Info.</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])"
                            ng-click="openStateTeam()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">security</i>
                               <span ng-if="lang==='AR'">سجل الصلاحيات</span>
                               <span ng-if="lang==='EN'">Privileges List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE'])"
                            ng-click="newTeam()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                               <span ng-if="lang==='AR'">صلاحيات جديدة...</span>
                               <span ng-if="lang==='EN'">New Privilege...</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE', 'ROLE_DOCTOR_UPDATE', 'ROLE_DOCTOR_DELETE'])"
                            ng-click="openStateDoctor()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">local_hospital</i>
                               <span ng-if="lang==='AR'">سجل الأطباء</span>
                               <span ng-if="lang==='EN'">Doctors List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE'])"
                            ng-click="newDoctor()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                               <span ng-if="lang==='AR'">حساب طبيب جديد...</span>
                               <span ng-if="lang==='EN'">New Doctor...</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])"
                            ng-click="openStateDetectionType()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">spa</i>
                               <span ng-if="lang==='AR'">سجل أنواع الفحوصات</span>
                               <span ng-if="lang==='EN'">Detection Types List</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                            ng-click="newOrderDetectionType()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">note_add</i>
                               <span ng-if="lang==='AR'">نوع فحص جديد...</span>
                               <span ng-if="lang==='EN'">New Detection Type...</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])"
                            ng-click="openStateFund()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">monetization_on</i>
                                <span ng-if="lang==='AR'">الصندوق</span>
                                <span ng-if="lang==='EN'">Fund</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-show="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])"
                            ng-click="openStateBank()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">account_balance</i>
                                <span ng-if="lang==='AR'">البنك</span>
                                <span ng-if="lang==='EN'">Bank</span>
                            </span>
                        </li>

                    </ul>

                    <button id="toggle-options-menu-lower-right"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">settings</i>
                        <span>خيارات</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="toggle-options-menu-lower-right">

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="goFullscreen()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">fullscreen</i>
                                <span>تفعيل ملء الشاشة</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="switchDateType();">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">date_range</i>
                                <span>تبديل نوع التقويم</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item--full-bleed-divider"></li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle();">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: #313534">format_color_fill</i>
                                <span>تطبيق المظهر الافتراضي</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-1');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(121, 85, 72)">format_color_fill</i>
                                <span>تطبيق المظهر الأول</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-2');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(76, 175, 80)">format_color_fill</i>
                                <span>تطبيق المظهر الثاني</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-3');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(158, 158, 158)">format_color_fill</i>
                                <span>تطبيق المظهر الثالث</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-4');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(63, 81, 181)">format_color_fill</i>
                                <span>تطبيق المظهر الرابع</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-5');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(139, 195, 74)">format_color_fill</i>
                                <span>تطبيق المظهر الخامس</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-6');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(205, 220, 57)">format_color_fill</i>
                                <span>تطبيق المظهر السادس</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-7');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(156, 39, 176)">format_color_fill</i>
                                <span>تطبيق المظهر السابع</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="setStyle('mdl-style-8');">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon" style="color: rgb(244, 67, 54)">format_color_fill</i>
                                <span>تطبيق المظهر الثامن</span>
                            </span>
                        </li>

                    </ul>

                    <button id="toggle-help-menu-lower-right"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                        <i class="material-icons">help</i>
                        <span>مساعدة</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="toggle-help-menu-lower-right">

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="openStateHelp()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">help</i>
                                <span>المساعدة</span>
                            </span>
                        </li>

                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="openStateAbout();">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">info</i>
                                <span>عن البرنامج</span>
                            </span>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click=""
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="openStateHelp();">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="openStateAbout();">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="openStateProfile();">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>

    </header>

    <main class="mdl-layout__content">

        <div ng-if="toggleState==='menu'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_menu.html'"></div>

        </div>

        <div ng-if="toggleState==='company'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_company.html'"></div>

        </div>

        <div ng-if="toggleState==='customer'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_customer.html'"></div>

        </div>

        <div ng-if="toggleState==='falcon'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_falcon.html'"></div>

        </div>

        <div ng-show="toggleState==='doctor'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_doctor.html'"></div>

        </div>

        <div ng-show="toggleState==='detectionType'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_detection_type.html'"></div>

        </div>

        <div ng-show="toggleState==='order'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_order.html'"></div>

        </div>

        <div ng-show="toggleState==='diagnosis'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_diagnosis.html'"></div>

        </div>

        <div ng-show="toggleState==='drug'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_drug.html'"></div>

        </div>

        <div ng-show="toggleState==='supplier'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_supplier.html'"></div>

        </div>

        <div ng-show="toggleState==='billBuy'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_bill_buy.html'"></div>

        </div>

        <div ng-show="toggleState==='insideSales'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_inside_sales.html'"></div>

        </div>

        <div ng-show="toggleState==='outsideSales'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_outside_sales.html'"></div>

        </div>

        <div ng-show="toggleState==='team'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_team.html'"></div>

        </div>

        <div ng-show="toggleState==='fund'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_fund.html'"></div>

        </div>

        <div ng-show="toggleState==='bank'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_bank.html'"></div>

        </div>


        <div ng-show="toggleState==='profile'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_profile.html'"></div>

        </div>

        <div ng-show="toggleState==='help'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_help.html'"></div>

        </div>

        <div ng-show="toggleState==='about'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_about.html'"></div>

        </div>

        <div ng-show="toggleState==='report'" class="row" style="margin-top: 10px">

            <div ng-include="'ui/partials/menu/state_report.html'"></div>

        </div>

    </main>

    <footer class="mdl-mini-footer mdl-color--primary mdl-color-text--white">
        <div class="row" style="margin: auto">
            <span ng-if="lang==='AR'" dir="rtl">جميع الحقوق محفوظة لمؤسسة صرخة لتقنية المعلومات - الصيدلية الذكية (نسخة غير مرخصة)</span>
            <span ng-if="lang==='EN'" dir="ltr">© 2017  Privacy Policy - Smart Pharmacy (Trail Version)</span>
        </div>
    </footer>

</div>