<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">
        <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <button id="detectionType-menu-lower-right" style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <span ng-if="lang==='AR'">العمليات</span>
                <span ng-if="lang==='EN'">Actions</span>
            </button>
            <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                for="detectionType-menu-lower-right">

                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="findAllDetectionTypes()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">visibility</i>
                        <span ng-if="lang==='AR'">عرض البيانات</span>
                        <span ng-if="lang==='EN'">View</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item" ng-click="newDetectionType();"
                    ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء نوع جديد</span>
                        <span ng-if="lang==='EN'">New...</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="ModalProvider.openDetectionTypeHeavyWorkModel()"
                    ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">build</i>
                        <span ng-if="lang==='AR'">انشاء دفعة من أنواع الفحوصات</span>
                        <span ng-if="lang==='EN'">New Group...</span>
                    </span>
                </li>

            </ul>
        </div>

        <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=1"
                            ng-class="{'active':toggleList===1}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">reorder</i>
                    </button>
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=2"
                            ng-class="{'active':toggleList===2}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">view_column</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="findAllDetectionTypes()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                       ng-click="newDetectionType()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء نوع جديد' : 'New Type...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة أنواع الفحوصات</h3>
                <h3 ng-if="lang==='EN'">Detections Type List</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="detectionTypes"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <span ng-if="lang==='AR'">م</span>
                            <span ng-if="lang==='EN'">#</span>
                        </th>

                        <th st-sort="code" class="info">
                            <span ng-if="lang==='AR'">رقم النوع</span>
                            <span ng-if="lang==='EN'">Code</span>
                        </th>

                        <th st-sort="nameArabic">
                            <span ng-if="lang==='AR'">اسم النوع</span>
                            <span ng-if="lang==='EN'">Name</span>
                        </th>

                        <th st-sort="cost" class="danger">
                            <span ng-if="lang==='AR'">التكلفة</span>
                            <span ng-if="lang==='EN'">Cost</span>
                        </th>


                        <th st-sort="descriptionArabic">
                            <span ng-if="lang==='AR'">الوصف</span>
                            <span ng-if="lang==='EN'">Description</span>
                        </th>

                    </tr>
                    <tr>
                        <th colspan="5">
                            <input st-search=""
                                   class="form-control"
                                   placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                   type="text"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detectionType in collection1"
                        st-select-mode="multiple"
                        context-menu="rowMenuDetectionType" ng-init="detectionType.isSelected=false">
                        <td st-select-row-multi="detectionType">{{$index+1}}</td>
                        <td st-select-row-multi="detectionType" ng-class="{'info' : detectionType.isSelected===false}">{{detectionType.code}}</td>
                        <td st-select-row-multi="detectionType">
                            <span ng-if="lang==='AR'">{{detectionType.nameArabic}}</span>
                            <span ng-if="lang==='EN'">{{detectionType.nameEnglish}}</span>
                        </td>
                        <td st-select-row-multi="detectionType" ng-class="{'danger' : detectionType.isSelected===false}">{{detectionType.cost}} SAR</td>
                        <td st-select-row-multi="detectionType">
                            <span ng-if="lang==='AR'">{{detectionType.descriptionArabic}}</span>
                            <span ng-if="lang==='EN'">{{detectionType.descriptionEnglish}}</span>
                        </td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="5">
                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                            <span ng-if="lang==='EN'">No Data Found.</span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="findAllDetectionTypes()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                       ng-click="newDetectionType()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء نوع جديد' : 'New Type...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة أنواع الفحوصات</h3>
                <h3 ng-if="lang==='EN'">Detections Type List</h3>
            </div>
        </div>
        <div class="panel-body">
            <div st-table="collection2" st-safe-src="detectionTypes">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="detectionType in collection2">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-image">
                                <img width="100" height="100"
                                     src="/ui/img/no-image.jpg"
                                     alt="{{detectionType.nameArabic}}"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">
                                    <span ng-if="lang==='AR'">{{detectionType.nameArabic}}</span>
                                    <span ng-if="lang==='EN'">{{detectionType.nameEnglish}}</span>
                                </div>
                            </div>
                            <div class="profile-controls">
                                <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="contact-info">
                                <p>
                                    <strong ng-if="lang==='AR'">الوصف</strong>
                                    <strong ng-if="lang==='EN'">Description</strong>
                                    <span ng-if="lang==='AR'">{{detectionType.descriptionArabic}}</span>
                                    <span ng-if="lang==='EN'">{{detectionType.descriptionEnglish}}</span>
                                </p>
                                <hr>
                                <p>
                                    <strong ng-if="lang==='AR'">التكلفة</strong>
                                    <strong ng-if="lang==='EN'">Cost</strong>
                                    {{detectionType.cost | currency:'SAR':0.0}}
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <button uib-tooltip="{{lang==='AR' ? 'انشاء نوع جديد' : 'New...'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE'])"
                                        ng-click="newDetectionType();"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">add</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_UPDATE'])"
                                        ng-click="ModalProvider.openDetectionTypeUpdateModel(detectionType)"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_DELETE'])"
                                        ng-click="deleteDetectiontype(detectionType)"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="3" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </div>
        </div>
    </div>
</div>