<div class="container" style="margin-top: 10px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <img src="https://www.dropbox.com/s/9jiz4x239xywmlc/%D8%B4%D8%B9%D8%A7%D8%B1%20%D8%A7%D9%84%D9%85%D8%B9%D9%87%D8%AF%20%D8%A7%D9%84%D9%85%D8%B9%D8%AA%D9%85%D8%AF%20copy.png?raw=1" height="200px%"/>
                    <h1>مركز السلطان للصقور | الصيدلية الذكية</h1>
                    <h3>Version 0.4 &copy; <a href="http://www.ararhni.com" target="_blank">Ararhni.com</a></h3>
                    <hr>
                    <h2>Project Manager & System Analyst</h2>
                    <a href="mailto:w.abukhader@ararhni.com"><h3>Eng. WESSAM ABU KHADER</h3></a>
                    <hr>
                    <h2>Web Developer</h2>
                    <a href="mailto:islamhaker@gmail.com"><h3>Eng. BASSAM ALMAHDY</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>