<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                <h3 ng-if="lang==='EN'">The General Information</h3>
                <span ng-if="lang==='AR'">الحساب البنكي</span>
                <span ng-if="lang==='EN'">Bank Account Information</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <div class="mdl-tabs__tab-bar">

                    <a href="#panel-bank-info" class="mdl-tabs__tab col-xs-6 col-sm-4 col-md-4 col-lg-4 is-active">
                        <span ng-if="lang==='AR'">تفاصيل الحساب</span>
                        <span ng-if="lang==='EN'">Account Details</span>
                    </a>

                    <a href="#panel-bank-receipt-in" class="mdl-tabs__tab col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <span ng-if="lang==='AR'">الايرادات</span>
                        <span ng-if="lang==='EN'">Cash In</span>
                    </a>

                    <a href="#panel-bank-receipt-out" class="mdl-tabs__tab col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <span ng-if="lang==='AR'">المصروفات</span>
                        <span ng-if="lang==='EN'">Cash Out</span>
                    </a>

                </div>

                <div class="mdl-tabs__panel is-active" id="panel-bank-info">

                    <div class="form-group row" ng-init="selectedBank.balance=0">

                        <h3>
                            <span ng-if="lang==='AR'">الرصيد الحالي = </span>
                            <span ng-if="lang==='EN'">Current Balance = </span>
                            {{selectedBank.balance | currency:' SAR ':2}}
                        </h3>

                    </div>

                    <div class="form-group row">

                        <button uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh Bank Data'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="refreshBank()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">cached</i>
                        </button>

                    </div>

                    <form name="from1" ng-submit="submitBankUpdate()" novalidate="novalidate" focus-group="" focus-stack=""
                          focus-group-head="loop" focus-group-tail="loop">

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                            <div class="alert alert-danger" role="alert">
                                <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                <strong ng-if="lang==='EN'">Please Complete Required Fields.</strong>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label for="code" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الحساب</span>
                                    <span ng-if="lang==='EN'">Bank Account Code</span>
                                </label>
                                <input id="code"
                                       type="text"
                                       focus-autofocus="1"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control"
                                       ng-model="selectedBank.code">
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label for="name" class="control-label">
                                    <span ng-if="lang==='AR'">اسم البنك</span>
                                    <span ng-if="lang==='EN'">Bank Name</span>
                                </label>
                                <input id="name"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control"
                                       ng-model="selectedBank.name">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label for="address" class="control-label">
                                    <span ng-if="lang==='AR'">اسم الفرع</span>
                                    <span ng-if="lang==='EN'">Branch Name</span>
                                </label>
                                <input id="address"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control"
                                       ng-model="selectedBank.branchName">
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                <label for="startAmount" class="control-label">
                                    <span ng-if="lang==='AR'">الرصيد الافتتاحي</span>
                                    <span ng-if="lang==='EN'">Opening Balance</span>
                                </label>
                                <input id="startAmount"
                                       type="number"
                                       ng-min="0"
                                       required=""
                                       disable-validation-message=""
                                       class="form-control"
                                       ng-model="selectedBank.startAmount">
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                                    tooltip-append-to-body="true"
                                    type="submit"
                                    ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">save</i>
                                <span ng-if="lang==='AR'">حفظ البيانات</span>
                                <span ng-if="lang==='EN'">Save</span>
                            </span>
                            </button>

                        </div>

                    </form>

                </div>

                <div class="mdl-tabs__panel" id="panel-bank-receipt-in">

                    <div class="form-group row">

                        <button uib-tooltip="{{lang==='AR' ? 'بحث' : 'Filter'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="openBankFilterInModal()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">search</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'ايرادات اليوم' : 'Today Cash In'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsInByToday()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'ايرادات الاسبوع' : 'Week Cash In'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsInByWeek()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'ايرادات الشهر' : 'Month Cash In'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsInByMonth()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'ايرادات العام' : 'Year Cash In'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsInByYear()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'ايداع جديد' : 'New Deposit'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_RECEIPT_IN_CREATE'])"
                                ng-click="newBankReceiptIn()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">add</i>
                        </button>

                    </div>

                    <div class="form-group row">
                        <ul class="breadcrumb">
                            <li ng-repeat="item in bankReceiptItemsIn | orderBy:'id' track by item.id">
                                <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                                <span ng-if="item.type==='title'">{{item.name}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group row">

                        <div class="table-responsive">
                            <table st-table="collectionIn" st-safe-src="bankReceiptsIn"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span>#</span>
                                    </th>

                                    <th st-sort="receipt.code">
                                        <span ng-if="lang==='AR'">رقم السند</span>
                                        <span ng-if="lang==='EN'">Receipt Code</span>
                                    </th>

                                    <th st-sort="receipt.date">
                                        <span ng-if="lang==='AR'">تاريخ السند</span>
                                        <span ng-if="lang==='EN'">Receipt Date</span>
                                    </th>

                                    <th st-sort="receipt.amount" class="danger">
                                        <span ng-if="lang==='AR'">قيمة السند</span>
                                        <span ng-if="lang==='EN'">Receipt Amount</span>
                                    </th>

                                    <th st-sort="receipt.sender">
                                        <span ng-if="lang==='AR'">محرر السند</span>
                                        <span ng-if="lang==='EN'">Receipt Writer</span>
                                    </th>

                                    <th st-sort="receipt.receiver">
                                        <span ng-if="lang==='AR'">مُستلم السند</span>
                                        <span ng-if="lang==='EN'">Receipt Receiver</span>
                                    </th>

                                    <th st-sort="receipt.note">
                                        <span ng-if="lang==='AR'">البيان</span>
                                        <span ng-if="lang==='EN'">Note</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">العمليات</span>
                                        <span ng-if="lang==='EN'">Action</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="bankReceipt in collectionIn" st-select-mode="multiple">
                                    <td st-select-row-multi="bankReceipt">{{$index+1}}</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.code}}</td>
                                    <td st-select-row-multi="bankReceipt">
                                        <span ng-show="dateType==='H'">{{bankReceipt.receipt.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{bankReceipt.receipt.date | date: 'yyyy-MM-dd'}}</span>
                                        {{bankReceipt.receipt.date | date:'h:m a'}}
                                    </td>
                                    <td st-select-row-multi="bankReceipt" class="danger">{{bankReceipt.receipt.amountNumber}} SAR</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.sender}}</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.receiver}}</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.note}}</td>
                                    <td>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_BANK_RECEIPT_IN_DELETE'])"
                                           ng-click="deleteBankReceiptIn(bankReceipt)">
                                            <strong ng-if="lang==='AR'">حذف</strong>
                                            <strong ng-if="lang==='EN'">Remove</strong>
                                        </a>
                                        <a href=""
                                           ng-click="printReceiptIn(bankReceipt.receipt)">
                                            <strong ng-if="lang==='AR'">طباعة</strong>
                                            <strong ng-if="lang==='EN'">Print</strong>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collectionIn || collectionIn.length ==0">
                                    <td colspan="8">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="form-group row">

                        <h3 class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 box-danger" ng-if="bankTotalAmountIn>=0">
                            <span ng-if="lang==='AR'">إجمالي المبالغ المحصلة</span>
                            <span ng-if="lang==='EN'">Total Cash From : </span>
                            <span>{{bankTotalAmountIn}} SAR</span>
                        </h3>

                    </div>

                </div>

                <div class="mdl-tabs__panel" id="panel-bank-receipt-out">

                    <div class="form-group row">

                        <button uib-tooltip="{{lang==='AR' ? 'بحث' : 'Filter'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="openBankFilterOutModal()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">search</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'مصروفات اليوم' : 'Today Cash Out'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsOutByToday()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'مصروفات الاسبوع' : 'Week Cash Out'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsOutByWeek()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'مصروفات الشهر' : 'Month Cash Out'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsOutByMonth()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'مصروفات العام' : 'Year Cash Out'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="findBankReceiptsOutByYear()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">filter_list</i>
                        </button>

                        <button uib-tooltip="{{lang==='AR' ? 'سحب جديد' : 'New Withdraw'}}"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-if="contains(me.team.authorities, ['ROLE_BANK_RECEIPT_OUT_CREATE'])"
                                ng-click="newBankReceiptOut()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <i class="material-icons">add</i>
                        </button>

                    </div>

                    <div class="form-group row">
                        <ul class="breadcrumb">
                            <li ng-repeat="item in bankReceiptItemsOut | orderBy:'id' track by item.id">
                                <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                                <span ng-if="item.type==='title'">{{item.name}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group row">

                        <div class="table-responsive">
                            <table st-table="collectionOut" st-safe-src="bankReceiptsOut"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span>#</span>
                                    </th>

                                    <th st-sort="receipt.code">
                                        <span ng-if="lang==='AR'">رقم السند</span>
                                        <span ng-if="lang==='EN'">Receipt Code</span>
                                    </th>

                                    <th st-sort="receipt.date">
                                        <span ng-if="lang==='AR'">تاريخ السند</span>
                                        <span ng-if="lang==='EN'">Receipt Date</span>
                                    </th>

                                    <th st-sort="receipt.amount" class="danger">
                                        <span ng-if="lang==='AR'">قيمة السند</span>
                                        <span ng-if="lang==='EN'">Receipt Amount</span>
                                    </th>

                                    <th st-sort="receipt.sender">
                                        <span ng-if="lang==='AR'">محرر السند</span>
                                        <span ng-if="lang==='EN'">Receipt Writer</span>
                                    </th>

                                    <th st-sort="receipt.receiver">
                                        <span ng-if="lang==='AR'">مُستلم السند</span>
                                        <span ng-if="lang==='EN'">Receipt Receiver</span>
                                    </th>

                                    <th st-sort="receipt.note">
                                        <span ng-if="lang==='AR'">البيان</span>
                                        <span ng-if="lang==='EN'">Note</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">العمليات</span>
                                        <span ng-if="lang==='EN'">Action</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="bankReceipt in collectionOut" st-select-mode="multiple">
                                    <td st-select-row-multi="bankReceipt">{{$index+1}}</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.code}}</td>
                                    <td st-select-row-multi="bankReceipt">
                                        <span ng-show="dateType==='H'">{{bankReceipt.receipt.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{bankReceipt.receipt.date | date: 'yyyy-MM-dd'}}</span>
                                        {{bankReceipt.receipt.date | date:'h:m a'}}
                                    </td>
                                    <td st-select-row-multi="bankReceipt" class="danger">{{bankReceipt.receipt.amountNumber}} SAR</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.sender}}</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.receiver}}</td>
                                    <td st-select-row-multi="bankReceipt">{{bankReceipt.receipt.note}}</td>
                                    <td>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_BANK_RECEIPT_OUT_DELETE'])"
                                           ng-click="deleteBankReceiptOut(bankReceipt)">
                                            <strong ng-if="lang==='AR'">حذف</strong>
                                            <strong ng-if="lang==='EN'">Remove</strong>
                                        </a>
                                        <a href=""
                                           ng-click="printReceiptOut(bankReceipt.receipt)">
                                            <strong ng-if="lang==='AR'">طباعة</strong>
                                            <strong ng-if="lang==='EN'">Print</strong>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collectionOut || collectionOut.length ==0">
                                    <td colspan="8">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="form-group row">

                        <h3 class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 box-danger" ng-if="bankTotalAmountOut>=0">
                            <span ng-if="lang==='AR'">إجمالي المصروفات</span>
                            <span ng-if="lang==='EN'">Total Outcomes: </span>
                            <span>{{bankTotalAmountOut}} SAR</span>
                        </h3>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>