<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-body">

        <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
             class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <button id="customer-menu-lower-right" style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <span ng-if="lang==='AR'">العمليات</span>
                <span ng-if="lang==='EN'">Actions</span>
            </button>
            <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                for="customer-menu-lower-right">

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="findAllCustomers()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">visibility</i>
                        <span ng-if="lang==='AR'">عرض كل العملاء</span>
                        <span ng-if="lang==='EN'">Read All Customers</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="openFilterCustomer()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">search</i>
                        <span ng-if="lang==='AR'">بحث</span>
                        <span ng-if="lang==='EN'">Search</span>
                    </span>
                </li>

                <div class="mdl-menu__item--full-bleed-divider"></div>

                <li class="mdl-menu__item mdl-list__item" ng-click="newCustomer();"
                    ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء عميل جديد</span>
                        <span ng-if="lang==='EN'">New...</span>
                    </span>
                </li>
            </ul>
        </div>

        <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
             ng-init="toggleList=1">
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=1"
                            ng-class="{'active':toggleList===1}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">reorder</i>
                    </button>
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=2"
                            ng-class="{'active':toggleList===2}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">view_column</i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterCustomer()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                       ng-click="newCustomer()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب عميل جديد' : 'New Customer...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة العملاء</h3>
                <h3 ng-if="lang==='EN'">Customers List</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">

            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="customers"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <span ng-if="lang==='AR'">م</span>
                            <span ng-if="lang==='EN'">#</span>
                        </th>

                        <th st-sort="code" class="info">
                            <span ng-if="lang==='AR'">رقم العميل</span>
                            <span ng-if="lang==='EN'">Code</span>
                        </th>

                        <th st-sort="name">
                            <span ng-if="lang==='AR'">اسم العميل</span>
                            <span ng-if="lang==='EN'">Name</span>
                        </th>

                        <th st-sort="registerDate">
                            <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                            <span ng-if="lang==='EN'">Register Date</span>
                        </th>

                        <th st-sort="mobile">
                            <span ng-if="lang==='AR'">الجوال</span>
                            <span ng-if="lang==='EN'">Mobile</span>
                        </th>

                        <th st-sort="identityNumber">
                            <span ng-if="lang==='AR'">رقم الهوية</span>
                            <span ng-if="lang==='EN'">Identity Card Number</span>
                        </th>

                        <th st-sort="nationality">
                            <span ng-if="lang==='AR'">الجنسية</span>
                            <span ng-if="lang==='EN'">Nationality</span>
                        </th>

                        <th st-sort="job">
                            <span ng-if="lang==='AR'">المهنة</span>
                            <span ng-if="lang==='EN'">job</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="customer in collection1"
                        st-select-mode="multiple"
                        context-menu="rowMenuCustomer"
                        ng-class="{'danger': !customer.enabled}"
                        ng-dblclick="ModalProvider.openCustomerDetailsModel(customer)" ng-init="customer.isSelected=false">
                        <td st-select-row-multi="customer">{{$index+1}}</td>
                        <td st-select-row-multi="customer" ng-class="{'info' : customer.isSelected===false}">{{customer.code}}</td>
                        <td st-select-row-multi="customer">
                            {{customer.nickname}} / {{customer.name}}
                        </td>
                        <td st-select-row-multi="customer">
                            {{customer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                            {{customer.registerDate | date:'h:m a'}}
                        </td>
                        <td st-select-row-multi="customer">{{customer.mobile}}</td>
                        <td st-select-row-multi="customer">{{customer.identityNumber}}</td>
                        <td st-select-row-multi="customer">{{customer.nationality}}</td>
                        <td st-select-row-multi="customer">{{customer.job}}</td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="8">
                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                            <span ng-if="lang==='EN'">No Data Found.</span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="showFilter=true"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                       ng-click="newCustomer()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب عميل جديد' : 'New Customer...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة العملاء</h3>
                <h3 ng-if="lang==='EN'">Customers List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div st-table="collection2" st-safe-src="customers">

                <div class="form-group row">

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="customer in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{customer.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{customer.nickname}} / {{customer.name}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong ng-if="lang==='AR'">المهنة</strong>
                                        <strong ng-if="lang==='EN'">Job</strong>
                                        {{customer.qualification}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">رقم الجوال</strong>
                                        <strong ng-if="lang==='EN'">Phone</strong>
                                        {{customer.mobile}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">الصقور المسجلة</strong>
                                        <strong ng-if="lang==='EN'">Registered Falcons</strong>
                                        <span class="label label-success">{{customer.falcons.length}}</span>
                                    </p>
                                    <hr>
                                    <p>
                                        <a href="" ng-click="ModalProvider.openCustomerDetailsModel(customer);">
                                            <strong ng-if="lang==='AR'">المزيد...</strong>
                                            <strong ng-if="lang==='EN'">More...</strong>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء عميل جديد' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                            ng-click="newCustomer();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                                            ng-click="ModalProvider.openCustomerUpdateModel(customer)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_DELETE'])"
                                            ng-click="delete(customer)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>

                </div>

                <div class="form-group row">

                    <tfoot>
                    <tr>
                        <td>
                            <div st-pagination="" st-items-by-page="3" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>

                </div>

            </div>

        </div>
    </div>

</div>