<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">
        <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
             class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <button id="drug-menu-lower-right" style="width: 100%;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                <span ng-if="lang==='AR'">العمليات</span>
                <span ng-if="lang==='EN'">Actions</span>
            </button>
            <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                for="drug-menu-lower-right">

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="openFilterDrug()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">visibility</i>
                        <span ng-if="lang==='AR'">عرض البيانات</span>
                        <span ng-if="lang==='EN'">View</span>
                    </span>
                </li>

                <div class="mdl-menu__item--full-bleed-divider"></div>

                <li class="mdl-menu__item mdl-list__item" ng-click="newDrugCategory();"
                    ng-if="contains(me.team.authorities, ['ROLE_DRUG_CATEGORY_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء تصنيف جديد</span>
                        <span ng-if="lang==='EN'">New Category...</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="ModalProvider.openDrugCategoryHeavyWorkModel()"
                    ng-if="contains(me.team.authorities, ['ROLE_DRUG_CATEGORY_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">build</i>
                        <span ng-if="lang==='AR'">انشاء دفعة من التصنيفات</span>
                        <span ng-if="lang==='EN'">New Category Group...</span>
                    </span>
                </li>

                <div class="mdl-menu__item--full-bleed-divider"></div>

                <li class="mdl-menu__item mdl-list__item" ng-click="newDrug();"
                    ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">add</i>
                        <span ng-if="lang==='AR'">انشاء دواء جديد</span>
                        <span ng-if="lang==='EN'">New Item...</span>
                    </span>
                </li>

                <li class="mdl-menu__item mdl-list__item"
                    ng-click="ModalProvider.openDrugHeavyWorkModel()"
                    ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">build</i>
                        <span ng-if="lang==='AR'">انشاء دفعة من الأدوية</span>
                        <span ng-if="lang==='EN'">New Drug Group...</span>
                    </span>
                </li>

            </ul>
        </div>

        <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=1"
                            ng-class="{'active':toggleList===1}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">web</i>
                    </button>
                    <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                            type="button" ng-click="toggleList=2"
                            ng-class="{'active':toggleList===2}">
                        <input type="radio" name="options"/>
                        <i class="material-icons">view_column</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterDrug()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-click="filterDrugs()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                        <span class="fa fa-refresh"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])"
                       ng-click="newDrug()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء صنف دواء' : 'New Drug...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الدواء</h3>
                <h3 ng-if="lang==='EN'">Drugs List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row"  ng-show="drugs.length > 0">

                <button uib-tooltip="{{lang==='AR' ? 'تقرير باسعار البيع' : 'Drugs Prices Report'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="printDrugsPrices()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">picture_as_pdf</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'تقرير مختصر بأصناف القائمة' : 'Drugs Summary Report'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="printDrugList()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">picture_as_pdf</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'تقرير مفصل بأصناف القائمة' : 'Drugs Details Report'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="printDrugDetailsList()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">picture_as_pdf</i>
                </button>

            </div>

            <div class="form-group row">

                <div class="table-responsive">
                    <table st-table="collection1" st-safe-src="drugs"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <span>#</span>
                            </th>

                            <th st-sort="code" class="info">
                                <span ng-if="lang==='AR'">رقم الدواء</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">الاسم التجاري</span>
                                <span ng-if="lang==='EN'">Trade Name</span>
                            </th>

                            <th>
                                <span ng-if="lang==='AR'">الاسم العلمي</span>
                                <span ng-if="lang==='EN'">Medical Name</span>
                            </th>

                            <th st-sort="drugCategory.code">
                                <span ng-if="lang==='AR'">التصنيف</span>
                                <span ng-if="lang==='EN'">Category</span>
                            </th>

                            <th st-sort="transactionBuysSum">
                                <span ng-if="lang==='AR'" class="danger">إجمالي المشتريات</span>
                                <span ng-if="lang==='EN'">Total Purchases</span>
                            </th>

                            <th st-sort="transactionSellsSum">
                                <span ng-if="lang==='AR'" class="success">إجمالي المبيعات</span>
                                <span ng-if="lang==='EN'">Total Sales</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="drug in collection1"
                            context-menu="rowMenuDrug"
                            ng-dblclick="ModalProvider.openDrugDetailsModel(drug)"
                            st-select-mode="multiple" ng-init="drug.isSelected=false">
                            <td st-select-row-multi="drug">{{$index+1}}</td>
                            <td st-select-row-multi="drug" ng-class="{'info' : drug.isSelected===false}">
                                <a href="" ng-click="ModalProvider.openDrugDetailsModel(drug)">
                                    <strong>{{drug.code}}</strong>
                                </a>
                            </td>
                            <td st-select-row-multi="drug">
                                <span ng-if="lang==='AR'">{{drug.nameArabic}}</span>
                                <span ng-if="lang==='EN'">{{drug.nameEnglish}}</span>
                            </td>
                            <td st-select-row-multi="drug">
                                <span ng-if="lang==='AR'">{{drug.medicalNameArabic}}</span>
                                <span ng-if="lang==='EN'">{{drug.medicalNameEnglish}}</span>
                            </td>
                            <td st-select-row-multi="drug">
                                <span ng-if="lang==='AR'">{{drug.drugCategory.nameArabic}}</span>
                                <span ng-if="lang==='EN'">{{drug.drugCategory.nameEnglsih}}</span>
                            </td>
                            <td st-select-row-multi="drug" ng-class="{'danger' : drug.isSelected===false}">
                                <span>{{drug.transactionBuysSum | currency:' SAR ':2}}</span>
                            </td>
                            <td st-select-row-multi="drug" ng-class="{'success' : drug.isSelected===false}">
                                <span>{{drug.transactionSellsSum | currency:' SAR ':2}}</span>
                            </td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection1 || collection1.length ==0">
                            <td colspan="7">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
        <div class="panel-footer">

            <div class="row">

                <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-danger">
                    <span ng-if="lang==='AR'">إجمالي المشتريات: </span>
                    <span ng-if="lang==='EN'">Total Purchases: </span>
                    <span>{{drugs | sumByKey:'transactionBuysSum' | currency:' SAR ':2}}</span>
                </h3>

                <h3 class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 box-success">
                    <span ng-if="lang==='AR'">إجمالي المبيعات: </span>
                    <span ng-if="lang==='EN'">Total Sales: </span>
                    <span>{{drugs | sumByKey:'transactionSellsSum' | currency:' SAR ':2}}</span>
                </h3>

            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterDrug()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])"
                       ng-click="newDrug()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء صنف دواء' : 'New Drug...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الدواء</h3>
                <h3 ng-if="lang==='EN'">Drugs List</h3>
            </div>
        </div>
        <div class="panel panel-body">
            <div st-table="collection4" st-safe-src="drugs">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="drug in collection4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-image">
                                <img width="100" height="100"
                                     src="/ui/img/no-image.jpg"
                                     alt="{{drug.code}}"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">
                                    <span ng-if="lang==='AR'">{{drug.nameArabic}}</span>
                                    <span ng-if="lang==='EN'">{{drug.nameEnglish}}</span>
                                </div>
                            </div>
                            <div class="profile-controls">
                                <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="contact-info">
                                <p>
                                    <strong ng-if="lang==='AR'">الوصف</strong>
                                    <strong ng-if="lang==='EN'">Description</strong>
                                    <span ng-if="lang==='AR'">{{drug.descriptionArabic}}</span>
                                    <span ng-if="lang==='EN'">{{drug.descriptionEnglish}}</span>
                                </p>
                                <hr>
                                <p>
                                    <a href="" ng-click="ModalProvider.openDrugDetailsModel(drug);">
                                        <strong ng-if="lang==='AR'">المزيد...</strong>
                                        <strong ng-if="lang==='EN'">More...</strong>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <button uib-tooltip="{{lang==='AR' ? 'انشاء دواء جديد' : 'New...'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_DRUG_CREATE'])"
                                        ng-click="newDrug();"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">add</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_DRUG_UPDATE'])"
                                        ng-click="ModalProvider.openDrugUpdateModel(drug)"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_DRUG_DELETE'])"
                                        ng-click="delete(drug)"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="3" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </div>
        </div>
    </div>

</div>