<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">

        <div class="row">
            <ul class="breadcrumb">
                <li ng-repeat="item in itemsOrder | orderBy:'id' track by item.id">
                    <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                    <span ng-if="item.type==='title'">{{item.name}}</span>
                </li>
            </ul>
        </div>

        <div class="row">

            <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
                 class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <button id="diagnosis-view-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span ng-if="lang==='AR'">عرض البيانات</span>
                    <span ng-if="lang==='EN'">View Data</span>
                </button>
                <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                    class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                    for="diagnosis-view-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="openFilterOrder()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">بحث مفصل</span>
                            <span ng-if="lang==='EN'">Filter...</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByToday()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات اليوم</span>
                            <span ng-if="lang==='EN'">Orders For Today</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByWeek()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات الاسبوع</span>
                            <span ng-if="lang==='EN'">Orders For Week</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByMonth()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات الشهر</span>
                            <span ng-if="lang==='EN'">Orders For Month</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByYear()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات العام</span>
                            <span ng-if="lang==='EN'">Orders For Year</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'active':toggleList===1}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">reorder</i>
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'active':toggleList===2}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">view_column</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-click="newDiagnosis(order)"
                       ng-show="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE'])"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'اضافة علاج' : 'Add Diagnosis'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الطلبات</h3>
                <h3 ng-if="lang==='EN'">Orders List</h3>
                <span ng-if="lang==='AR'">عرض الطلبات باختصار مع ذكر التشخيص لكل طلب</span>
                <span ng-if="lang==='EN'">View Order In Summary With Prescription For Each One</span>
            </div>
        </div>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table st-table="collection1"
                       st-safe-src="orders"
                       class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <span>#</span>
                        </th>

                        <th st-sort="code" st-sort-default="reverse" class="info">
                            <span ng-if="lang==='AR'">رقم الطلب</span>
                            <span ng-if="lang==='EN'">Code</span>
                        </th>

                        <th st-sort="date" class="success">
                            <span ng-if="lang==='AR'">التاريخ</span>
                            <span ng-if="lang==='EN'">Date</span>
                        </th>

                        <th st-sort="falcon.code">
                            <span ng-if="lang==='AR'">رقم الصقر</span>
                            <span ng-if="lang==='EN'">Falcon Code</span>
                        </th>

                        <th st-sort="falcon.customer.name">
                            <span ng-if="lang==='AR'">العميل</span>
                            <span ng-if="lang==='EN'">Customer</span>
                        </th>

                        <th st-sort="note" class="warning">
                            <span ng-if="lang==='AR'">التشخيص</span>
                            <span ng-if="lang==='EN'">Diagnosis</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in collection1"
                        st-select-mode="multiple"
                        context-menu="rowMenuOrder"
                        ng-dblclick="ModalProvider.openOrderDetailsModel(order)">
                        <td st-select-row-multi="order">{{$index+1}}</td>
                        <td st-select-row-multi="order" class="info">{{order.code}}</td>
                        <td st-select-row-multi="order" class="success">
                            <span ng-show="dateType==='H'">{{order.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                            <span ng-show="dateType==='G'">{{order.date | date: 'yyyy-MM-dd'}}</span>
                            {{order.date | date:'h:m a'}}
                        </td>
                        <td st-select-row-multi="order">{{order.falcon.code}}</td>
                        <td st-select-row-multi="order">{{order.falcon.customer.name}}</td>
                        <td st-select-row-multi="order" class="warning">{{order.note}}</td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="6">
                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                            <span ng-if="lang==='EN'">No Data Found.</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                       ng-click="newOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء طلب فحص' : 'New Order...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الطلبات</h3>
                <h3 ng-if="lang==='EN'">Orders List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div st-table="collection2" st-safe-src="orders">

                <div class="form-group row">

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="order in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{order.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        <span>{{order.code}}</span>
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong ng-if="lang==='AR'">العميل</strong>
                                        <strong ng-if="lang==='EN'">Customer</strong>
                                        <span>{{order.falcon.customer.name}}</span>
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">رقم الصقر</strong>
                                        <strong ng-if="lang==='EN'">Falcon Code</strong>
                                        <span class="label label-danger">{{order.falcon.code}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء طلب جديد' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                                            ng-click="newOrder();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ORDER_DELETE'])"
                                            ng-click="deleteOrder(order)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>

                </div>

                <div class="form-group row">

                    <tfoot>
                    <tr>
                        <td>
                            <div st-pagination="" st-items-by-page="3" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>

                </div>

            </div>

        </div>
    </div>
</div>