<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">

        <div class="row">
            <ul class="breadcrumb">
                <li ng-repeat="item in itemsOrder | orderBy:'id' track by item.id">
                    <a ng-if="item.type==='link'" href="" ui-sref="{{item.link}}">{{item.name}}</a>
                    <span ng-if="item.type==='title'">{{item.name}}</span>
                </li>
            </ul>
        </div>

        <div class="row">

            <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
                 class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <button id="order-view-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span ng-if="lang==='AR'">عرض البيانات</span>
                    <span ng-if="lang==='EN'">View Data</span>
                </button>
                <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                    class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                    for="order-view-menu-lower-right">
                    <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                        ng-click="openFilterOrder()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">بحث مفصل</span>
                            <span ng-if="lang==='EN'">Filter...</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByToday()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات اليوم</span>
                            <span ng-if="lang==='EN'">Orders For Today</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByWeek()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات الاسبوع</span>
                            <span ng-if="lang==='EN'">Orders For Week</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByMonth()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات الشهر</span>
                            <span ng-if="lang==='EN'">Orders For Month</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrdersByYear()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">طلبات العام</span>
                            <span ng-if="lang==='EN'">Orders For Year</span>
                        </span>
                    </li>
                </ul>
            </div>

            <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
                <div class="btn-toolbar">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=1"
                                ng-class="{'active':toggleList===1}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">reorder</i>
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=2"
                                ng-class="{'active':toggleList===2}">
                            <input type="radio" name="options"/>
                            <i class="material-icons">view_column</i>
                        </button>
                        <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                type="button" ng-click="toggleList=3;findQuantityByDay()"
                                ng-class="{'active':toggleList===3}">
                            <input type="radio" name="options"/>
                            <span class="fa fa-area-chart fa-lg"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                       ng-click="newOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء طلب فحص' : 'New Order...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الطلبات</h3>
                <h3 ng-if="lang==='EN'">Orders List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row">

                <button uib-tooltip="{{lang==='AR' ? 'انشاء طلب فحص' : 'New Order...'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                        ng-click="newOrder()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">add</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'تقرير مختصر بطلبات القائمة' : 'Orders Summary Report'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-show="orders.length > 0"
                        ng-click="printOrdersSummaryByList()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">picture_as_pdf</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'تقرير مفصل بطلبات القائمة' : 'Orders Details Report'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-show="orders.length > 0"
                        ng-click="printOrdersDetailsByList()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">picture_as_pdf</i>
                </button>

            </div>

            <div class="form-group row">

                <div class="table-responsive">
                    <table st-table="collection1" st-safe-src="orders" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <span ng-if="lang==='AR'">م</span>
                                <span ng-if="lang==='EN'">#</span>
                            </th>

                            <th st-sort="code" st-sort-default="reverse" class="info">
                                <span ng-if="lang==='AR'">رقم الطلب</span>
                                <span ng-if="lang==='EN'">Code</span>
                            </th>

                            <th st-sort="date" class="success">
                                <span ng-if="lang==='AR'">التاريخ</span>
                                <span ng-if="lang==='EN'">Date</span>
                            </th>

                            <th st-sort="falcon.code">
                                <span ng-if="lang==='AR'">رقم الصقر</span>
                                <span ng-if="lang==='EN'">Falcon Code</span>
                            </th>

                            <th st-sort="falcon.customer.name">
                                <span ng-if="lang==='AR'">العميل</span>
                                <span ng-if="lang==='EN'">Customer</span>
                            </th>

                            <th st-sort="detectionTypeCostSum">
                                <span ng-if="lang==='AR'">التكلفة</span>
                                <span ng-if="lang==='EN'">Cost</span>
                            </th>

                            <th st-sort="discount">
                                <span ng-if="lang==='AR'">الخصم</span>
                                <span ng-if="lang==='EN'">Discount</span>
                            </th>

                            <th st-sort="netCost" class="info">
                                <span ng-if="lang==='AR'">الصافي</span>
                                <span ng-if="lang==='EN'">Net</span>
                            </th>

                            <th st-sort="paid" class="warning">
                                <span ng-if="lang==='AR'">المدفوع</span>
                                <span ng-if="lang==='EN'">Paid</span>
                            </th>

                            <th st-sort="remain" class="danger">
                                <span ng-if="lang==='AR'">الباقي</span>
                                <span ng-if="lang==='EN'">Remain</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in collection1"
                            st-select-mode="multiple"
                            context-menu="rowMenuOrder"
                            ng-dblclick="ModalProvider.openOrderDetailsModel(order)" ng-init="order.isSelected=false">
                            <td st-select-row-multi="order">{{$index+1}}</td>
                            <td st-select-row-multi="order" ng-class="{'info' : order.isSelected===false}">{{order.code}}</td>
                            <td st-select-row-multi="order" ng-class="{'success' : order.isSelected===false}">
                                <span ng-show="dateType==='H'">{{order.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-show="dateType==='G'">{{order.date | date: 'yyyy-MM-dd'}}</span>
                                {{order.date | date:'h:m a'}}
                            </td>
                            <td st-select-row-multi="order">{{order.falcon.code}}</td>
                            <td st-select-row-multi="order">{{order.falcon.customer.name}}</td>
                            <td st-select-row-multi="order">{{order.detectionTypeCostSum}} SAR</td>
                            <td st-select-row-multi="order">{{order.discount}} %</td>
                            <td st-select-row-multi="order" ng-class="{'info' : order.isSelected===false}">{{order.netCost}} SAR</td>
                            <td st-select-row-multi="order" ng-class="{'warning' : order.isSelected===false}">{{order.paid}} SAR</td>
                            <td st-select-row-multi="order" ng-class="{'danger' : order.isSelected===false}">{{order.remain}} SAR</td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-show="!collection1 || collection1.length == 0">
                            <td colspan="11">
                                <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                <span ng-if="lang==='EN'">No Data Found.</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="11">
                                <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

            <div class="form-group row">

                <button uib-tooltip="{{lang==='AR' ? 'تحديث بيانات الصندوق' : 'Refresh Cash Data'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="refreshFund()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">cached</i>
                </button>

                <button uib-tooltip="{{lang==='AR' ? 'تحديث بيانات البنك' : 'Refresh Bank Data'}}"
                        tooltip-append-to-body="true"
                        type="button"
                        ng-click="refreshBank()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <i class="material-icons">cached</i>
                </button>

            </div>

            <div class="form-group row" ng-init="selectedFund.balance=0;selectedBank.balance=0">

                <h3>
                    <span ng-if="lang==='AR'">رصيد الصندوق = </span>
                    <span ng-if="lang==='EN'">Cash Balance = </span>
                    {{selectedFund.balance | currency:' SAR ':2}}
                </h3>

                <h3>
                    <span ng-if="lang==='AR'">رصيد البنك = </span>
                    <span ng-if="lang==='EN'">Bank Balance = </span>
                    {{selectedBank.balance | currency:' SAR ':2}}
                </h3>

            </div>

        </div>
        <div class="panel-footer">

            <div class="row">

                <h3 class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3 box-success">
                    <span ng-if="lang==='AR'">عدد الطلبات: </span>
                    <span ng-if="lang==='EN'">Orders Count: </span>
                    <span>{{orders.length}}</span>
                </h3>

                <h3 class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3 box-info">
                    <span ng-if="lang==='AR'">إجمالي السعر المطلوب: </span>
                    <span ng-if="lang==='EN'">Total Orders Prices: </span>
                    <span>{{orders | sumByKey:'netCost' | currency:'SAR':0}}</span>
                </h3>

                <h3 class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3 box-warning">
                    <span ng-if="lang==='AR'">إجمالي المسدد: </span>
                    <span ng-if="lang==='EN'">Total Orders Payments: </span>
                    <span>{{orders | sumByKey:'paid' | currency:'SAR':0}}</span>
                </h3>

                <h3 class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3 box-danger">
                    <span ng-if="lang==='AR'">إجمالي الباقي: </span>
                    <span ng-if="lang==='EN'">Total Orders Remain: </span>
                    <span>{{orders | sumByKey:'remain' | currency:'SAR':0}}</span>
                </h3>

            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openFilterOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                       ng-click="newOrder()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء طلب فحص' : 'New Order...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة الطلبات</h3>
                <h3 ng-if="lang==='EN'">Orders List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div st-table="collection2" st-safe-src="orders">

                <div class="form-group row">

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="order in collection2">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{order.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        <span>{{order.code}}</span>
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong ng-if="lang==='AR'">العميل</strong>
                                        <strong ng-if="lang==='EN'">Customer</strong>
                                        <span>{{order.falcon.customer.name}}</span>
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">رقم الصقر</strong>
                                        <strong ng-if="lang==='EN'">Falcon Code</strong>
                                        <span class="label label-danger">{{order.falcon.code}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء طلب جديد' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                                            ng-click="newOrder();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_ORDER_DELETE'])"
                                            ng-click="deleteOrder(order)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>

                </div>

                <div class="form-group row">

                    <tfoot>
                    <tr>
                        <td>
                            <div st-pagination="" st-items-by-page="3" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===3">

    <div class="panel panel-danger">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                <button id="area-chart-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                    for="area-chart-menu-lower-left">
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrderQuantityByDay()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">توضيح العلاقة بالأسبوع</span>
                            <span ng-if="lang==='EN'">View Relations By Week</span>
                        </span>
                    </li>
                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="findOrderQuantityByMonth()">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-icon">filter_list</i>
                            <span ng-if="lang==='AR'">توضيح العلاقة بالشهر</span>
                            <span ng-if="lang==='EN'">View Relations By Month</span>
                        </span>
                    </li>
                </ul>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">الإقبال على المستشفي</h3>
                <h3 ng-if="lang==='EN'">Popularity Of The Hospital</h3>
                <span ng-if="lang==='AR'">رسم بياني يوضح العلاقة بين عدد الطلبات</span>
                <span ng-if="lang==='EN'">Area Chart Describe How Many Orders</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-series="series" chart-options="options"
                            chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                </div>
            </div>

        </div>
    </div>

</div>