<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <form name="from1" ng-submit="submitCompany()" novalidate="novalidate" focus-group="" focus-stack=""
          focus-group-head="loop" focus-group-tail="loop">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                    <h3 ng-if="lang==='EN'">The General Information</h3>
                    <span ng-if="lang==='AR'">كل التقارير تعتمد على هذة البيانات</span>
                    <span ng-if="lang==='EN'">All Reports Depends On This Information</span>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                    <div class="alert alert-danger" role="alert">
                        <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                        <strong ng-if="lang==='EN'">Please Complete Required Fields.</strong>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <label for="name" class="control-label">
                            <span ng-if="lang==='AR'">اسم الشركة</span>
                            <span ng-if="lang==='EN'">Name</span>
                        </label>
                        <input id="name"
                               type="text"
                               focus-autofocus="1"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.name">
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <label for="address" class="control-label">
                            <span ng-if="lang==='AR'">العنوان</span>
                            <span ng-if="lang==='EN'">Address</span>
                        </label>
                        <input id="address"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.address">
                    </div>

                </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="phone" class="control-label">
                            <span ng-if="lang==='AR'">الهاتف</span>
                            <span ng-if="lang==='EN'">Phone</span>
                        </label>
                        <input id="phone"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.phone">
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="mobile" class="control-label">
                            <span ng-if="lang==='AR'">الجوال</span>
                            <span ng-if="lang==='EN'">Mobile</span>
                        </label>
                        <input id="mobile"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.mobile">
                    </div>

                </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="fax" class="control-label">
                            <span ng-if="lang==='AR'">الفاكس</span>
                            <span ng-if="lang==='EN'">Fax</span>
                        </label>
                        <input id="fax"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.fax">
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="email" class="control-label">
                            <span ng-if="lang==='AR'">البريد الإلكتروني</span>
                            <span ng-if="lang==='EN'">Email</span>
                        </label>
                        <input id="email"
                               type="email"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.email">
                    </div>

                </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="website" class="control-label">
                            <span ng-if="lang==='AR'">الموقع الرسمي</span>
                            <span ng-if="lang==='EN'">Website</span>
                        </label>
                        <input id="website"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.website">
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="commericalRegisteration" class="control-label">
                            <span ng-if="lang==='AR'">السجل التجاري</span>
                            <span ng-if="lang==='EN'">Commercial Registration</span>
                        </label>
                        <input id="commericalRegisteration"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedCompany.commericalRegisteration">
                    </div>

                </div>

            </div>
            <div class="panel-footer">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                            tooltip-append-to-body="true"
                            type="submit"
                            ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">save</i>
                                <span ng-if="lang==='AR'">حفظ البيانات</span>
                                <span ng-if="lang==='EN'">Save</span>
                            </span>
                    </button>

                </div>

            </div>
        </div>
    </form>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="browseCompanyLogo()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تحميل">
                        <span class="fa fa-paperclip"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">الشعار الرسمي</h3>
                <h3 ng-if="lang==='EN'">Official Logo</h3>
                <span ng-if="lang==='AR'">مركز السلطان للصقور</span>
                <span ng-if="lang==='EN'">SULTAN CENTER</span>
            </div>
        </div>
        <div class="panel-body">
            <input id="uploader-company" style="display: none" type="file" accept="image/*" onchange="angular.element(this).scope().uploadCompanyLogo(this.files)"/>
            <img ng-src="{{selected.logo}}" style="width: 100%; height: 100%"/>
        </div>
    </div>
</div>