<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form name="from1" ng-submit="submitBankUpdate()" novalidate="novalidate" focus-group="" focus-stack=""
          focus-group-head="loop" focus-group-tail="loop">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                    <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                    <h3 ng-if="lang==='EN'">The General Information</h3>
                    <span ng-if="lang==='AR'">الحساب البنكي</span>
                    <span ng-if="lang==='EN'">Bank Account Information</span>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                    <div class="alert alert-danger" role="alert">
                        <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                        <strong ng-if="lang==='EN'">Please Complete Required Fields.</strong>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="code" class="control-label">
                            <span ng-if="lang==='AR'">رقم الحساب</span>
                            <span ng-if="lang==='EN'">Bank Account Code</span>
                        </label>
                        <input id="code"
                               type="text"
                               focus-autofocus="1"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedBank.code">
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label for="name" class="control-label">
                            <span ng-if="lang==='AR'">اسم البنك</span>
                            <span ng-if="lang==='EN'">Bank Name</span>
                        </label>
                        <input id="name"
                               type="text"
                               required="required"
                               disable-validation-message=""
                               class="form-control"
                               ng-model="selectedBank.name">
                    </div>

                </div>

                <div class="form-group row">

                   <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                       <label for="address" class="control-label">
                           <span ng-if="lang==='AR'">اسم الفرع</span>
                           <span ng-if="lang==='EN'">Branch Name</span>
                       </label>
                       <input id="address"
                              type="text"
                              required="required"
                              disable-validation-message=""
                              class="form-control"
                              ng-model="selectedBank.branchName">
                   </div>

                   <div class="form-group col-xs-12 col-sm-4 col-md-6 col-lg-6">
                       <label for="startAmount" class="control-label">
                           <span ng-if="lang==='AR'">الرصيد الافتتاحي</span>
                           <span ng-if="lang==='EN'">Opening Balance</span>
                       </label>
                       <input id="startAmount"
                              type="number"
                              ng-min="0"
                              required=""
                              disable-validation-message=""
                              class="form-control"
                              ng-model="selectedBank.startAmount">
                   </div>

               </div>

                <div class="form-group row">

                    <div class="form-group col-xs-12 col-sm-4 col-md-6 col-lg-6">
                        <label for="balance" class="control-label">
                            <span ng-if="lang==='AR'">الرصيد الحالي</span>
                            <span ng-if="lang==='EN'">Current Balance</span>
                        </label>
                        <input id="balance"
                               type="number"
                               readonly
                               class="form-control"
                               ng-model="selectedBank.balance">
                    </div>

                </div>

            </div>
            <div class="panel-footer">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                            tooltip-append-to-body="true"
                            type="submit"
                            ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">save</i>
                                <span ng-if="lang==='AR'">حفظ البيانات</span>
                                <span ng-if="lang==='EN'">Save</span>
                            </span>
                    </button>

                </div>

            </div>
        </div>
    </form>
</div>