<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">create</i>
                <strong ng-if="lang==='AR'">سحب جديد</strong>
                <strong ng-if="lang==='EN'">New Withdraw</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshBank()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">البيانات الاساسية</h3>
                            <h3 ng-if="lang==='EN'">Basic Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">رقم حساب البنك</span>
                                        <span ng-if="lang==='EN'">Bank Account Code</span>
                                    </td>
                                    <td>{{withdraw.bank.code}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">اسم البنك</span>
                                        <span ng-if="lang==='EN'">Bank Name</span>
                                    </td>
                                    <td>{{withdraw.bank.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">الفرع</span>
                                        <span ng-if="lang==='EN'">Bank Branch Name</span>
                                    </td>
                                    <td>{{withdraw.bank.branchName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات المطلوبة</span>
                        <span ng-if="lang==='EN'">Required Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                 ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="code" class="control-label">
                                        <span ng-if="lang==='AR'">رقم السحب</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </label>
                                    <input id="code"
                                           type="text"
                                           focus-autofocus="1"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر رقم الحساب...' : 'Type Code...'}}"
                                           ng-model="withdraw.code">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="amount" class="control-label">
                                        <span ng-if="lang==='AR'">قيمة السحب</span>
                                        <span ng-if="lang==='EN'">Withdraw Amount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="amount">
                                    <span class="input-group-addon">
                                        <span ng-if="lang==='AR'">ريال سعودي</span>
                                        <span ng-if="lang==='EN'">SAR</span>
                                    </span>
                                        <input dir="rtl"
                                               type="number"
                                               min="1"
                                               required="required"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="withdraw.amount">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="drawer" class="control-label">
                                        <span ng-if="lang==='AR'">الساحب</span>
                                        <span ng-if="lang==='EN'">Withdrawor</span>
                                    </label>
                                    <input id="drawer"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر رقم الحساب...' : 'Type Code...'}}"
                                           ng-model="withdraw.drawer">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                                    <label for="date" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ السحب</span>
                                        <span ng-if="lang==='EN'">Withdraw Date</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="date"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="withdraw.date"
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               ng-required="dateType==='H'"
                                               disable-validation-message=""
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                                    <label for="G-date" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ السحب</span>
                                        <span ng-if="lang==='EN'">Withdraw Date</span>
                                    </label>
                                    <input id="G-date"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="withdraw.date"
                                           placeholder="yyyy-MM-dd"
                                           ng-required="dateType==='G'"
                                           disable-validation-message=""
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="checkBankName" class="control-label">
                                    <span ng-if="lang==='AR'">جهة إصدار الشيك</span>
                                    <span ng-if="lang==='EN'">Check Bank Name</span>
                                </label>
                                <input id="checkBankName"
                                       type="text"
                                       disable-validation-message=""
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'اذكر اسم البنك الخاص بالشيك...' : 'Type Check Bank Name...'}}"
                                       ng-model="withdraw.checkBankName">
                            </div>

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="checkNumber" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الشيك</span>
                                        <span ng-if="lang==='EN'">Check Number</span>
                                    </label>
                                    <input id="checkNumber"
                                           type="text"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر رقم الشيك...' : 'Type Check Number...'}}"
                                           ng-model="withdraw.checkNumber">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                                    <label for="checkDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ إصدار الشيك</span>
                                        <span ng-if="lang==='EN'">Withdraw Date</span>
                                    </label>
                                    <div dir="ltr" class="input-group">
                                        <input dir="rtl"
                                               id="checkDate"
                                               type="text"
                                               class="form-control is-calendarPicker"
                                               ng-model="withdraw.date"
                                               disable-validation-message=""
                                               calendarType="ummalqura"
                                               language="en"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="false"
                                               readonly="readonly"
                                               kdatepicker>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                                    <label for="G-checkDate" class="control-label">
                                        <span ng-if="lang==='AR'">تاريخ إصدار الشيك</span>
                                        <span ng-if="lang==='EN'">Withdraw Date</span>
                                    </label>
                                    <input id="G-checkDate"
                                           class="form-control "
                                           type="date"
                                           name="input"
                                           ng-model="withdraw.checkDate"
                                           placeholder="yyyy-MM-dd"
                                           disable-validation-message=""
                                           min="2017-01-01"
                                           max="2030-12-31"/>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات</span>
                                    <span ng-if="lang==='EN'">Notes</span>
                                </label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="withdraw.note">
                                </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>