<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="customerCtrl.showFilter===true">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="customerCtrl.showFilter=false"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'إغلاق' : 'Close'}}">
                        <span class="fa fa-close"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">تصفية وبحث</h3>
                <h3 ng-if="lang==='EN'">Filter & Search</h3>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label for="customerCode" class="control-label">
                        <span ng-if="lang==='AR'">رقم العميل</span>
                        <span ng-if="lang==='EN'">Customer Code</span>
                    </label>
                    <input id="customerCode"
                           type="text"
                           class="form-control"
                           ng-change="customerCtrl.search()"
                           ng-model="customerCtrl.param.code">
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label for="customerName" class="control-label">
                        <span ng-if="lang==='AR'">اسم العميل</span>
                        <span ng-if="lang==='EN'">Customer Name</span>
                    </label>
                    <input id="customerName"
                           type="text"
                           class="form-control"
                           ng-change="customerCtrl.search()"
                           ng-model="customerCtrl.param.name">
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label for="customerMobile" class="control-label">
                        <span ng-if="lang==='AR'">رقم الجوال</span>
                        <span ng-if="lang==='EN'">Mobile Number</span>
                    </label>
                    <input id="customerMobile"
                           type="text"
                           class="form-control"
                           ng-change="customerCtrl.search()"
                           ng-model="customerCtrl.param.mobile">
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <label for="customerIdentityNumber" class="control-label">
                        <span ng-if="lang==='AR'">رقم البطاقة</span>
                        <span ng-if="lang==='EN'">Identity Number</span>
                    </label>
                    <input id="customerIdentityNumber"
                           type="text"
                           class="form-control"
                           ng-change="customerCtrl.search()"
                           ng-model="customerCtrl.param.identityNumber">
                </div>

            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="customerCtrl.toggleList===1">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="customerCtrl.showFilter=true"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                       ng-click="customerCtrl.newCustomer()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب عميل جديد' : 'New Customer...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة العملاء</h3>
                <h3 ng-if="lang==='EN'">Customers List</h3>
            </div>
        </div>
        <div class="panel-body panel-body-table">

            <div class="table-responsive">
                <table st-table="collection1" st-safe-src="customerCtrl.customers"
                       class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <span ng-if="lang==='AR'">م</span>
                            <span ng-if="lang==='EN'">#</span>
                        </th>

                        <th st-sort="code">
                            <span ng-if="lang==='AR'">رقم العميل</span>
                            <span ng-if="lang==='EN'">Code</span>
                        </th>

                        <th st-sort="name">
                            <span ng-if="lang==='AR'">اسم العميل</span>
                            <span ng-if="lang==='EN'">Name</span>
                        </th>

                        <th st-sort="registerDate">
                            <span ng-if="lang==='AR'">تاريخ التسجيل</span>
                            <span ng-if="lang==='EN'">Register Date</span>
                        </th>

                        <th st-sort="mobile">
                            <span ng-if="lang==='AR'">الجوال</span>
                            <span ng-if="lang==='EN'">Mobile</span>
                        </th>

                        <th st-sort="identityNumber">
                            <span ng-if="lang==='AR'">رقم الهوية</span>
                            <span ng-if="lang==='EN'">Identity Card Number</span>
                        </th>

                        <th st-sort="nationality">
                            <span ng-if="lang==='AR'">الجنسية</span>
                            <span ng-if="lang==='EN'">Nationality</span>
                        </th>

                        <th st-sort="job">
                            <span ng-if="lang==='AR'">المهنة</span>
                            <span ng-if="lang==='EN'">job</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="customer in collection1"
                        st-select-mode="single"
                        context-menu="customerCtrl.rowMenu"
                        ng-click="customerCtrl.setSelected(customer)"
                        ng-dblclick="customerCtrl.goToCustomer()"
                        ng-right-click="customerCtrl.setSelected(customer)">
                        <td st-select-row-custom="customer">{{$index+1}}</td>
                        <td st-select-row-custom="customer">{{customer.code}}</td>
                        <td st-select-row-custom="customer">
                            <span ng-show="customer.enabled" class="label label-success">مفعل</span>
                            <span ng-show="!customer.enabled" class="label label-danger">معطل</span>
                            {{customer.nickname}} / {{customer.name}}
                        </td>
                        <td st-select-row-custom="customer">
                            {{customer.registerDate | kdate: 'yyyy-mm-dd' : 'ar' :'ummalqura'}}
                            <span class="label label-success">{{customer.registerDate | date:'h:m a'}}</span>
                        </td>
                        <td st-select-row-custom="customer">{{customer.mobile}}</td>
                        <td st-select-row-custom="customer">{{customer.identityNumber}}</td>
                        <td st-select-row-custom="customer">{{customer.nationality}}</td>
                        <td st-select-row-custom="customer">{{customer.job}}</td>
                    </tr>
                    <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                        ng-show="!collection1 || collection1.length ==0">
                        <td colspan="8">
                            <span ng-if="lang==='AR'">لا توجد بيانات</span>
                            <span ng-if="lang==='EN'">No Data Found.</span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8">
                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="customerCtrl.toggleList===2">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="customerCtrl.showFilter=true"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                        <span class="fa fa-filter"></span>
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE'])"
                       ng-click="customerCtrl.newCustomer()"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{lang==='AR' ? 'انشاء حساب عميل جديد' : 'New Customer...'}}">
                        <span class="fa fa-plus-square"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                <h3 ng-if="lang==='AR'">قائمة العملاء</h3>
                <h3 ng-if="lang==='EN'">Customers List</h3>
            </div>
        </div>
        <div class="panel-body">

            <div st-table="collection2" st-safe-src="customerCtrl.customers">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="customer in collection2">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-image">
                                <img width="100" height="100"
                                     src="/ui/img/no-image.jpg"
                                     alt="{{customer.code}}"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">
                                    {{customer.nickname}} / {{customer.name}}
                                </div>
                            </div>
                            <div class="profile-controls">
                                <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="contact-info">
                                <p>
                                    <strong ng-if="lang==='AR'">المهنة</strong>
                                    <strong ng-if="lang==='EN'">Job</strong>
                                    {{customer.qualification}}
                                </p>
                                <hr>
                                <p>
                                    <strong ng-if="lang==='AR'">رقم الجوال</strong>
                                    <strong ng-if="lang==='EN'">Phone</strong>
                                    {{customer.mobile}}
                                </p>
                                <hr>
                                <p>
                                    <strong ng-if="lang==='AR'">الصقور المسجلة</strong>
                                    <strong ng-if="lang==='EN'">Registered Falcons</strong>
                                    <span class="label label-success">{{customer.falcons.length}}</span>
                                </p>
                                <hr>
                                <p>
                                    <a href="" ng-click="ModalProvider.openCustomerDetailsModel(customer);">
                                        <strong ng-if="lang==='AR'">المزيد...</strong>
                                        <strong ng-if="lang==='EN'">More...</strong>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <button uib-tooltip="{{lang==='AR' ? 'انشاء عميل جديد' : 'New...'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE'])"
                                        ng-click="customerCtrl.newCustomer();"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">add</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                                        ng-click="ModalProvider.openCustomerUpdateModel(customer)"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                        tooltip-append-to-body="true"
                                        type="button"
                                        ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_DELETE'])"
                                        ng-click="customerCtrl.delete(customer)"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>

                <tfoot>
                <tr>
                    <td>
                        <div st-pagination="" st-items-by-page="4" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>

            </div>

        </div>
    </div>

</div>