<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      ng-app="Application">
<head>
    <base href="/" th:href="@{/}"/>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{~/ui/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/app.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/css/scannerjs.css}"/>
</head>
<body loading="" ng-cloak="">
<span us-spinner="{radius:30, width:8, length: 16}"></span>
<div ui-view="" style="width: 100%; height: 100%;"></div>
<script type="application/javascript" th:src="@{~/ui/app.js}"></script>
<script type="text/javascript" th:src="@{~/ui/js/scanner.js}"></script>
</body>
</html>






