<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <div id="tasks-closed-menu-lower-left" class="material-icons mdl-badge mdl-badge--overlap mdl-icon-margin" data-badge="{{me.tasksClosedThisWeek.length}}">alarm</div>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="tasks-closed-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">لديك {{me.tasksClosedThisWeek.length}} مهمة مغلقة هذا الاسبوع</span>
                    <span ng-if="lang==='EN'">{{me.tasksClosedThisWeek.length}} Tasks will be closed this week</span>
                </li>
                <li ng-repeat="taskClosed in me.tasksClosedThisWeek"
                    class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="ModalProvider.openTaskDetailsModel(taskClosed)">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">assignment</i>
                        <span style="text-overflow: ellipsis;white-space: nowrap;width: 200px; overflow: hidden">[{{taskClosed.code}}] {{taskClosed.title}}</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="ModalProvider.openTasksClosedSoonModel()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">طباعة تقرير</span>
                        <span ng-if="lang==='EN'">Print...</span>
                    </button>
                </li>
            </ul>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    <button id="person-menu-lower-right" style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">العمليات</span>
                        <span ng-if="lang==='EN'">Actions</span>
                    </button>
                    <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        for="person-menu-lower-right">
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                            ng-click="fetchTableData()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">visibility</i>
                                <span ng-if="lang==='AR'">عرض البيانات</span>
                                <span ng-if="lang==='EN'">View</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="ModalProvider.openPersonCreateModel();"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE'])">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">add</i>
                                <span ng-if="lang==='AR'">انشاء مستخدم جديد</span>
                                <span ng-if="lang==='EN'">New...</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="ModalProvider.openPersonUpdateModel(selected);"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_UPDATE']) && toggleList===1"
                            ng-hide="!persons || persons.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">edit</i>
                                <span ng-if="lang==='AR'">تعديل بيانات المستخدم</span>
                                <span ng-if="lang==='EN'">Edit...</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="delete()"
                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_DELETE']) && toggleList===1"
                            ng-hide="!persons || persons.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">delete</i>
                                <span ng-if="lang==='AR'">حذف المستخدم</span>
                                <span ng-if="lang==='EN'">Delete</span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
                    <div class="btn-toolbar">
                        <div class="btn-group" data-toggle="buttons">
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=1"
                                    ng-class="{'active':toggleList===1}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">reorder</i>
                            </button>
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=2"
                                    ng-class="{'active':toggleList===2}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">view_column</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">
                <div class="panel panel-body">
                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="persons"
                               class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th>
                                    <span ng-if="lang==='AR'">م</span>
                                    <span ng-if="lang==='EN'">#</span>
                                </th>

                                <th st-sort="name">
                                    <span ng-if="lang==='AR'">اسم المستخدم</span>
                                    <span ng-if="lang==='EN'">Name</span>
                                </th>

                                <th st-sort="email">
                                    <span ng-if="lang==='AR'">البريد الإلكتروني</span>
                                    <span ng-if="lang==='EN'">Email</span>
                                </th>

                                <th st-sort="mobile">
                                    <span ng-if="lang==='AR'">الجوال</span>
                                    <span ng-if="lang==='EN'">Mobile</span>
                                </th>

                                <th st-sort="qualification">
                                    <span ng-if="lang==='AR'">المؤهل</span>
                                    <span ng-if="lang==='EN'">Qualification</span>
                                </th>

                                <th st-sort="lastLoginDate">
                                    <span ng-if="lang==='AR'">تاريخ آخر دخول</span>
                                    <span ng-if="lang==='EN'">Last Login Date</span>
                                </th>

                                <th st-sort="lastLoginLocation">
                                    <span ng-if="lang==='AR'">الموقع</span>
                                    <span ng-if="lang==='EN'">Location</span>
                                </th>

                                <th st-sort="ipAddress">
                                    <span ng-if="lang==='AR'">أخر عنوان دخول</span>
                                    <span ng-if="lang==='EN'">IP Address</span>
                                </th>

                            </tr>
                            <tr>
                                <th colspan="8">
                                    <input st-search=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'بحث شامل وسريع...' : 'Search...'}}"
                                           type="text"/>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="person in collection"
                                st-select-mode="single"
                                context-menu="rowMenu"
                                ng-click="setSelected(person)"
                                ng-right-click="setSelected(person)"
                                ng-class="{'mdl-color--blue-grey-100':person.isSelected}">
                                <td st-select-row-custom="person">{{$index+1}}</td>
                                <td st-select-row-custom="person">
                                    {{person.nickname}} /  {{person.name}}
                                </td>
                                <td st-select-row-custom="person">{{person.email}}</td>
                                <td st-select-row-custom="person">{{person.mobile}}</td>
                                <td st-select-row-custom="person">{{person.qualification}}</td>
                                <td st-select-row-custom="person">
                                    <span ng-show="dateType==='H'">{{person.lastLoginDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                    <span ng-show="dateType==='G'">{{person.lastLoginDate | date: 'yyyy-MM-dd'}}</span>
                                    <span class="label label-success">{{person.lastLoginDate | date:'h:m a'}}</span>
                                </td>
                                <td st-select-row-custom="person">{{person.lastLoginLocation}}</td>
                                <td st-select-row-custom="person">{{person.ipAddress}}</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="8">
                                    <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                    <span ng-if="lang==='EN'">No Data Found.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
                <div st-table="collection" st-safe-src="persons">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="person in collection">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{person.name}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{person.nickname}} / {{person.name}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong ng-if="lang==='AR'">البريد الإلكتروني</strong>
                                        <strong ng-if="lang==='EN'">Email</strong>
                                        {{person.email}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">رقم الجوال</strong>
                                        <strong ng-if="lang==='EN'">Phone</strong>
                                        {{person.mobile}}
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء مستخدم جديد' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE'])"
                                            ng-click="ModalProvider.openPersonCreateModel();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_UPDATE'])"
                                            ng-click="ModalProvider.openPersonUpdateModel(person)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_PERSON_DELETE'])"
                                            ng-click="delete(person)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>











