<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span ng-if="lang==='AR'">البيانات الاساسية</span>
                        <span ng-if="lang==='EN'">Basic Information</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="nickname" class="control-label">
                                        <span ng-if="lang==='AR'">اللقب</span>
                                        <span ng-if="lang==='EN'">Nickname</span>
                                    </label>
                                    <input id="nickname"
                                           type="text"
                                           focus-autofocus="1"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر اللقب...' : 'Type Person Nickname...'}}"
                                           ng-model="person.nickname">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="name" class="control-label">
                                        <span ng-if="lang==='AR'">الاسم كاملاً</span>
                                        <span ng-if="lang==='EN'">Name</span>
                                    </label>
                                    <input id="name"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر الاسم رباعي...' : 'Type Person Name...'}}"
                                           ng-model="person.name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="nationality" class="control-label">
                                        <span ng-if="lang==='AR'">الجنسية</span>
                                        <span ng-if="lang==='EN'">Nationality</span>
                                    </label>
                                    <input id="nationality"
                                           type="text"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="{{lang==='AR' ? 'اذكر الجنسية...' : 'Type Person Nationality...'}}"
                                           ng-model="person.nationality">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="identityNumber" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الهوية / رخصة الإقامة</span>
                                        <span ng-if="lang==='EN'">Identity Card Number</span>
                                    </label>
                                    <input id="identityNumber"
                                           type="text"
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر رقم البطاقة...' : 'Type Person ID...'}}"
                                           ng-model="person.identityNumber">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="mobile" class="control-label">
                                        <span ng-if="lang==='AR'">الجوال</span>
                                        <span ng-if="lang==='EN'">Mobile</span>
                                    </label>
                                    <input id="mobile"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر رقم الجوال...' : 'Type Person Mobile...'}}"
                                           ng-model="person.mobile">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                    <label for="qualification" class="control-label">
                                        <span ng-if="lang==='AR'">المؤهل</span>
                                        <span ng-if="lang==='EN'">Qualification</span>
                                    </label>
                                    <input id="qualification"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           class="form-control"
                                           placeholder="{{lang==='AR' ? 'اذكر المؤهل العلمي...' : 'Type Person Qualification...'}}"
                                           ng-model="person.qualification">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="address" class="control-label">
                                    <span ng-if="lang==='AR'">العنوان الحالي</span>
                                    <span ng-if="lang==='EN'">Address</span>
                                </label>
                                <input id="address"
                                       type="text"
                                       class="form-control"
                                       placeholder="{{lang==='AR' ? 'اذكر العنوان الحالي...' : 'Type Person Address...'}}"
                                       ng-model="person.address">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="team" class="control-label">
                                    <span ng-if="lang==='AR'">مجموعة الصلاحيات</span>
                                    <span ng-if="lang==='EN'">Team</span>
                                </label>
                                <select id="team" data-placeholder="{{lang==='AR' ? 'ابحث عن المجموعة' : 'Search For Team...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد مجموعات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر المجموعة' : 'Please Select Team...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="person.team"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="team.name for team in teams track by team.id">
                                </select>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="email" class="control-label">
                                        <span ng-if="lang==='AR'">البريد الإلكتروني</span>
                                        <span ng-if="lang==='EN'">Email</span>
                                    </label>
                                    <input id="email"
                                           type="text"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="{{lang==='AR' ? 'اذكر البريد الإلكتروني...' : 'Type Account Email...'}}"
                                           class="form-control"
                                           ng-model="person.email">
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label for="password" class="control-label">
                                        <span ng-if="lang==='AR'">الرقم السري</span>
                                        <span ng-if="lang==='EN'">Password</span>
                                    </label>
                                    <input id="password"
                                           type="password"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="{{lang==='AR' ? 'اذكر كلمة المرور...' : 'Type Account Password...'}}"
                                           class="form-control"
                                           ng-model="person.password">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>