<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon mdl-color-text--white">add</i>
                <strong ng-if="lang==='AR'">إنشاء رأس فاتورة شراء</strong>
                <strong ng-if="lang==='EN'">New Bill Buy Head</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshSuppliers()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_UPDATE'])"
                                   ng-click="ModalProvider.openSupplierUpdateModel(billBuy.supplier);"
                                   ng-hide="!suppliers || suppliers.length==0 || !billBuy.supplier"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تعديل بيانات المورد' : 'Edit Supplier Information...'}}">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE'])"
                                   ng-click="newSupplier()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'مورد جديد' : 'New Supplier...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">بيانات المورد</h3>
                            <h3 ng-if="lang==='EN'">Supplier Information</h3>
                            <span ng-if="lang==='AR'">بحث متعدد عن المورد</span>
                            <span ng-if="lang==='EN'">Multi-Search For Supplier</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="supplierCode" class="control-label">
                                    <span ng-if="lang==='AR'">رقم المورد</span>
                                    <span ng-if="lang==='EN'">Supplier Code</span>
                                </label>
                                <select id="supplierCode"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن الرقم' : 'Search For Code...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر الرقم' : 'Please Select Code...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="billBuy.supplier"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="supplier.code for supplier in suppliers | orderBy:'code' track by supplier.id">
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="name" class="control-label">
                                    <span ng-if="lang==='AR'">الاسم</span>
                                    <span ng-if="lang==='EN'">Name</span>
                                </label>
                                <select id="name"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن الاسم' : 'Search For Name...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر الاسم' : 'Please Select Name...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="billBuy.supplier"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="supplier.name for supplier in suppliers | orderBy:'name' track by supplier.id">
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="mobile" class="control-label">
                                    <span ng-if="lang==='AR'">رقم الجوال</span>
                                    <span ng-if="lang==='EN'">Mobile</span>
                                </label>
                                <select id="mobile"
                                        data-placeholder="{{lang==='AR' ? 'ابحث عن رقم الجوال' : 'Search For Mobile...'}}"
                                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                        placeholder-text-single="'{{lang==='AR' ? 'اختر رقم الجوال' : 'Please Select Mobile...'}}'"
                                        class="form-control"
                                        chosen=""
                                        ng-model="billBuy.supplier"
                                        required="required"
                                        disable-validation-message=""
                                        ng-options="supplier.mobile for supplier in suppliers | orderBy:'mobile' track by supplier.id">
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">رأس الفاتورة</h3>
                            <h3 ng-if="lang==='EN'">Head Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group row">

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="paymentMethod" class="control-label">
                                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </label>
                                    <select id="paymentMethod"
                                            class="form-control"
                                            required="required"
                                            disable-validation-message=""
                                            ng-model="billBuy.paymentMethod">
                                        <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                                        <option ng-if="lang==='EN'" value="Cash">Cash</option>
                                        <option ng-if="lang==='AR'" value="Check">شيك</option>
                                        <option ng-if="lang==='EN'" value="Check">Check</option>
                                        <option ng-if="lang==='AR'" value="Later">آجل</option>
                                        <option ng-if="lang==='EN'" value="Later">Later</option>
                                    </select>
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="checkCode" class="control-label">
                                        <span ng-if="lang==='AR'">رقم الشيك</span>
                                        <span ng-if="lang==='EN'">Check Code</span>
                                    </label>
                                    <input id="checkCode"
                                           type="number"
                                           ng-required="billSellDetection.paymentMethod==='Check'"
                                           ng-disabled="billSellDetection.paymentMethod!=='Check'"
                                           disable-validation-message=""
                                           class="form-control"
                                           ng-model="billBuy.checkCode">
                                </div>

                                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="discount" class="control-label">
                                        <span ng-if="lang==='AR'">الخصم المكتسب</span>
                                        <span ng-if="lang==='EN'">Discount</span>
                                    </label>
                                    <div dir="ltr" class="input-group" id="discount">
                                        <span class="input-group-addon">
                                            <span>%</span>
                                        </span>
                                        <input dir="rtl"
                                               type="number"
                                               min="0"
                                               max="100"
                                               disable-validation-message=""
                                               class="form-control"
                                               ng-model="billBuy.discount">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">
                                    <span ng-if="lang==='AR'">ملاحظات</span>
                                    <span ng-if="lang==='EN'">Notes</span>
                                </label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          ng-model="billBuy.note">
                                </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>