<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}"
                class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">
                <div ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}"
                     class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                    <button id="billBuy-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">العمليات</span>
                        <span ng-if="lang==='EN'">Actions</span>
                    </button>
                    <ul ng-class="{'mdl-menu--bottom-right' : lang==='AR', 'mdl-menu--bottom-left' : lang==='EN'}"
                        class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
                        for="billBuy-menu-lower-right">
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                            ng-click="openFilter()">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">visibility</i>
                                <span ng-if="lang==='AR'">عرض البيانات</span>
                                <span ng-if="lang==='EN'">View</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="newBillBuy();"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">add</i>
                                <span ng-if="lang==='AR'">انشاء فاتورة شراء جديدة</span>
                                <span ng-if="lang==='EN'">New...</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="delete()"
                            ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_DELETE']) && toggleList===1"
                            ng-hide="!billBuys || billBuys.length==0">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">delete</i>
                                <span ng-if="lang==='AR'">حذف الفاتورة شراء</span>
                                <span ng-if="lang==='EN'">Delete</span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" ng-init="toggleList=1">
                    <div class="btn-toolbar">
                        <div class="btn-group" data-toggle="buttons">
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=1"
                                    ng-class="{'active':toggleList===1}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">reorder</i>
                            </button>
                            <button class="btn btn-default mdl-button mdl-js-button mdl-js-ripple-effect"
                                    type="button" ng-click="toggleList=2"
                                    ng-class="{'active':toggleList===2}">
                                <input type="radio" name="options"/>
                                <i class="material-icons">view_column</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="home" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">dashboard</i>
                    <span ng-if="lang==='AR'">الرئيسية</span>
                    <span ng-if="lang==='EN'">DASHBOARD</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="company" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">business</i>
                    <span ng-if="lang==='AR'">الشركة</span>
                    <span ng-if="lang==='EN'">COMPANY</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="customer" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_CREATE', 'ROLE_CUSTOMER_UPDATE', 'ROLE_CUSTOMER_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_circle</i>
                    <span ng-if="lang==='AR'">العملاء</span>
                    <span ng-if="lang==='EN'">CUSTOMERS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="falcon" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_FALCON_CREATE', 'ROLE_FALCON_UPDATE', 'ROLE_FALCON_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">adb</i>
                    <span ng-if="lang==='AR'">حسابات الصقور</span>
                    <span ng-if="lang==='EN'">FALCONS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="doctor" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DOCTOR_CREATE', 'ROLE_DOCTOR_UPDATE', 'ROLE_DOCTOR_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">local_hospital</i>
                    <span ng-if="lang==='AR'">الاطباء</span>
                    <span ng-if="lang==='EN'">DOCTORS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="employee.list" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_EMPLOYEE_CREATE', 'ROLE_EMPLOYEE_UPDATE', 'ROLE_EMPLOYEE_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">person_pin_circle</i>
                    <span ng-if="lang==='AR'">الموظفون</span>
                    <span ng-if="lang==='EN'">EMPLOYEES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="detectionType" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DETECTION_TYPE_CREATE', 'ROLE_DETECTION_TYPE_UPDATE', 'ROLE_DETECTION_TYPE_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">spa</i>
                    <span ng-if="lang==='AR'">أنواع الفحص</span>
                    <span ng-if="lang==='EN'">DETECTION TYPES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="order" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_ORDER_CREATE', 'ROLE_ORDER_UPDATE', 'ROLE_ORDER_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">burst_mode</i>
                    <span ng-if="lang==='AR'">طلبات الفحص</span>
                    <span ng-if="lang==='EN'">DETECTION ORDERS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="diagnosis" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DIAGNOSIS_CREATE', 'ROLE_DIAGNOSIS_UPDATE', 'ROLE_DIAGNOSIS_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span ng-if="lang==='AR'">نتائج الفحص</span>
                    <span ng-if="lang==='EN'">DETECTION RESULTS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="drug" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_CREATE', 'ROLE_COMPANY_UPDATE', 'ROLE_COMPANY_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">favorite</i>
                    <span ng-if="lang==='AR'">الدواء</span>
                    <span ng-if="lang==='EN'">DRUGS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="supplier" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_CREATE', 'ROLE_SUPPLIER_UPDATE', 'ROLE_SUPPLIER_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">store</i>
                    <span ng-if="lang==='AR'">الموردين</span>
                    <span ng-if="lang==='EN'">SUPPLIER</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="billBuy" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE', 'ROLE_BILL_BUY_UPDATE', 'ROLE_BILL_BUY_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span ng-if="lang==='AR'">فواتير الشراء</span>
                    <span ng-if="lang==='EN'">BILL BUYS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="billSell.insideSales" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE', 'ROLE_BILL_SELL_UPDATE', 'ROLE_BILL_SELL_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">shopping_cart</i>
                    <span ng-if="lang==='AR'">فواتير البيع</span>
                    <span ng-if="lang==='EN'">BILL SELL</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="bank" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BANK_CREATE', 'ROLE_BANK_UPDATE', 'ROLE_BANK_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_balance</i>
                    <span ng-if="lang==='AR'">الحسابات البنكية</span>
                    <span ng-if="lang==='EN'">BANKS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="team" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">security</i>
                    <span ng-if="lang==='AR'">الصلاحيات</span>
                    <span ng-if="lang==='EN'">PRIVILEGES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="report" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span ng-if="lang==='AR'">التقارير</span>
                    <span ng-if="lang==='EN'">REPORTS</span>
                </span>
            </a>
        </nav>
    </div>

    <main class="mdl-layout__content">

        <div class="page-content row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="openFilter()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تصفية البيانات' : 'Filter'}}">
                                    <span class="fa fa-filter"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                                   ng-click="newBillBuy()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء فاتورة شراء' : 'New Bill...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">قائمة الفواتير</h3>
                            <h3 ng-if="lang==='EN'">Bills List</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection1" st-safe-src="billBuys"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span ng-if="lang==='AR'">م</span>
                                        <span ng-if="lang==='EN'">#</span>
                                    </th>

                                    <th st-sort="code">
                                        <span ng-if="lang==='AR'">رقم فاتورة الشراء</span>
                                        <span ng-if="lang==='EN'">Bill Purchace Code</span>
                                    </th>

                                    <th st-sort="supplier.name">
                                        <span ng-if="lang==='AR'">المورد</span>
                                        <span ng-if="lang==='EN'">Supplier</span>
                                    </th>

                                    <th st-sort="paymentMethod">
                                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                                        <span ng-if="lang==='EN'">Payment Method</span>
                                    </th>

                                    <th st-sort="unitBuyCostSum">
                                        <span ng-if="lang==='AR'">إجمالي الفاتورة</span>
                                        <span ng-if="lang==='EN'">Total Cost</span>
                                    </th>

                                    <th st-sort="discount">
                                        <span ng-if="lang==='AR'">الخصم المكتسب</span>
                                        <span ng-if="lang==='EN'">Earned Discount</span>
                                    </th>

                                    <th st-sort="net">
                                        <span ng-if="lang==='AR'">الصافي</span>
                                        <span ng-if="lang==='EN'">Net</span>
                                    </th>

                                    <th st-sort="date">
                                        <span ng-if="lang==='AR'">التاريخ</span>
                                        <span ng-if="lang==='EN'">Date</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="billBuy in collection1"
                                    st-select-mode="single"
                                    context-menu="rowMenu"
                                    ng-click="setSelected(billBuy)"
                                    ng-right-click="setSelected(billBuy)"
                                    ng-class="{'mdl-color--blue-grey-100':billBuy.isSelected}">
                                    <td st-select-row-custom="billBuy">{{$index+1}}</td>
                                    <td st-select-row-custom="billBuy">{{billBuy.code}}</td>
                                    <td st-select-row-custom="billBuy">{{billBuy.supplier.name}}</td>
                                    <td st-select-row-custom="billBuy">{{billBuy.paymentMethod}}</td>
                                    <td st-select-row-custom="billBuy">{{billBuy.unitBuyCostSum}} SAR</td>
                                    <td st-select-row-custom="billBuy">{{billBuy.discount}} %</td>
                                    <td st-select-row-custom="billBuy">{{billBuy.net}} SAR</td>
                                    <td st-select-row-custom="billBuy">
                                        <span ng-show="dateType==='H'">{{billBuy.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{billBuy.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{billBuy.date | date:'h:m a'}}</span>
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection1 || collection1.length ==0">
                                    <td colspan="8">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1"
                 ng-hide="!billBuys || billBuys.length==0">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshTransactionBuyByBill()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                                <a href=""
                                   ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                                   ng-show="selected.id"
                                   ng-click="newTransactionBuy()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'انشاء طلبية شراء' : 'New Order...'}}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">حركات الشراء (طلبيات شراء الأدوية)</h3>
                            <h3 ng-if="lang==='EN'">Buys Transactions (Drugs Stock)</h3>
                            <fieldset ng-if="selected.id">
                                <span ng-if="lang==='AR'">رقم فاتورة الشراء / {{selected.code}}</span>
                                <span ng-if="lang==='EN'">Bill Purchace Code / {{selected.code}}</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection2" st-safe-src="selected.transactionBuys"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span ng-if="lang==='AR'">م</span>
                                        <span ng-if="lang==='EN'">#</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">رقم الحركة</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>

                                    <th st-sort="productionDate">
                                        <span ng-if="lang==='AR'">تاريخ الحركة</span>
                                        <span ng-if="lang==='EN'">Transaction Date</span>
                                    </th>

                                    <th st-sort="drug.code">
                                        <span ng-if="lang==='AR'">الدواء</span>
                                        <span ng-if="lang==='EN'">Drug</span>
                                    </th>

                                    <th st-sort="drugUnit">
                                        <span ng-if="lang==='AR'">وحدة القياس</span>
                                        <span ng-if="lang==='EN'">Unit</span>
                                    </th>

                                    <th st-sort="unitBuyCost">
                                        <span ng-if="lang==='AR'">سعر الشراء للوحدة</span>
                                        <span ng-if="lang==='EN'">Unit Purchace Cost</span>
                                    </th>

                                    <th st-sort="unitSellCost">
                                        <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                        <span ng-if="lang==='EN'">Unit Sell Cost</span>
                                    </th>

                                    <th st-sort="quantity">
                                        <span ng-if="lang==='AR'">كمية المشتريات</span>
                                        <span ng-if="lang==='EN'">Purchace Quantity</span>
                                    </th>

                                    <th st-sort="salesQuantity">
                                        <span ng-if="lang==='AR'">كمية المبيعات</span>
                                        <span ng-if="lang==='EN'">Sales Quantity</span>
                                    </th>

                                    <th st-sort="realQuantity">
                                        <span ng-if="lang==='AR'">الرصيد الحالي</span>
                                        <span ng-if="lang==='EN'">Real Quantity</span>
                                    </th>

                                    <th st-sort="productionDate">
                                        <span ng-if="lang==='AR'">تاريخ الإنتاج</span>
                                        <span ng-if="lang==='EN'">Production Date</span>
                                    </th>

                                    <th st-sort="warrantInMonth">
                                        <span ng-if="lang==='AR'">مدة الصلاحية (بالشهر)</span>
                                        <span ng-if="lang==='EN'">Shelf Life (In Month)</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="transactionBuy in collection2"
                                    st-select-mode="single"
                                    context-menu="transactionBuyRowMenu"
                                    ng-click="setSelectedTransactionBuy(transactionBuy);refreshTransactionSellByTransactionBuy()"
                                    ng-right-click="setSelectedTransactionBuy(transactionBuy)"
                                    ng-class="{'mdl-color--blue-grey-100':transactionBuy.isSelected}">
                                    <td st-select-row-custom="transactionBuy">{{$index+1}}</td>
                                    <td st-select-row-custom="transactionBuy">{{transactionBuy.code}}</td>
                                    <td st-select-row-custom="transactionBuy">
                                        <span ng-show="dateType==='H'">{{transactionBuy.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{transactionBuy.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{transactionBuy.date | date:'h:m a'}}</span>
                                    </td>
                                    <td st-select-row-custom="transactionBuy">
                                        [{{transactionBuy.drug.code}}]
                                        [
                                        <span ng-if="lang==='AR'">{{transactionBuy.drug.nameArabic}}</span>
                                        <span ng-if="lang==='EN'">{{transactionBuy.drug.nameEnglish}}</span>
                                        ][
                                        <span ng-if="lang==='AR'">{{transactionBuy.drug.medicalNameArabic}}</span>
                                        <span ng-if="lang==='EN'">{{transactionBuy.drug.medicalNameEnglish}}</span>
                                        ]
                                    </td>
                                    <td st-select-row-custom="transactionBuy">{{transactionBuy.drugUnit.name}}</td>
                                    <td st-select-row-custom="transactionBuy">
                                        <span class="label label-danger">{{transactionBuy.unitBuyCost}} SAR</span>
                                    </td>
                                    <td st-select-row-custom="transactionBuy">
                                        <span class="label label-danger">{{transactionBuy.unitSellCost}} SAR</span>
                                    </td>
                                    <td st-select-row-custom="transactionBuy">{{transactionBuy.quantity}}</td>
                                    <td st-select-row-custom="transactionBuy">{{transactionBuy.salesQuantity}}</td>
                                    <td st-select-row-custom="transactionBuy" ng-class="{'danger' : (transactionBuy.salesQuantity > 0) && transactionBuy.realQuantity > (transactionBuy.quantity - 10)}">{{transactionBuy.realQuantity}}</td>
                                    <td st-select-row-custom="transactionBuy">
                                        <span ng-show="dateType==='H'">{{transactionBuy.productionDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{transactionBuy.productionDate | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{transactionBuy.productionDate | date:'h:m a'}}</span>
                                    </td>
                                    <td st-select-row-custom="transactionBuy">{{transactionBuy.warrantInMonth}}</td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection2 || collection2.length ==0">
                                    <td colspan="12">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===1" ng-hide="!selectedTransactionBuy.id">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <ul class="panel-controls" ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}"
                            style="margin-top: 2px;">
                            <li>
                                <a href=""
                                   ng-click="refreshTransactionSellByTransactionBuy()"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{lang==='AR' ? 'تحديث البيانات' : 'Refresh'}}">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">حركات البيع (طلبيات بيع الأدوية)</h3>
                            <h3 ng-if="lang==='EN'">Sells Transactions (Drugs Stock)</h3>
                            <fieldset ng-if="selected.id">
                                [{{selectedTransactionBuy.drug.code}}]
                                [
                                <span ng-if="lang==='AR'">{{selectedTransactionBuy.drug.nameArabic}}</span>
                                <span ng-if="lang==='EN'">{{selectedTransactionBuy.drug.nameEnglish}}</span>
                                ][
                                <span ng-if="lang==='AR'">{{selectedTransactionBuy.drug.medicalNameArabic}}</span>
                                <span ng-if="lang==='EN'">{{selectedTransactionBuy.drug.medicalNameEnglish}}</span>
                                ]
                            </fieldset>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table st-table="collection3" st-safe-src="selectedTransactionBuy.transactionSells"
                                   class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <span ng-if="lang==='AR'">م</span>
                                        <span ng-if="lang==='EN'">#</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">رقم فاتورة البيع</span>
                                        <span ng-if="lang==='EN'">Bill Sell Code</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">رقم الحركة</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </th>

                                    <th st-sort="productionDate">
                                        <span ng-if="lang==='AR'">تاريخ الحركة</span>
                                        <span ng-if="lang==='EN'">Transaction Date</span>
                                    </th>

                                    <th st-sort="drugUnit">
                                        <span ng-if="lang==='AR'">وحدة القياس</span>
                                        <span ng-if="lang==='EN'">Unit</span>
                                    </th>

                                    <th st-sort="unitCost">
                                        <span ng-if="lang==='AR'">سعر البيع للوحدة</span>
                                        <span ng-if="lang==='EN'">Unit Sell Cost</span>
                                    </th>

                                    <th st-sort="quantity">
                                        <span ng-if="lang==='AR'">الكمية</span>
                                        <span ng-if="lang==='EN'">Quantity</span>
                                    </th>

                                    <th>
                                        <span ng-if="lang==='AR'">العمليات</span>
                                        <span ng-if="lang==='EN'">Action</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="transactionSell in collection3">
                                    <td>{{$index+1}}</td>
                                    <td>{{transactionSell.billSell.code}}</td>
                                    <td>{{transactionSell.code}}</td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{transactionSell.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{transactionSell.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{transactionSell.date | date:'h:m a'}}</span>
                                    </td>
                                    <td>{{transactionSell.drugUnit.name}}</td>
                                    <td>
                                        <span class="label label-danger">{{transactionSell.unitSellCost}} SAR</span>
                                    </td>
                                    <td>{{transactionSell.quantity}}</td>
                                    <td>
                                        <a href=""
                                           ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_DELETE'])"
                                           ng-click="deleteTransactionSell(transactionSell)">
                                            <strong ng-if="lang==='AR'">حذف</strong>
                                            <strong ng-if="lang==='EN'">Remove</strong>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                    ng-show="!collection3 || collection3.length ==0">
                                    <td colspan="11">
                                        <span ng-if="lang==='AR'">لا توجد بيانات</span>
                                        <span ng-if="lang==='EN'">No Data Found.</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="toggleList===2">
                <div st-table="collection4" st-safe-src="billBuys">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="billBuy in collection4">
                        <!-- CONTACT ITEM -->
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img width="100" height="100"
                                         src="/ui/img/no-image.jpg"
                                         alt="{{billBuy.code}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">
                                        {{billBuy.code}}
                                    </div>
                                </div>
                                <div class="profile-controls">
                                    <!--<a href="" class="profile-control-left"><span class="fa fa-info-circle"></span></a>-->
                                    <!--<a href="" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p>
                                        <strong ng-if="lang==='AR'">رقم الفاتورة</strong>
                                        <strong ng-if="lang==='EN'">Code</strong>
                                        {{billBuy.code}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">المورد</strong>
                                        <strong ng-if="lang==='EN'">Supplier</strong>
                                        {{billBuy.supplier.name}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">طريقة الدفع</strong>
                                        <strong ng-if="lang==='EN'">Payment Method</strong>
                                        {{billBuy.paymentMethod}}
                                    </p>
                                    <hr>
                                    <p>
                                        <strong ng-if="lang==='AR'">التاريخ</strong>
                                        <strong ng-if="lang==='EN'">Date</strong>
                                        <span ng-show="dateType==='H'">{{billBuy.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{billBuy.date | date: 'yyyy-MM-dd'}}</span>
                                        <span class="label label-success">{{billBuy.date | date:'h:m a'}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button uib-tooltip="{{lang==='AR' ? 'انشاء فاتورة شراء' : 'New...'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_CREATE'])"
                                            ng-click="ModalProvider.openBillBuyCreateModel();"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button uib-tooltip="{{lang==='AR' ? 'حذف' : 'Delete'}}"
                                            tooltip-append-to-body="true"
                                            type="button"
                                            ng-if="contains(me.team.authorities, ['ROLE_BILL_BUY_DELETE'])"
                                            ng-click="delete(billBuy)"
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- END CONTACT ITEM -->
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>











