<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong ng-if="lang==='AR'">تصفية وعرض فواتير الشراء</strong>
                <strong ng-if="lang==='EN'">Filter Data</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="supplier" class="control-label">
                    <span ng-if="lang==='AR'">المورد</span>
                    <span ng-if="lang==='EN'">Supplier</span>
                </label>
                <select id="supplier"
                        data-placeholder="{{lang==='AR' ? 'ابحث عن المورد' : 'Search For Supplier...'}}"
                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                        placeholder-text-single="'{{lang==='AR' ? 'اختر المورد' : 'Please Select Supplier...'}}'"
                        class="form-control"
                        chosen=""
                        multiple=""
                        ng-model="buffer.suppliersList"
                        ng-options="( '[ ' + supplier.code + ' ] ' + supplier.name + ' [ ' + supplier.mobile + ' ]') for supplier in suppliers | orderBy:'code' track by supplier.id">
                </select>
            </div>

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="codeFrom" class="control-label">
                        <span ng-if="lang==='AR'">رقم الفاتورة من</span>
                        <span ng-if="lang==='EN'">Code From</span>
                    </label>
                    <input id="codeFrom"
                           type="text"
                           class="form-control"
                           ng-model="buffer.codeFrom">
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="codeTo" class="control-label">
                        <span ng-if="lang==='AR'">رقم الفاتورة إلى</span>
                        <span ng-if="lang==='EN'">Code To</span>
                    </label>
                    <input id="codeTo"
                           type="text"
                           class="form-control"
                           ng-model="buffer.codeTo">
                </div>

            </div>

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="paymentMethod" class="control-label">
                        <span ng-if="lang==='AR'">طريقة الدفع</span>
                        <span ng-if="lang==='EN'">Payment Method</span>
                    </label>
                    <select id="paymentMethod"
                            class="form-control"
                            chosen=""
                            multiple=""
                            disable-validation-message=""
                            ng-model="buffer.paymentMethodList">
                        <option ng-if="lang==='AR'" value="Cash">نقدي</option>
                        <option ng-if="lang==='EN'" value="Cash">Cash</option>
                        <option ng-if="lang==='AR'" value="Check">شيك</option>
                        <option ng-if="lang==='EN'" value="Check">Check</option>
                        <option ng-if="lang==='AR'" value="Later">آجل</option>
                        <option ng-if="lang==='EN'" value="Later">Later</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="checkCode" class="control-label">
                        <span ng-if="lang==='AR'">رقم الشيك</span>
                        <span ng-if="lang==='EN'">Check Code</span>
                    </label>
                    <input id="checkCode"
                           type="number"
                           ng-required="billSellDetection.paymentMethod==='Check'"
                           ng-disabled="billSellDetection.paymentMethod!=='Check'"
                           disable-validation-message=""
                           class="form-control"
                           ng-model="buffer.checkCode">
                </div>

            </div>

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                    <label for="dateFrom" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ الفاتورة من</span>
                        <span ng-if="lang==='EN'">Bill Date From</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="dateFrom"
                               type="text"
                               class="form-control is-calendarPicker"
                               ng-model="buffer.dateFrom"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                    <label for="G-dateFrom" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ الفاتورة من</span>
                        <span ng-if="lang==='EN'">Bill Date From</span>
                    </label>
                    <input id="G-dateFrom"
                           class="form-control "
                           type="date"
                           name="input"
                           ng-model="buffer.dateFrom"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"/>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='H'">
                    <label for="dateTo" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ الفاتورة إلى</span>
                        <span ng-if="lang==='EN'">Bill Date To</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="dateTo"
                               type="text"
                               class="form-control is-calendarPicker"
                               ng-model="buffer.dateTo"
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="dateType==='G'">
                    <label for="G-dateTo" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ الفاتورة إلى</span>
                        <span ng-if="lang==='EN'">Bill Date To</span>
                    </label>
                    <input id="G-dateTo"
                           class="form-control "
                           type="date"
                           name="input"
                           ng-model="buffer.dateTo"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"/>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR'? 'بحث' : 'Search'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">search</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>