<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header mdl-layout--fixed-tabs">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="goFullscreen()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">aspect_ratio</i>
                        <span ng-if="lang==='AR'">تطبيق وضع ملء الشاشة</span>
                        <span ng-if="lang==='EN'">Go To Full Screen</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.qualification}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToProfile()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">account_box</i>
                        <span ng-if="lang==='AR'">الملف الشخصي</span>
                        <span ng-if="lang==='EN'">PROFILE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" class="container" style="margin-top: 10px">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="https://www.dropbox.com/s/9jiz4x239xywmlc/%D8%B4%D8%B9%D8%A7%D8%B1%20%D8%A7%D9%84%D9%85%D8%B9%D9%87%D8%AF%20%D8%A7%D9%84%D9%85%D8%B9%D8%AA%D9%85%D8%AF%20copy.png?raw=1" height="200px%"/>
                            <h1>مركز السلطان للصقور | الصيدلية الذكية</h1>
                            <h3>Version 0.3 &copy; <a href="http://www.ararhni.com" target="_blank">Ararhni.com</a></h3>
                            <hr>
                            <h2>Project Manager & System Analyst</h2>
                            <a href="mailto:w.abukhader@ararhni.com"><h3>Eng. WESSAM ABU KHADER</h3></a>
                            <hr>
                            <h2>Web Developer</h2>
                            <a href="mailto:islamhaker@gmail.com"><h3>Eng. BASSAM ALMAHDY</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>