@charset "UTF-8";

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.st-sort-ascent:before {
    content: '\25B2'!important;
}

.st-sort-descent:before {
    content: '\25BC'!important;
}

html * {
    font-family: 'Changa', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Changa', sans-serif!important;
    font-weight: 500!important;
}

html,
body {
    background: #f5f5f5 url('/ui/img/bg.png') left top repeat!important;
}

.xlg .modal-dialog {
    width: 80%!important;
}

/*.chosen-container-multi .chosen-choices,*/
.chosen-container-single .chosen-single {
    height: 40px !important;
}

.chosen-container-multi .chosen-choices span,
.chosen-container-single .chosen-single span {
    margin-top: 5px !important;
    height: 40px !important;
    font-size: 15px!important;
}

.chosen-container-multi .chosen-choices div,
.chosen-container-single .chosen-single div {
    top: 5px !important;
    left: 5px !important;
    right: auto !important;
}

.chosen-container-multi .chosen-choices li{
    float: right !important;
    text-align: right !important;
}

.table td.fit,
.table th.fit {
    white-space: nowrap!important;
    width: 1%!important;
}

input, .btn {
    height: 40px !important;
}

input{
    direction: rtl !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white !important;
}

.form-control[disabled], .form-control[readonly] {
    color: black !important;
}

.panel-green {
    border-color: #5cb85c!important;
}

.panel-green > .panel-heading {
    border-color: #5cb85c!important;
    color: white!important;
    background-color: #5cb85c!important;
}

.panel-green > a {
    color: #5cb85c!important;
}

.panel-green > a:hover {
    color: #3d8b3d!important;
}

.panel-red {
    border-color: #d9534f!important;
}

.panel-red > .panel-heading {
    border-color: #d9534f!important;
    color: white!important;
    background-color: #d9534f!important;
}

.panel-red > a {
    color: #d9534f!important;
}

.panel-red > a:hover {
    color: #b52b27!important;
}

.panel-yellow {
    border-color: #f0ad4e!important;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e!important;
    color: white!important;
    background-color: #f0ad4e!important;
}

.panel-yellow > a {
    color: #f0ad4e!important;
}

.panel-yellow > a:hover {
    color: #df8a13!important;
}

.mCSB_scrollTools {
    right: auto !important;
    left: 0 !important;
}

.ng-pageslide {
    background: white!important;
    opacity: 0!important;
    box-shadow: 2px 0px 20px 20px rgba(0, 0, 0, 0.1)!important;
}

.panel .panel-title {
    float: right !important;
}

.panel {
    direction: rtl!important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important;
}

.panel .panel-body.profile {
    border-radius: 0px !important;
}

.profile .profile-data {
    height: 20px !important;
}

.profile .profile-data .profile-data-name {
    /*font-size: 5vw !important;*/
}

input[type=checkbox] {
    transform: scale(2) !important;
    -ms-transform: scale(2) !important;
    -webkit-transform: scale(2) !important;
    padding: 10px !important;
    margin: 0px 5px 0px !important;
}

.mdl-layout__header > .mdl-layout-icon {
    left: auto !important;
    right: 15px !important;
}

.mdl-layout__header {
    min-height: 50px !important;
    direction: rtl !important;
}

.mdl-layout__header-row .mdl-navigation {
    height: 50px !important;
    margin-right: 10px !important;
}

.mdl-layout__header > .mdl-layout-icon {
    top: 10px !important;
}

.mdl-layout__header-row {
    padding: 0px 50px 0px 20px !important;
    height: 50px !important;
}

.mdl-layout__title, .mdl-layout-title{
    font-family: 'Changa', sans-serif !important;
}

.mdl-menu {
    width: 310px !important;
}

.mdl-list__item--two-line .mdl-list__item-primary-content {
    text-align: right !important;
}

.mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-avatar {
    float: right!important;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-avatar {
    margin-right: 0px !important;
    margin-left: 16px !important;
    background-size: cover !important;
}

.mdl-list__item .mdl-list__item-primary-content > span{
    font-weight: bolder !important;
}

.mdl-badge {
    cursor: pointer!important;
}

.mdl-menu, .mdl-menu__item {
    text-align: right!important;
    direction: rtl!important;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-left: 10px !important;
    margin-right: 0px !important;
}

.mdl-data-table {
    width: 100%!important;
}

.mdl-data-table th {
    font-size: 12px!important;
}

.mdl-data-table tbody tr td {
    font-size: 12px!important;
}

.mdl-data-table thead tr {
    background-color: lightgray!important;
}

.mdl-data-table th, .mdl-data-table tbody tr, .mdl-data-table tbody tr td {
    line-height: 15px!important;
    height: 30px!important;
}

.material-icons.md-18 {
    font-size: 18px!important;
}

.material-icons.md-24 {
    font-size: 24px!important;
}

.material-icons.md-36 {
    font-size: 36px!important;
}

.material-icons.md-48 {
    font-size: 48px!important;
}

.material-icons.md-120 {
    font-size: 120px!important;
}

.panel {
    border-radius: 0px !important;
}

.full-width-menu {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 2px!important;
}

.full-width-menu .mdl-menu__container,
.full-width-menu .mdl-menu__container .mdl-menu__outline,
.full-width-menu .mdl-menu__container .mdl-menu {
    width: 100% !important;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: right !important;
}

.noty_buttons {
    text-align: left !important;
}

.noty_close {
    right: auto !important;
    left: 0.25rem !important;
}

.activity {
    direction: rtl !important;
}

.label {
    line-height: 2 !important;
}

.label-default {
    margin: 0px 0px 10px 10px !important;
}

/*********/
ul.breadcrumb {
    padding: 10px 16px!important;
    list-style: none!important;
    background-color: #eee!important;
    font-size: 17px !important;
}

ul.breadcrumb li {
    display: inline!important;
}

ul.breadcrumb li + li:before {
    padding: 8px!important;
    color: black!important;
    content: "/\00a0"!important;
}

ul.breadcrumb li a {
    color: #0275d8!important;
    text-decoration: none!important;
}

ul.breadcrumb li a:hover {
    color: #01447e!important;
    text-decoration: underline!important;
}

select {
    height: 40px !important;
}

.drop-menu {
    padding: 10px!important;
    text-align: right!important;
    cursor: pointer!important;
}

.drop-menu .fa {
    margin-left: 10px!important;
}

.drop-menu:hover {
    background-color: lightgrey!important;
}

.disabled > .drop-menu {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.mdl-icon-margin{
    margin-right: 15px !important;
}

.mdl-layout__content{
    direction: rtl !important;
}

.form-group, .form-control{
    text-align: right !important;
    direction: rtl !important;
}

.arabic-control{
    text-align: right !important;
    direction: rtl !important;
}

.english-control{
    text-align: left !important;
    direction: ltr !important;
}

.lang-dir{
    direction: rtl !important;
}

.mdl-data-table thead th,
.mdl-data-table tbody tr,
.mdl-data-table tbody tr td{
    text-align: right !important;
}

.help-block, .modal-header {
    direction: rtl !important;
}

.panel-controls li a{
    float: left !important;
}

/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex!important;
    overflow: hidden!important;
    height: 100vh!important;
    padding-bottom: 200px!important;
    margin-top: 3px!important;
    position: relative!important;
    width: 100%!important;
    backface-visibility: hidden!important;
    will-change: overflow!important;
}

/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Middle {
    overflow: auto!important;
    height: auto!important;
    padding: .5rem!important;
    -webkit-overflow-scrolling: touch!important;
    -ms-overflow-style: auto!important;
}

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Middle::-webkit-scrollbar {
    /*display: none!important;*/
}

.Middle {
    flex: 1!important;
}

.breadcrumb {
    direction: rtl!important;
    float: right!important;
}

.pagination{
    width: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    float: right !important;
}

.pagination>li{
    float: right !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span{
    margin-left: 3px !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.mdl-layout-icon{
    display: inherit !important;
}

.mdl-layout__drawer{
    z-index: 2 !important;
}

.mdl-layout__drawer-button{
    display: none !important;
}

.mdl-layout__drawer{
    padding-top: 122px!important;
}

.mdl-layout__header{
    margin-left: 0px !important;
    width: 100% !important;
}

.mdl-navigation{
    padding-bottom: 16px!important;
}

.mdl-navigation > a{
    text-decoration: none !important;
}

.mdl-navigation__link-active,
.mdl-navigation__link-active .mdl-list__item-primary-content .mdl-list__item-icon{
    color: white !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    padding: 12px 40px 12px 40px !important;
}

.table > thead > tr > th *,
.panel .panel-heading .panel-title-box h3{
    text-transform: uppercase !important;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td{
    font-size: 15px !important;
    font-weight: 800!important;
}

.mdl-tabs__tab, .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
    text-decoration: none !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.mdl-tabs__tab-bar{
    justify-content: right !important;
}

.mdl-shadow--8dp-reverse{
    box-shadow: 0px -8px 10px 1px rgba(0, 0, 0, .14), 0 -3px 14px 2px rgba(0, 0, 0, .12), 0 -5px 5px -3px rgba(0, 0, 0, .2) !important;
}

.input-group
.form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle{
    border-top-right-radius : 0!important;
    border-bottom-right-radius : 0!important;
    border-top-left-radius : 3px!important;
    border-bottom-left-radius : 3px!important;
}

.text-overflow-dots{
    width : 100%!important;
    overflow:hidden!important;
    display:inline-block!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}

/** CheckBox **/
.mdl-checkbox.is-upgraded{
    padding-right: 24px!important;
    padding-left: auto!important;
}
.mdl-checkbox__box-outline{
    right: 0!important;
    left: auto!important;
}
.mdl-checkbox__ripple-container{
    right: -10px!important;
    left: auto!important;
}
/** CheckBox **/

/****************************************************************************************************/
/*                                                                                                  */
/*                                                                                                  */
/*                                      PERSONAL STYLE                                              */
/*                                                                                                  */
/*                                                                                                  */
/****************************************************************************************************/
.card-square.mdl-card {
    width: auto!important;
    padding: 10px 0px 10px 0px!important;
}

.card-square > .mdl-card__title {
    color: #fff!important;
}

.card-square > .title-card {
    background-color: #313534!important;
}

.card-square {
    margin: 10px!important;
    min-height: inherit!important;
    background-color: #313534!important;
}

.card-square, .card-square:hover, .card-square:focus {
    color: white !important;
    font-weight: 500!important;
    text-decoration: none !important;
}

/*******************************/

.mdl-tabs__panel{
    padding: 10px!important;
}
